Repository webiny/webiny-js, pull requests merged in 2018-10, with the labels that each got.

#204 Implement ImageEditor component
  packages/webiny-app/src/components/withFileUpload.js
  packages/webiny-ui/package.json
  packages/webiny-ui/src/ImageEditor/ImageEditor.js
  packages/webiny-ui/src/ImageEditor/index.js
  packages/webiny-ui/src/ImageEditor/toolbar/crop.js
  packages/webiny-ui/src/ImageEditor/toolbar/draw.js
  packages/webiny-ui/src/ImageEditor/toolbar/filter.js
  packages/webiny-ui/src/ImageEditor/toolbar/flip.js
  packages/webiny-ui/src/ImageEditor/toolbar/icons/crop.svg
  packages/webiny-ui/src/ImageEditor/toolbar/icons/draw.svg
  packages/webiny-ui/src/ImageEditor/toolbar/icons/filter.svg
  packages/webiny-ui/src/ImageEditor/toolbar/icons/flip.svg
  packages/webiny-ui/src/ImageEditor/toolbar/icons/index.js
  packages/webiny-ui/src/ImageEditor/toolbar/icons/redo.svg
  packages/webiny-ui/src/ImageEditor/toolbar/icons/rotateLeft.svg
  packages/webiny-ui/src/ImageEditor/toolbar/icons/rotateRight.svg
  packages/webiny-ui/src/ImageEditor/toolbar/icons/undo.svg
  packages/webiny-ui/src/ImageEditor/toolbar/index.js
  packages/webiny-ui/src/ImageEditor/toolbar/redo.js
  packages/webiny-ui/src/ImageEditor/toolbar/rotate.js
  packages/webiny-ui/src/ImageEditor/toolbar/types.js
  packages/webiny-ui/src/ImageEditor/toolbar/undo.js
  packages/webiny-ui/src/ImageUpload/Image.js
  packages/webiny-ui/src/ImageUpload/ImageEditorDialog.js
  packages/webiny-ui/src/ImageUpload/MultiImageUpload.js
  packages/webiny-ui/src/ImageUpload/SingleImageUpload.js
  packages/webiny-ui/src/ImageUpload/SingleImageUpload.stories.js
  packages/webiny-ui/src/ImageUpload/convertToBase64.js
  packages/webiny-ui/src/ImageUpload/icons/round-edit-24px.svg
  packages/webiny-ui/src/ImageUpload/image.jpeg
  packages/webiny-ui/src/Radio/Radio.styles.js
  packages/webiny-ui/src/index.scss
  yarn.lock
Labels: pkg: webiny-ui, tag: new feature

#209 feat: ✨ Implement Image component.
  packages/webiny-ui/package.json
  packages/webiny-ui/src/Image/Image.js
  packages/webiny-ui/src/Image/Image.stories.js
  packages/webiny-ui/src/Image/README.md
  packages/webiny-ui/src/Image/index.js
  yarn.lock
Labels: pkg: webiny-ui, tag: new feature

#202 feat: ✨ New search box design.
  packages/webiny-app-admin/src/plugins/SearchBar/SearchBar.js
  packages/webiny-app-admin/src/plugins/SearchBar/styled.js
Labels: pkg: webiny-app-admin, tag: enhancement

#200 Fix scaling of block preview.
  packages/webiny-app-cms/src/editor/plugins/blockEditing/AutoScale.js
  packages/webiny-app-cms/src/editor/plugins/blockEditing/SearchBlocks.js
  packages/webiny-app-cms/src/editor/plugins/blockEditing/StyledComponents.js
  packages/webiny-app-cms/src/editor/plugins/elements/image/Image.js
Labels: pkg: webiny-app-cms, tag: bug fix

#199 fix: 🐛 Fixed icon active status on toolbar and element settings.
  packages/webiny-app-cms/src/editor/plugins/elementSettings/Action.js
  packages/webiny-app-cms/src/editor/plugins/toolbar/Action.js
Labels: pkg: webiny-app-cms, tag: bug fix

#198 Login error message and theme font color.
  packages/demo-theme/src/style/elements/typography.scss
  packages/demo-theme/src/style/variables.scss
  packages/webiny-app-admin/src/views/Login.js
Labels: pkg: webiny-app-admin, tag: bug fix

#197 Fix font color and width on Avatar component
  packages/webiny-app-admin/src/plugins/UserMenu/plugins/UserInfo/UserInfo.js
  packages/webiny-app-admin/src/views/Users/UsersDataList.js
  packages/webiny-ui/src/Avatar/Avatar.js
  packages/webiny-ui/src/List/DataList/DataList.js
Labels: pkg: webiny-ui, tag: bug fix

#212 AutoComplete - add support for handling simple string values
  packages/webiny-app-admin/src/views/Roles.js
  packages/webiny-app-admin/src/views/Roles/RolesForm.js
  packages/webiny-ui/src/AutoComplete/AutoComplete.js
  packages/webiny-ui/src/AutoComplete/AutoComplete.stories.js
Labels: pkg: webiny-ui, tag: new feature

#215 webiny-js-139 Autocomplete - navigation with arrow keys no longer works
  packages/webiny-ui/src/Input/Input.js
Labels: pkg: webiny-ui, tag: bug fix

#223 Entity - fix delete method - savedOn / updatedOn must update
  packages/webiny-entity/__tests__/entities/softDeleteEntity.js
  packages/webiny-entity/__tests__/softDelete.test.js
  packages/webiny-entity/src/entity.js
Labels: pkg: webiny-api, tag: bug fix

#227 webiny-js-224 Implement withDialog HOC
  packages/webiny-app-admin/src/components/index.js
  packages/webiny-app-admin/src/components/withCrud.js
  packages/webiny-app-admin/src/components/withDialog.js
  packages/webiny-app-admin/src/plugins/Dialog/Dialog.js
  packages/webiny-app-admin/src/plugins/Dialog/index.js
  packages/webiny-app-admin/src/presets/default.js
Labels: pkg: webiny-ui, tag: new feature

#228 Show critical form errors in dialog instead of snackbar.
  packages/webiny-app-admin/src/components/withCrud.js
Labels: pkg: webiny-ui, tag: new feature

#230 Ensure before / after events are executed independently
  packages/webiny-entity/__tests__/events.test.js
  packages/webiny-entity/src/entity.js
  packages/webiny-entity/src/entityAttributes/entitiesAttribute.js
  packages/webiny-entity/src/entityAttributes/entitiesAttributeValue.js
  packages/webiny-entity/src/entityAttributes/entityAttribute.js
Labels: pkg: webiny-entity, tag: bug fix

#234 fix: apply passed sorters in "findOne" method (via "sort" named param).
  packages/webiny-entity-mysql/__tests__/findOne.test.js
  packages/webiny-entity-mysql/src/mysqlDriver.js
Labels: pkg: webiny-entity-mysql, tag: bug fix

#217 feat: ✨ Dropzones are only visible on hover.
  packages/webiny-app-cms/src/editor/components/DropZone/Horizontal.js
  packages/webiny-app-cms/src/editor/components/DropZone/Vertical.js
Labels: pkg: webiny-app-cms, tag: enhancement

#250 Add revision version number
  packages/webiny-api-cms/src/dataSource/schemas/Page.schema.js
  packages/webiny-api-cms/src/dataSource/schemas/Revision.schema.js
  packages/webiny-api-cms/src/entities/Page.entity.js
  packages/webiny-api-cms/src/entities/Page.mysql.js
  packages/webiny-api-cms/src/entities/Revision.entity.js
  packages/webiny-api-cms/src/entities/Revision.mysql.js
  packages/webiny-app-cms/src/admin/graphql/pages.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/pageRevisions/CreateRevisionDialog.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/pageRevisions/Revision.js
  packages/webiny-app-cms/src/admin/views/Pages/Pages.js
  packages/webiny-app-cms/src/admin/views/Pages/PagesDataList.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/Title.js
  packages/webiny-app-cms/src/editor/redux/index.js
Labels: pkg: webiny-app-cms, tag: new feature, webiny-api-cms

#251 Handle page title using Esc, Enter and blur events.
  packages/webiny-app-cms/src/editor/plugins/defaultBar/Styled.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/Title.js
Labels: pkg: webiny-app-cms, tag: new feature

#252 Add "fsevents" to optional dependencies to reduce node CPU usage.
  packages/webiny-api/package.json
  yarn.lock
Labels: tag: internal

#253 Update babel configs to work with CRA v2.
  babel.config.js
  packages/demo-admin/.babelrc.js
  packages/demo-admin/overrides/babel.js
  packages/demo-admin/package.json
  packages/demo-api/.babelrc.js
  packages/webiny-app-cms/.babelrc
  yarn.lock
Labels: tag: internal

#256 Removed "fabric" lib from dependencies (not needed)
  packages/webiny-ui/package.json
  yarn.lock
Labels: pkg: webiny-ui, tag: bug fix

#258 Implemented "groupBy" option
  packages/webiny-entity-mysql/__tests__/count.test.js
  packages/webiny-entity-mysql/__tests__/find.test.js
  packages/webiny-entity-mysql/__tests__/findOne.test.js
  packages/webiny-entity-mysql/__tests__/statements/select.test.js
  packages/webiny-entity-mysql/src/mysqlDriver.js
  packages/webiny-entity-mysql/src/statements/select.js
  packages/webiny-entity-mysql/src/statements/statement.js
Labels: pkg: webiny-entity-mysql, tag: new feature

#259 Added ability to pass custom SQL queries into find methods.
  packages/webiny-entity-mysql/__tests__/count.test.js
  packages/webiny-entity-mysql/__tests__/find.test.js
  packages/webiny-entity-mysql/__tests__/findOne.test.js
  packages/webiny-entity-mysql/src/mysqlDriver.js
  packages/webiny-entity-mysql/src/statements/select.js
  packages/webiny-entity-mysql/src/statements/statement.js
Labels: pkg: webiny-entity-mysql, tag: new feature

#260 Entity / entities attributes - fixed save / delete behavior when set as dynamic
  packages/webiny-entity/__tests__/attributes/entitiesAttributes/withoutStorage/using/autoDeleteSave.test.js
  packages/webiny-entity/__tests__/attributes/entityAttribute/delete.test.js
  packages/webiny-entity/__tests__/entities/abcDynamicAttribute.js
  packages/webiny-entity/__tests__/entities/entitiesUsingDynamic.js
  packages/webiny-entity/src/entityAttributes/entitiesAttribute.js
  packages/webiny-entity/src/entityAttributes/entityAttribute.js
Labels: pkg: webiny-entity, tag: bug fix

#261 Added ability to manually assign an ID before saving a new entity
  packages/webiny-entity-mysql/__tests__/save.test.js
  packages/webiny-entity-mysql/src/mysqlDriver.js
Labels: pkg: webiny-entity-mysql, tag: new feature

#265 Added "createPaginationMeta" helper function for manual creation of pagination meta
  packages/webiny-api-cms/src/dataSource/schemas/pageResolvers/listPages.js
  packages/webiny-api/src/graphql/crudResolvers.js
  packages/webiny-api/src/graphql/schema/genericTypes.js
  packages/webiny-app-admin/src/views/ApiTokens/graphql.js
  packages/webiny-app-admin/src/views/Groups/graphql.js
  packages/webiny-app-admin/src/views/Roles/graphql.js
  packages/webiny-app-admin/src/views/Users/graphql.js
  packages/webiny-app-cms/src/admin/graphql/pages.js
  packages/webiny-app-cms/src/admin/views/Categories/graphql.js
  packages/webiny-entity-mysql/src/mysqlDriver.js
  packages/webiny-entity/__tests__/createPaginationMeta.test.js
  packages/webiny-entity/__tests__/entityCollection.test.js
  packages/webiny-entity/index.js
  packages/webiny-entity/src/createPaginationMeta.js
  packages/webiny-entity/src/entity.js
  packages/webiny-entity/src/index.js
Labels: pkg: webiny-entity, tag: new feature

#267 Limit block list max width.
  packages/webiny-app-cms/src/editor/plugins/blockEditing/StyledComponents.js
Labels: pkg: webiny-app-cms, tag: bug fix

#268 Add saving and saved status icon.
  packages/webiny-app-cms/src/editor/assets/icons/baseline-cloud_done-24px.svg
  packages/webiny-app-cms/src/editor/assets/icons/baseline-cloud_upload-24px.svg
  packages/webiny-app-cms/src/editor/plugins/toolbar/saving/Saving.js
Labels: pkg: webiny-app-cms, tag: enhancement

#270 Visual improvements to page list view.
  packages/demo-theme/src/style/base.scss
  packages/demo-theme/src/style/theme.scss
  packages/webiny-api-cms/src/dataSource/schemas/Page.schema.js
  packages/webiny-api-cms/src/dataSource/setupEntities.js
  packages/webiny-app-admin/src/components/Layouts/AdminLayout.js
  packages/webiny-app-admin/src/components/Views/CompactView/CompactView.js
  packages/webiny-app-admin/src/components/withCrud.js
  packages/webiny-app-admin/src/plugins/UserMenu/UserMenu.js
  packages/webiny-app-cms/src/admin/assets/round-publish-24px.svg
  packages/webiny-app-cms/src/admin/components/index.js
  packages/webiny-app-cms/src/admin/components/withSavedElements/createElementPlugin.js
  packages/webiny-app-cms/src/admin/components/withSavedElements/withSavedElements.js
  packages/webiny-app-cms/src/admin/plugins/index.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/header/Header.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/header/index.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/header/publishRevision/PublishRevision.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/header/publishRevision/PublishRevisionDialog.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/pageRevisions/Revision.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/pageRevisions/RevisionsList.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/previewContent/index.js
  packages/webiny-app-cms/src/admin/views/Categories/CategoriesForm.js
  packages/webiny-app-cms/src/admin/views/Pages/PageDetails.js
  packages/webiny-app-cms/src/admin/views/Pages/Pages.js
  packages/webiny-app-cms/src/editor/actions/actions.js
  packages/webiny-app-cms/src/editor/components/DropZone/Horizontal.js
  packages/webiny-app-cms/src/editor/components/Editor/DefaultEditorBar.js
  packages/webiny-app-cms/src/editor/components/Element.js
  packages/webiny-app-cms/src/editor/components/index.js
  packages/webiny-app-cms/src/editor/plugins/blockEditing/BlockPreview.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/BackButton.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/Styled.js
  packages/webiny-app-cms/src/editor/plugins/elementGroups/saved/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/cards/card-1/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/row/index.js
  packages/webiny-app-cms/src/editor/plugins/toolbar/addElement/StyledComponents.js
  packages/webiny-app-cms/src/render/plugins/elements/document/Document.js
  packages/webiny-app/types.js
  packages/webiny-form/src/Form.js
  packages/webiny-ui/src/Input/Input.js
  yarn.lock
Labels: pkg: webiny-app-cms, tag: enhancement

#271 Optimized for serverless environment
  packages/demo-api/package.json
  packages/demo-api/src/configs/development.js
  packages/webiny-api/src/install/createMySQLTables.js
  packages/webiny-api/src/lambda/lambda.js
  packages/webiny-app-admin/src/components/Views/CompactView/CompactView.js
  packages/webiny-entity-mysql/__tests__/attributes/entitiesAttribute.test.js
  packages/webiny-entity-mysql/__tests__/find.test.js
  packages/webiny-entity-mysql/__tests__/search.test.js
  packages/webiny-entity-mysql/package.json
  packages/webiny-entity-mysql/src/mysqlDriver.js
  packages/webiny-sql-table-mysql/package.json
  packages/webiny-sql-table-mysql/src/mysqlDriver.js
Labels: pkg: webiny-entity-mysql, tag: bug fix

#273 Major CMS editor performance upgrade.
  packages/webiny-app-cms/package.json
  packages/webiny-app-cms/src/admin/graphql/pages.js
  packages/webiny-app-cms/src/admin/views/Pages/Editor.js
  packages/webiny-app-cms/src/editor/actions/actions.js
  packages/webiny-app-cms/src/editor/actions/history/actions.js
  packages/webiny-app-cms/src/editor/actions/history/debug.js
  packages/webiny-app-cms/src/editor/actions/history/helpers.js
  packages/webiny-app-cms/src/editor/actions/history/index.js
  packages/webiny-app-cms/src/editor/actions/history/reducer.js
  packages/webiny-app-cms/src/editor/actions/revision.actions.js
  packages/webiny-app-cms/src/editor/components/Draggable.js
  packages/webiny-app-cms/src/editor/components/DropZone.js
  packages/webiny-app-cms/src/editor/components/DropZone/Center.js
  packages/webiny-app-cms/src/editor/components/DropZone/Horizontal.js
  packages/webiny-app-cms/src/editor/components/DropZone/Vertical.js
  packages/webiny-app-cms/src/editor/components/Droppable.js
  packages/webiny-app-cms/src/editor/components/Editor/Bar.js
  packages/webiny-app-cms/src/editor/components/Editor/Content.js
  packages/webiny-app-cms/src/editor/components/Editor/DefaultEditorBar.js
  packages/webiny-app-cms/src/editor/components/Editor/DragPreview.js
  packages/webiny-app-cms/src/editor/components/Element.js
  packages/webiny-app-cms/src/editor/components/ElementStyled.js
  packages/webiny-app-cms/src/editor/components/withActiveElement.js
  packages/webiny-app-cms/src/editor/plugins/blockEditing/AddContent.js
  packages/webiny-app-cms/src/editor/plugins/blockEditing/index.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/Revisions.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/Title.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/index.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/bar/ElementSettingsBar.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/bar/index.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/clone/index.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/delete/index.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/save/SaveDialog.js
  packages/webiny-app-cms/src/editor/plugins/elements/block/Block.js
  packages/webiny-app-cms/src/editor/plugins/elements/block/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/cards/card-1/Card.js
  packages/webiny-app-cms/src/editor/plugins/elements/cards/card-1/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/column/Column.js
  packages/webiny-app-cms/src/editor/plugins/elements/column/ColumnChild.js
  packages/webiny-app-cms/src/editor/plugins/elements/column/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/document/Document.js
  packages/webiny-app-cms/src/editor/plugins/elements/document/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/row/ResizeHandle.js
  packages/webiny-app-cms/src/editor/plugins/elements/row/Row.js
  packages/webiny-app-cms/src/editor/plugins/elements/row/RowChild.js
  packages/webiny-app-cms/src/editor/plugins/elements/row/actions.js
  packages/webiny-app-cms/src/editor/plugins/elements/row/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/text/Text.js
  packages/webiny-app-cms/src/editor/plugins/toolbar/Action.js
  packages/webiny-app-cms/src/editor/plugins/toolbar/help/HelpDialog.js
  packages/webiny-app-cms/src/editor/plugins/toolbar/help/index.js
  packages/webiny-app-cms/src/editor/redux/index.js
  packages/webiny-app-cms/src/editor/selectors/index.js
  packages/webiny-app-cms/src/editor/utils.js
  yarn.lock
Labels: pkg: webiny-app-cms, tag: enhancement
