Repository webiny/webiny-js, pull requests merged in 2018-12, with the labels that each got.

#312 Fix package filtering during release.
  packages/demo-admin/src/config/userIdentity.js
  packages/webiny-app/package.json
  packages/webiny-app/src/components/Image.js
  packages/webiny-app/src/components/withFileUpload.js
  packages/webiny-cra-utils/index.js
  packages/webiny-cra-utils/package.json
  packages/webiny-cra-utils/src/babelrc.js
  packages/webiny-cra-utils/src/index.js
  scripts/release/utils/getPackages.js
  yarn.lock
Labels: tag: bug fix

#319 Various CMS visual fixes
  packages/demo-admin/package.json
  packages/demo-theme/src/Button/Button.js
  packages/demo-theme/src/Button/index.js
  packages/demo-theme/src/style/elements/button.scss
  packages/demo-theme/src/style/variables.scss
  packages/webiny-app-cms/package.json
  packages/webiny-app-cms/src/admin/assets/editor-mock.png
  packages/webiny-app-cms/src/admin/plugins/icons/index.js
  packages/webiny-app-cms/src/admin/views/Pages/Editor.js
  packages/webiny-app-cms/src/admin/views/Pages/EditorStyled.js
  packages/webiny-app-cms/src/editor/components/ColorPicker/index.js
  packages/webiny-app-cms/src/editor/components/DropZone/Center.js
  packages/webiny-app-cms/src/editor/components/Editor/Content.js
  packages/webiny-app-cms/src/editor/components/Editor/DefaultEditorBar.js
  packages/webiny-app-cms/src/editor/components/Editor/Editor.scss
  packages/webiny-app-cms/src/editor/components/Editor/Toolbar.js
  packages/webiny-app-cms/src/editor/components/IconPicker.js
  packages/webiny-app-cms/src/editor/plugins/elementActions/settings/AdvancedSettings.js
  packages/webiny-app-cms/src/editor/plugins/elementGroups/basic/index.js
  packages/webiny-app-cms/src/editor/plugins/elementGroups/index.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/background/BackgroundPositionSelector.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/background/Settings.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/save/SaveDialog.js
  packages/webiny-app-cms/src/editor/plugins/elements/button/ButtonContainer.js
  packages/webiny-app-cms/src/editor/plugins/elements/button/LinkSettings.js
  packages/webiny-app-cms/src/editor/plugins/elements/button/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/code/codepen/codepen-brands.svg
  packages/webiny-app-cms/src/editor/plugins/elements/code/codepen/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/code/codesandbox/codesandbox-logo.svg
  packages/webiny-app-cms/src/editor/plugins/elements/code/codesandbox/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/document/Document.js
  packages/webiny-app-cms/src/editor/plugins/elements/icon/Icon.js
  packages/webiny-app-cms/src/editor/plugins/elements/icon/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/icon/round-flag-24px.svg
  packages/webiny-app-cms/src/editor/plugins/elements/icon/round-star_border-24px.svg
  packages/webiny-app-cms/src/editor/plugins/elements/image/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/media/soundcloud/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/media/soundcloud/soundcloud-brands.svg
  packages/webiny-app-cms/src/editor/plugins/elements/media/vimeo/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/media/vimeo/vimeo-v-brands.svg
  packages/webiny-app-cms/src/editor/plugins/elements/media/youtube/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/media/youtube/youtube-brands.svg
  packages/webiny-app-cms/src/editor/plugins/elements/social/instagram/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/social/instagram/instagram-brands.svg
  packages/webiny-app-cms/src/editor/plugins/elements/social/pinterest/PinterestEmbed.js
  packages/webiny-app-cms/src/editor/plugins/elements/social/pinterest/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/social/pinterest/pinterest-brands.svg
  packages/webiny-app-cms/src/editor/plugins/elements/social/twitter/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/social/twitter/twitter-brands.svg
  packages/webiny-app-cms/src/editor/plugins/elements/text/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/utils/oembed/createEmbedPlugin.js
  packages/webiny-app-cms/src/editor/plugins/pageSettings/components/MetaTags.js
  packages/webiny-app-cms/src/editor/plugins/pageSettings/components/OpenGraphTags.js
  packages/webiny-app-cms/src/editor/plugins/toolbar/addElement/AddElement.js
  packages/webiny-app-cms/src/render/plugins/elements/button/Button.js
  packages/webiny-app-cms/src/render/plugins/elements/embeds/pinterest/PinterestEmbed.js
  packages/webiny-app-cms/src/render/plugins/elements/icon/Icon.js
  packages/webiny-ui/src/ImageUpload/Image.js
  packages/webiny-ui/src/Input/Input.js
  yarn.lock
Labels: pkg: webiny-app-cms, tag: bug fix

#309 Menu visual styling
  packages/webiny-app-cms/src/admin/plugins/menuItems/folder/FolderForm.js
  packages/webiny-app-cms/src/admin/plugins/menuItems/link/LinkForm.js
  packages/webiny-app-cms/src/admin/plugins/menuItems/page/PageForm.js
  packages/webiny-app-cms/src/admin/plugins/menuItems/pageList/PageListForm.js
  packages/webiny-app-cms/src/admin/views/Menus/MenusForm/MenuItems.js
  packages/webiny-app-cms/src/admin/views/Menus/MenusForm/MenuItems/MenuItemRenderer.css
  packages/webiny-app-cms/src/admin/views/Menus/MenusForm/MenuItems/MenuItemRenderer.js
  packages/webiny-app-cms/src/admin/views/Menus/MenusForm/MenuItems/MenuItemsList.js
Labels: pkg: webiny-app-cms, tag: enhancement

#328 Fixed "scaling" select in background image settings
  packages/webiny-app-cms/src/editor/plugins/elementSettings/background/Settings.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/components/Select.js
Labels: pkg: webiny-app-cms, tag: bug fix

#327 Handle default route rendering and remove dependency on jQuery
  idea.js
  packages/demo-admin/src/config/development.js
  packages/demo-admin/src/config/production.js
  packages/webiny-react-router/package.json
  packages/webiny-react-router/src/Router.cmp.js
  packages/webiny-react-router/src/Router.js
  yarn.lock
Labels: tag: bug fix, tag: internal

#331 Fix Apollo cache update when page is published.
  packages/webiny-app-cms/src/admin/plugins/pageDetails/utils/withPublishRevisionHandler.js
  packages/webiny-app-cms/src/admin/views/Pages/Editor.js
  packages/webiny-app-cms/src/admin/views/Pages/Loader.js
  packages/webiny-app-cms/src/admin/views/Pages/PageDetails.js
Labels: tag: bug fix

#332 CmsConsumer passes its values via "cms" prop.
  packages/webiny-app-cms/src/admin/views/Categories/CategoriesForm.js
  packages/webiny-app-cms/src/admin/views/Menus/MenusForm.js
  packages/webiny-app-cms/src/context/CmsContext.js
  packages/webiny-app-cms/src/context/index.js
  packages/webiny-app-cms/src/context/withCms.js
  packages/webiny-app-cms/src/editor/components/ColorPicker/index.js
  packages/webiny-app-cms/src/editor/components/Editor/Content.js
  packages/webiny-app-cms/src/editor/components/Slate/Slate.js
  packages/webiny-app-cms/src/editor/plugins/elements/button/ButtonSettings.js
  packages/webiny-app-cms/src/editor/plugins/elements/pagesList/PagesList.js
  packages/webiny-app-cms/src/editor/plugins/elements/pagesList/PagesListSettings.js
  packages/webiny-app-cms/src/editor/plugins/pageSettings/components/GeneralSettings.js
  packages/webiny-app-cms/src/editor/plugins/slate/block/TypographySelector.js
  packages/webiny-app-cms/src/editor/plugins/toolbar/addElement/AddElement.js
  packages/webiny-app-cms/src/render/components/Element.js
  packages/webiny-app-cms/src/render/components/Slate.js
  packages/webiny-app-cms/src/types.js
  yarn.lock
Labels: pkg: webiny-app-cms, tag: new feature

#333 Add site rendering and demo-site app.
  graphql.config.json
  packages/demo-site/.babelrc.js
  packages/demo-site/.gitignore
  packages/demo-site/README.md
  packages/demo-site/config-overrides.js
  packages/demo-site/package.json
  packages/demo-site/public/favicon.ico
  packages/demo-site/public/index.html
  packages/demo-site/public/manifest.json
  packages/demo-site/src/App.js
  packages/demo-site/src/App.scss
  packages/demo-site/src/config/development.js
  packages/demo-site/src/config/index.js
  packages/demo-site/src/config/production.js
  packages/demo-site/src/index.js
  packages/demo-site/src/plugins/fileUploadPlugin.js
  packages/demo-site/src/plugins/imagePlugin.js
  packages/demo-theme/src/layouts/static.js
  packages/webiny-api-cms/src/plugins/graphql/Page.js
  packages/webiny-api-cms/src/plugins/graphql/pageResolvers/getPublishedPage.js
  packages/webiny-api-cms/src/plugins/graphql/pageResolvers/listPublishedPages.js
  packages/webiny-app-cms/package.json
  packages/webiny-app-cms/src/editor/presets/default.js
  packages/webiny-app-cms/src/frontend/app.js
  packages/webiny-app-cms/src/frontend/index.js
  packages/webiny-app-cms/src/frontend/render/api.js
  packages/webiny-app-cms/src/frontend/render/pageRenderer.js
  packages/webiny-app-cms/src/frontend/render/routerMiddleware.js
  packages/webiny-app-cms/src/render/plugins/pageSettings/index.js
  packages/webiny-app-cms/src/render/presets/default.js
  packages/webiny-app-cms/src/site/app.js
  packages/webiny-app-cms/src/site/components/Layout.js
  packages/webiny-app-cms/src/site/components/Loader.js
  packages/webiny-app-cms/src/site/components/Page.js
  packages/webiny-app-cms/src/site/components/loader.png
  packages/webiny-app-cms/src/site/graphql/pages.js
  packages/webiny-app-cms/src/site/index.js
  packages/webiny-app-cms/src/types.js
  packages/webiny-app/src/components/Webiny.js
  packages/webiny-react-router/src/Router.js
  packages/webiny-react-router/src/middleware/render.js
  yarn.lock
Labels: tag: new feature

#336 Introduced default home, 404 and error pages (configurable via CMS settings)
  packages/demo-site/package.json
  packages/demo-site/src/App.js
  packages/demo-site/src/cms/GenericErrorPage.js
  packages/demo-site/src/cms/GenericNotFoundPage.js
  packages/demo-site/src/cms/index.js
  packages/webiny-api-cms/src/entities/CmsSettings.entity.js
  packages/webiny-api-cms/src/entities/index.js
  packages/webiny-api-cms/src/install/importData.js
  packages/webiny-api-cms/src/install/importData/createDefaultPages.js
  packages/webiny-api-cms/src/install/importData/staticPages/error.js
  packages/webiny-api-cms/src/install/importData/staticPages/homepage.js
  packages/webiny-api-cms/src/install/importData/staticPages/index.js
  packages/webiny-api-cms/src/install/importData/staticPages/notFound.js
  packages/webiny-api-cms/src/install/setupEntities.js
  packages/webiny-api-cms/src/plugins/graphql/Page.js
  packages/webiny-api-cms/src/plugins/graphql/pageResolvers/getErrorPage.js
  packages/webiny-api-cms/src/plugins/graphql/pageResolvers/getHomePage.js
  packages/webiny-api-cms/src/plugins/graphql/pageResolvers/getNotFoundPage.js
  packages/webiny-api-cms/src/plugins/index.js
  packages/webiny-api-cms/src/plugins/settings/index.js
  packages/webiny-app-admin/src/app.js
  packages/webiny-app-cms/src/admin/plugins/index.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/CmsSettings.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/PagesAutoComplete.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/graphql.js
  packages/webiny-app-cms/src/admin/plugins/settings/index.js
  packages/webiny-app-cms/src/context/CmsContext.js
  packages/webiny-app-cms/src/context/CmsProvider.js
  packages/webiny-app-cms/src/context/index.js
  packages/webiny-app-cms/src/context/withCms.js
  packages/webiny-app-cms/src/editor/actions/actions.js
  packages/webiny-app-cms/src/editor/plugins/elements/image/Image.js
  packages/webiny-app-cms/src/editor/plugins/elements/image/index.js
  packages/webiny-app-cms/src/site/components/Page.js
  packages/webiny-app-cms/src/site/components/Page/Content.js
  packages/webiny-app-cms/src/site/components/Page/buildQueryProps.js
  packages/webiny-app-cms/src/site/components/Page/graphql/getDataFields.js
  packages/webiny-app-cms/src/site/components/Page/graphql/getErrorPageFields.js
  packages/webiny-app-cms/src/site/components/Page/graphql/getNotFoundPageFields.js
  packages/webiny-app-cms/src/site/components/Page/graphql/getSettingsFields.js
  packages/webiny-app-cms/src/site/components/Page/graphql/index.js
  packages/webiny-app-cms/src/site/components/Page/index.js
  packages/webiny-app-cms/src/site/graphql/pages.js
  packages/webiny-app-cms/src/types.js
  packages/webiny-app/src/components/Webiny.js
  yarn.lock
Labels: pkg: webiny-api-cms, pkg: webiny-app-cms, tag: new feature

#346 Renamed "Modules" component to "Addons"
  packages/demo-theme/src/layouts/static.js
  packages/webiny-app/src/components/Addons.js
  packages/webiny-app/src/components/index.js
Labels: pkg: webiny-app-cms, tag: bug fix

#348 Fixes dialog overflow and save block image preview.
  packages/webiny-app-admin/src/styles/material-theme-assignments.scss
  packages/webiny-app-cms/src/editor/plugins/elementSettings/save/SaveDialog.js
Labels: pkg: webiny-app-admin, tag: bug fix

#349 Fix scrolling of elements in the toolbar.
  packages/webiny-app-cms/src/editor/plugins/toolbar/addElement/StyledComponents.js
Labels: pkg: webiny-app-cms, tag: bug fix

#350 Admin and demo site favicons.
  packages/demo-admin/public/favicon.ico
  packages/demo-admin/public/favicons/android-icon-144x144.png
  packages/demo-admin/public/favicons/android-icon-192x192.png
  packages/demo-admin/public/favicons/android-icon-36x36.png
  packages/demo-admin/public/favicons/android-icon-48x48.png
  packages/demo-admin/public/favicons/android-icon-72x72.png
  packages/demo-admin/public/favicons/android-icon-96x96.png
  packages/demo-admin/public/favicons/apple-icon-114x114.png
  packages/demo-admin/public/favicons/apple-icon-120x120.png
  packages/demo-admin/public/favicons/apple-icon-144x144.png
  packages/demo-admin/public/favicons/apple-icon-152x152.png
  packages/demo-admin/public/favicons/apple-icon-180x180.png
  packages/demo-admin/public/favicons/apple-icon-57x57.png
  packages/demo-admin/public/favicons/apple-icon-60x60.png
  packages/demo-admin/public/favicons/apple-icon-72x72.png
  packages/demo-admin/public/favicons/apple-icon-76x76.png
  packages/demo-admin/public/favicons/apple-icon-precomposed.png
  packages/demo-admin/public/favicons/apple-icon.png
  packages/demo-admin/public/favicons/favicon-16x16.png
  packages/demo-admin/public/favicons/favicon-32x32.png
  packages/demo-admin/public/favicons/favicon-96x96.png
  packages/demo-admin/public/favicons/favicon.ico
  packages/demo-admin/public/favicons/ms-icon-144x144.png
  packages/demo-admin/public/favicons/ms-icon-150x150.png
  packages/demo-admin/public/favicons/ms-icon-310x310.png
  packages/demo-admin/public/favicons/ms-icon-70x70.png
  packages/demo-admin/public/index.html
  packages/demo-admin/public/manifest.json
  packages/demo-site/public/favicon.ico
  packages/demo-site/public/favicons/android-icon-144x144.png
  packages/demo-site/public/favicons/android-icon-192x192.png
  packages/demo-site/public/favicons/android-icon-36x36.png
  packages/demo-site/public/favicons/android-icon-48x48.png
  packages/demo-site/public/favicons/android-icon-72x72.png
  packages/demo-site/public/favicons/android-icon-96x96.png
  packages/demo-site/public/favicons/apple-icon-114x114.png
  packages/demo-site/public/favicons/apple-icon-120x120.png
  packages/demo-site/public/favicons/apple-icon-144x144.png
  packages/demo-site/public/favicons/apple-icon-152x152.png
  packages/demo-site/public/favicons/apple-icon-180x180.png
  packages/demo-site/public/favicons/apple-icon-57x57.png
  packages/demo-site/public/favicons/apple-icon-60x60.png
  packages/demo-site/public/favicons/apple-icon-72x72.png
  packages/demo-site/public/favicons/apple-icon-76x76.png
  packages/demo-site/public/favicons/apple-icon-precomposed.png
  packages/demo-site/public/favicons/apple-icon.png
  packages/demo-site/public/favicons/favicon-16x16.png
  packages/demo-site/public/favicons/favicon-32x32.png
  packages/demo-site/public/favicons/favicon-96x96.png
  packages/demo-site/public/favicons/favicon.ico
  packages/demo-site/public/favicons/ms-icon-144x144.png
  packages/demo-site/public/favicons/ms-icon-150x150.png
  packages/demo-site/public/favicons/ms-icon-310x310.png
  packages/demo-site/public/favicons/ms-icon-70x70.png
  packages/demo-site/public/index.html
  packages/demo-site/public/manifest.json
Labels: tag: enhancement

#358 Added animation settings for cells, rows and blocks
  packages/webiny-app-cms/package.json
  packages/webiny-app-cms/src/editor/components/Element.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/animation/components/Action.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/animation/components/AnimationSettings.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/animation/components/ColorPicker.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/animation/components/DurationInput.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/animation/components/Input.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/animation/components/PMFooter.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/animation/components/Select.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/animation/components/Slider.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/animation/components/StyledComponents.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/animation/components/icons/round-av_timer-24px.svg
  packages/webiny-app-cms/src/editor/plugins/elementSettings/animation/index.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/animation/round-movie_filter-24px.svg
  packages/webiny-app-cms/src/editor/plugins/elementSettings/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/block/Block.js
  packages/webiny-app-cms/src/editor/plugins/elements/block/BlockContainer.js
  packages/webiny-app-cms/src/editor/plugins/elements/block/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/column/Column.js
  packages/webiny-app-cms/src/editor/plugins/elements/column/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/image/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/row/Row.js
  packages/webiny-app-cms/src/editor/plugins/elements/row/index.js
  packages/webiny-app-cms/src/render/components/ElementAnimation.js
  packages/webiny-app-cms/src/render/components/ElementStyle.js
  packages/webiny-app-cms/src/render/plugins/elements/block/Block.js
  packages/webiny-app-cms/src/render/plugins/elements/column/Column.js
  packages/webiny-app-cms/src/render/plugins/elements/image/Image.js
  packages/webiny-app-cms/src/render/plugins/elements/row/Row.js
  yarn.lock
Labels: pkg: webiny-app-cms, tag: new feature

#352 Fix scrolling of elements in the toolbar.
  packages/webiny-app-cms/src/editor/plugins/toolbar/addElement/StyledComponents.js
Labels: pkg: webiny-app-cms, tag: bug fix

#351 Fixed element select outline.
  packages/webiny-app-cms/src/editor/components/Element/ElementStyled.js
Labels: pkg: webiny-app-cms, tag: bug fix

#367 Introduce element style render plugins.
  packages/webiny-api-cms/src/install/importData/staticPages/error.js
  packages/webiny-api-cms/src/install/importData/staticPages/homepage.js
  packages/webiny-api-cms/src/install/importData/staticPages/notFound.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/align/HorizontalAlignAction.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/align/VerticalAlignAction.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/background/Settings.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/border/Settings.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/components/PMSettings.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/height/Settings.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/shadow/Settings.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/width/Settings.js
  packages/webiny-app-cms/src/editor/plugins/elements/row/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/text/Text.js
  packages/webiny-app-cms/src/editor/plugins/elements/text/index.js
  packages/webiny-app-cms/src/render/components/ElementStyle.js
  packages/webiny-app-cms/src/render/plugins/elementSettings/align/index.js
  packages/webiny-app-cms/src/render/plugins/elementSettings/background/index.js
  packages/webiny-app-cms/src/render/plugins/elementSettings/border/index.js
  packages/webiny-app-cms/src/render/plugins/elementSettings/height/index.js
  packages/webiny-app-cms/src/render/plugins/elementSettings/index.js
  packages/webiny-app-cms/src/render/plugins/elementSettings/margin/index.js
  packages/webiny-app-cms/src/render/plugins/elementSettings/padding/index.js
  packages/webiny-app-cms/src/render/plugins/elementSettings/shadow/index.js
  packages/webiny-app-cms/src/render/plugins/elementSettings/width/index.js
  packages/webiny-app-cms/src/render/presets/default.js
  packages/webiny-app-cms/src/types.js
Labels: tag: enhancement

#368 Fixed drag and drop on "SingleImageUpload" and "MultiImageUpload" components
  packages/webiny-ui/package.json
  packages/webiny-ui/src/ImageUpload/MultiImageUpload.js
  packages/webiny-ui/src/ImageUpload/SingleImageUpload.js
  yarn.lock
Labels: pkg: webiny-ui, tag: bug fix

#369 Moved general settings into webiny-app-cms
  packages/webiny-api-cms/src/entities/CmsSettings.entity.js
  packages/webiny-api-cms/src/plugins/settings/index.js
  packages/webiny-api/src/entities/GeneralSettings.entity.js
  packages/webiny-api/src/entities/index.js
  packages/webiny-api/src/plugins/entities.js
  packages/webiny-api/src/plugins/index.js
  packages/webiny-api/src/plugins/settings/generalSettings.js
  packages/webiny-app-admin/src/components/Views/SimpleForm/SimpleForm.js
  packages/webiny-app-admin/src/plugins/Settings/GeneralSettings/icons/round-ballot-24px.svg
  packages/webiny-app-admin/src/plugins/Settings/GeneralSettings/index.js
  packages/webiny-app-admin/src/plugins/Settings/index.js
  packages/webiny-app-admin/src/presets/default.js
  packages/webiny-app-admin/src/types.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/generalSettings/GeneralSettings.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/generalSettings/Image.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/generalSettings/graphql.js
  packages/webiny-app-cms/src/admin/plugins/settings/index.js
Labels: pkg: webiny-app-cms, tag: bug fix

#373 When creating a new revision, page URL will be preserved.
  packages/webiny-api-cms/src/entities/Page.entity.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/header/editRevision/EditRevision.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/pageRevisions/Revision.js
Labels: pkg: webiny-app-cms, tag: bug fix

#378 After a successful menus form submission, success message is now properly shown
  packages/webiny-api/src/lambda/lambda.js
  packages/webiny-app-cms/src/admin/views/Menus/Menus.js
  packages/webiny-app/src/components/Image.js
  packages/webiny-app/src/components/withAppConfig.js
Labels: pkg: webiny-app-cms, tag: bug fix

#381 Add desktop/mobile settings for padding and margin.
  packages/webiny-app-cms/src/editor/plugins/elementSettings/components/PMSettings.js
  packages/webiny-app-cms/src/render/plugins/elementSettings/margin/index.js
  packages/webiny-app-cms/src/render/plugins/elementSettings/padding/index.js
  packages/webiny-app-cms/src/render/plugins/elements/block/Block.js
Labels: pkg: webiny-app-cms, tag: new feature

#387 Toolbar is now closed when Esc key is pressed.
  packages/webiny-app-cms/src/editor/components/Editor/Toolbar.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/columnWidth/Settings.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/columnWidth/arrows-alt-h-solid.svg
  packages/webiny-app-cms/src/editor/plugins/elementSettings/columnWidth/index.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/components/PMSettings.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/column/index.js
Labels: pkg: webiny-app-cms, tag: bug fix

#394 Renamed "addPlugin" and "removePlugin" methods to "registerPlugins" and "unregisterPlugin".
  packages/demo-admin/src/App.js
  packages/demo-api/src/handler.js
  packages/demo-api/src/install/install.js
  packages/demo-site/src/App.js
  packages/webiny-admin/src/plugins/init.js
  packages/webiny-app-cms/src/admin/app.js
  packages/webiny-app-cms/src/admin/components/withSavedElements/Title.js
  packages/webiny-app-cms/src/admin/components/withSavedElements/createBlockPlugin.js
  packages/webiny-app-cms/src/admin/components/withSavedElements/createElementPlugin.js
  packages/webiny-app-cms/src/editor/plugins/blockEditing/SearchBlocks.js
  packages/webiny-plugins/README.md
  packages/webiny-plugins/src/__tests__/plugins.test.js
  packages/webiny-plugins/src/index.js
Labels: pkg: webiny-plugins, tag: bug fix

#395 Moved "Preview" button into page options dropdown
  packages/demo-api/src/install/install.js
  packages/demo-api/src/plugins.js
  packages/demo-site/src/plugins/index.js
  packages/webiny-api-cms/src/plugins/index.js
  packages/webiny-api/src/plugins/index.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/components/PageOptionsMenu.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/components/PreviewPageButton.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/code/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/social/index.js
  packages/webiny-app-cms/src/render/plugins/elementSettings/index.js
  packages/webiny-plugins/src/__tests__/plugins.test.js
  packages/webiny-plugins/src/index.js
Labels: pkg: webiny-app-cms, tag: bug fix

#397 Set default element padding and margin.
  packages/webiny-app-cms/src/editor/plugins/elements/block/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/button/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/code/codepen/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/code/codesandbox/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/column/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/icon/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/image/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/media/soundcloud/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/pagesList/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/spacer/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/utils/oembed/createEmbedPlugin.js
  packages/webiny-app-cms/src/types.js
Labels: pkg: webiny-app-cms, tag: enhancement

#399 Publishing new home, error and 404 pages will be propagated to public site properly.
  packages/demo-api/src/plugins.js
  packages/demo-theme/src/components/Footer.js
  packages/demo-theme/src/components/Header.js
  packages/demo-theme/src/components/graphql.js
  packages/webiny-api-cms/src/entities/CmsSettings.entity.js
  packages/webiny-api-cms/src/entities/Tag.entity.js
  packages/webiny-api-cms/src/entities/Tags2Pages.entity.js
  packages/webiny-api-cms/src/install/plugins/importData/createDefaultPages.js
  packages/webiny-api-cms/src/plugins/graphql/pageResolvers/getErrorPage.js
  packages/webiny-api-cms/src/plugins/graphql/pageResolvers/getHomePage.js
  packages/webiny-api-cms/src/plugins/graphql/pageResolvers/getNotFoundPage.js
  packages/webiny-api-cms/src/plugins/graphql/pageResolvers/getPublishedPage.js
  packages/webiny-api-cms/src/plugins/graphql/pageResolvers/listPublishedPages.sql.js
  packages/webiny-api-cms/src/plugins/settings/index.js
  packages/webiny-api/src/graphql/schema/index.js
  packages/webiny-api/src/plugins/graphql.js
  packages/webiny-api/src/plugins/index.js
  packages/webiny-api/src/security/index.js
  packages/webiny-api/src/security/jwtToken.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/PagesAutoComplete.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/graphql.js
  packages/webiny-app-cms/src/site/components/Page/buildQueryProps.js
  packages/webiny-entity/src/entityAttributes/entityAttribute.js
  packages/webiny-entity/src/entityAttributesContainer.js
  packages/webiny-security/.babelrc
  packages/webiny-security/src/api/entities/ApiToken.entity.js
  packages/webiny-security/src/api/entities/Group.entity.js
  packages/webiny-security/src/api/entities/Groups2Entities.entity.js
  packages/webiny-security/src/api/entities/Roles2Entities.entity.js
  packages/webiny-security/src/api/entities/User.entity.js
  packages/webiny-security/src/api/install/plugins/importData.js
  packages/webiny-security/src/api/install/plugins/setupEntities.js
  packages/webiny-security/src/api/plugins/entities.js
  packages/webiny-security/src/api/plugins/graphql.js
  packages/webiny-security/src/api/plugins/graphql/ApiToken.js
  packages/webiny-security/src/api/plugins/graphql/Group.js
  packages/webiny-security/src/api/plugins/graphql/Role.js
  packages/webiny-security/src/api/plugins/graphql/User.js
  packages/webiny-security/src/api/plugins/graphqlContextEntities.js
  packages/webiny-security/src/api/plugins/index.js
  packages/webiny-ui/package.json
  packages/webiny-ui/src/AutoComplete/AutoComplete.js
  yarn.lock
Labels: pkg: webiny-api-cms, pkg: webiny-app-cms, tag: bug fix

#400 Any revision can be previewed (via REVISIONS tab in pages view)
  packages/demo-admin/src/App.js
  packages/demo-admin/src/plugins/index.js
  packages/webiny-app-cms/src/admin/app.js
  packages/webiny-app-cms/src/admin/components/index.js
  packages/webiny-app-cms/src/admin/components/withCmsSettings.js
  packages/webiny-app-cms/src/admin/components/withCmsSettings/getPagePreviewUrl.js
  packages/webiny-app-cms/src/admin/plugins/index.js
  packages/webiny-app-cms/src/admin/plugins/menus.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/pageRevisions/Revision.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/pageRevisions/withRevisionHandlers.js
  packages/webiny-app-cms/src/admin/plugins/routes.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/PagesAutoComplete.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/components/PreviewPageButton.js
Labels: pkg: webiny-app-cms, tag: new feature

#405 Add toggles to control which border side is visible.
  packages/webiny-app-cms/src/editor/plugins/elementSettings/border/Selector.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/border/Settings.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/border/icons/round-border_bottom-24px.svg
  packages/webiny-app-cms/src/editor/plugins/elementSettings/border/icons/round-border_left-24px.svg
  packages/webiny-app-cms/src/editor/plugins/elementSettings/border/icons/round-border_right-24px.svg
  packages/webiny-app-cms/src/editor/plugins/elementSettings/border/icons/round-border_top-24px.svg
  packages/webiny-app-cms/src/render/plugins/elementSettings/border/index.js
Labels: tag: new feature
