Repository webiny/webiny-js, pull requests merged in 2018-11, with the labels that each got.

#283 Fixes element select state overlay border
  packages/webiny-app-cms/src/editor/components/Element/ElementStyled.js
  packages/webiny-app-cms/src/editor/plugins/elements/media/youtube/YoutubeEmbed.js
Labels: pkg: webiny-app-cms, tag: bug fix

#287 ImageEditor now uses Cropper.Js / CamanJS libs (instead of tui-image-editor)
  .gitignore
  packages/webiny-app-admin/src/views/Users/AvatarImage.js
  packages/webiny-app/src/components/index.js
  packages/webiny-app/src/components/withImageUpload.js
  packages/webiny-ui/package.json
  packages/webiny-ui/src/ImageEditor/ImageEditor.js
  packages/webiny-ui/src/ImageEditor/toolbar/crop.js
  packages/webiny-ui/src/ImageEditor/toolbar/draw.js
  packages/webiny-ui/src/ImageEditor/toolbar/filter.js
  packages/webiny-ui/src/ImageEditor/toolbar/flip.js
  packages/webiny-ui/src/ImageEditor/toolbar/index.js
  packages/webiny-ui/src/ImageEditor/toolbar/redo.js
  packages/webiny-ui/src/ImageEditor/toolbar/rotate.js
  packages/webiny-ui/src/ImageEditor/toolbar/types.js
  packages/webiny-ui/src/ImageEditor/toolbar/undo.js
  packages/webiny-ui/src/ImageUpload/ImageEditorDialog.js
  packages/webiny-ui/src/ImageUpload/MultiImageUpload.js
  packages/webiny-ui/src/ImageUpload/SingleImageUpload.js
  packages/webiny-ui/src/ImageUpload/convertToBase64.js
  packages/webiny-validation/__tests__/numeric.test.js
  packages/webiny-validation/package.json
  packages/webiny-validation/src/index.js
  packages/webiny-validation/src/validators/numeric.js
  yarn.lock
Labels: pkg: webiny-ui, tag: bug fix

#278 Editor - added "Image" element and ability to set background image on any element
  packages/demo-theme/src/components/PageListv2.js
  packages/webiny-api-cms/src/dataSource/schemas/pageResolvers/listPublishedPages.js
  packages/webiny-api/src/dataSource/index.js
  packages/webiny-api/src/dataSource/typeDefs/ApiToken.js
  packages/webiny-api/src/dataSource/typeDefs/Role.js
  packages/webiny-api/src/entities/setupEntities.js
  packages/webiny-api/src/plugins/index.js
  packages/webiny-app-admin/src/plugins/Logo/Logo.js
  packages/webiny-app-cms/package.json
  packages/webiny-app-cms/src/admin/components/withSavedElements/AutoScale.js
  packages/webiny-app-cms/src/admin/views/Menus/MenusForm/MenuItems/MenuItemRenderer.js
  packages/webiny-app-cms/src/editor/assets/icons/image-icon.svg
  packages/webiny-app-cms/src/editor/components/withActiveElement.js
  packages/webiny-app-cms/src/editor/components/withKeyHandler.js
  packages/webiny-app-cms/src/editor/components/withOEmbedData.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/components/PageSettingsStyled.js
  packages/webiny-app-cms/src/editor/plugins/elementActions/settings/AdvancedSettings.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/background/BackgroundImage.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/background/BackgroundPositionSelector.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/background/Settings.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/bar/ElementSettingsBar.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/clone/index.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/save/SaveDialog.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/utils/PMSettings.js
  packages/webiny-app-cms/src/editor/plugins/elements/block/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/code/codepen/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/code/codesandbox/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/image/Image.js
  packages/webiny-app-cms/src/editor/plugins/elements/image/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/image/round-image-24px.svg
  packages/webiny-app-cms/src/editor/plugins/elements/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/media/soundcloud/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/media/vimeo/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/media/youtube/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/pagesList/PagesList.js
  packages/webiny-app-cms/src/editor/plugins/elements/row/RowChild.js
  packages/webiny-app-cms/src/editor/plugins/elements/social/instagram/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/social/pinterest/PinterestEmbed.js
  packages/webiny-app-cms/src/editor/plugins/elements/social/pinterest/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/social/twitter/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/text/Text.js
  packages/webiny-app-cms/src/editor/plugins/pageSettings/components/MetaTags.js
  packages/webiny-app-cms/src/editor/plugins/pageSettings/components/OpenGraphTags.js
  packages/webiny-app-cms/src/editor/plugins/toolbar/addElement/index.js
  packages/webiny-app-cms/src/editor/plugins/toolbar/onboarding/Onboarding.js
  packages/webiny-app-cms/src/editor/plugins/toolbar/preview/index.js
  packages/webiny-app-cms/src/render/plugins/elements/embeds/index.js
  packages/webiny-app-cms/src/render/plugins/elements/icon/index.js
  packages/webiny-app-cms/src/render/plugins/elements/image/Image.js
  packages/webiny-app-cms/src/render/plugins/elements/index.js
  packages/webiny-entity/__tests__/entities/entityWithMaxPerPage.js
  packages/webiny-entity/__tests__/maxPerPage.test.js
  packages/webiny-entity/src/entity.js
  packages/webiny-entity/src/entityError.js
  packages/webiny-ui/src/ImageUpload/Image.js
  packages/webiny-ui/src/ImageUpload/MultiImageUpload.js
  packages/webiny-ui/src/ImageUpload/SingleImageUpload.js
Labels: pkg: webiny-app-cms, tag: new feature

#257 Implemented pluginable global search bar
  packages/webiny-app-admin/.eslintrc.js
  packages/webiny-app-admin/package.json
  packages/webiny-app-admin/src/plugins/GlobalSearch/SearchBar.js
  packages/webiny-app-admin/src/plugins/GlobalSearch/SearchBarDropdown.js
  packages/webiny-app-admin/src/plugins/GlobalSearch/icons/round-search-24px.svg
  packages/webiny-app-admin/src/plugins/GlobalSearch/index.js
  packages/webiny-app-admin/src/plugins/GlobalSearch/styled.js
  packages/webiny-app-admin/src/plugins/SearchBar/SearchBar.js
  packages/webiny-app-admin/src/plugins/SearchBar/SearchDropdown.js
  packages/webiny-app-admin/src/plugins/SearchBar/icons/round-arrow_drop_down-24px.svg
  packages/webiny-app-admin/src/plugins/SearchBar/icons/round-search-24px.svg
  packages/webiny-app-admin/src/plugins/SearchBar/index.js
  packages/webiny-app-admin/src/plugins/UserMenu/UserMenu.js
  packages/webiny-app-admin/src/presets/default.js
  packages/webiny-app-admin/types.js
  packages/webiny-app-cms/.eslintrc.js
  packages/webiny-app-cms/src/admin/plugins/globalSearch/index.js
  packages/webiny-app-cms/src/admin/plugins/index.js
  packages/webiny-app-cms/src/admin/plugins/search/index.js
  packages/webiny-app-cms/src/editor/components/DropZone/Vertical.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/components/Styled.js
  packages/webiny-app-cms/src/editor/plugins/elements/image/index.js
  packages/webiny-app/.eslintrc.js
  packages/webiny-app/src/components/index.js
  packages/webiny-app/src/components/withDataListUtils/prepareLoadListParams.js
  packages/webiny-app/src/components/withDataListUtils/types.js
  packages/webiny-app/src/components/withKeyHandler.js
  packages/webiny-app/types.js
  packages/webiny-form/.eslintrc.js
  packages/webiny-react-router/.eslintrc.js
  packages/webiny-storybook-utils/src/.eslintrc.js
  packages/webiny-ui/.eslintrc.js
Labels: pkg: webiny-app-admin, tag: new feature

#292 Add pageList element render plugin.
  packages/webiny-app-cms/src/editor/actions/actions.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/components/Revisions.js
  packages/webiny-app-cms/src/render/plugins/elements/index.js
Labels: pkg: webiny-app-cms, tag: new feature

#293 Allow saved elements to be deleted.
  packages/webiny-api-cms/src/dataSource/schemas/Page.js
  packages/webiny-app-cms/src/admin/components/withSavedElements/Title.js
  packages/webiny-app-cms/src/admin/components/withSavedElements/createElementPlugin.js
  packages/webiny-app-cms/src/admin/components/withSavedElements/graphql.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/header/deletePage/DeletePage.js
  packages/webiny-app-cms/src/editor/plugins/elements/column/Column.js
  packages/webiny-app-cms/src/editor/plugins/elements/column/ColumnChild.js
  packages/webiny-app-cms/src/editor/plugins/toolbar/addElement/AddElement.js
Labels: pkg: webiny-app-cms, tag: new feature

#295 Add preview image to saved elements.
  packages/demo-api/package.json
  packages/demo-api/src/files/create.js
  packages/webiny-api-cms/src/dataSource/schemas/Page.js
  packages/webiny-api-cms/src/entities/Element.entity.js
  packages/webiny-api-cms/src/entities/Element.mysql.js
  packages/webiny-api/src/graphql/schema/genericTypes.js
  packages/webiny-app-cms/src/admin/components/withSavedElements/AutoScale.js
  packages/webiny-app-cms/src/admin/components/withSavedElements/createBlockPlugin.js
  packages/webiny-app-cms/src/admin/components/withSavedElements/createElementPlugin.js
  packages/webiny-app-cms/src/admin/graphql/pages.js
  packages/webiny-app-cms/src/editor/components/Element.js
  packages/webiny-app-cms/src/editor/components/Element/ElementStyled.js
  packages/webiny-app-cms/src/editor/components/OEmbed.js
  packages/webiny-app-cms/src/editor/plugins/blockEditing/BlockPreview.js
  packages/webiny-app-cms/src/editor/plugins/blocks/block-1/index.js
  packages/webiny-app-cms/src/editor/plugins/blocks/block-2/index.js
  packages/webiny-app-cms/src/editor/plugins/blocks/emptyBlock/index.js
  packages/webiny-app-cms/src/editor/plugins/blocks/emptyBlock/preview.png
  packages/webiny-app-cms/src/editor/plugins/blocks/index.js
  packages/webiny-app-cms/src/editor/plugins/elementActions/help/index.js
  packages/webiny-app-cms/src/editor/plugins/elementActions/settings/index.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/save/SaveAction.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/save/SaveDialog.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/save/domToImage.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/save/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/column/Column.js
  packages/webiny-app-cms/src/editor/plugins/elements/media/vimeo/VimeoEmbed.js
  packages/webiny-app-cms/src/editor/plugins/elements/media/vimeo/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/media/youtube/YoutubeEmbed.js
  packages/webiny-app-cms/src/editor/plugins/elements/media/youtube/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/media/youtube/placeholder.png
  packages/webiny-app-cms/src/editor/plugins/elements/social/instagram/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/social/instagram/placeholder.jpg
  packages/webiny-app-cms/src/editor/plugins/elements/social/pinterest/PinterestEmbed.js
  packages/webiny-app-cms/src/editor/plugins/elements/social/twitter/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/social/twitter/placeholder.jpg
  packages/webiny-app-cms/src/editor/plugins/elements/utils/oembed/createEmbedPlugin.js
  packages/webiny-app-cms/src/editor/plugins/toolbar/onboarding/Onboarding.js
  packages/webiny-app-cms/src/render/components/OEmbed.js
  packages/webiny-app-cms/src/render/plugins/elements/embeds/pinterest/PinterestEmbed.js
  packages/webiny-app-cms/src/render/plugins/elements/embeds/vimeo/VimeoEmbed.js
  packages/webiny-app-cms/src/render/plugins/elements/embeds/youtube/YoutubeEmbed.js
  packages/webiny-app-cms/types.js
  packages/webiny-app/src/components/withFileUpload.js
  yarn.lock
Labels: pkg: webiny-api-cms, pkg: webiny-app-cms, tag: new feature

#296 Introduced "webiny-plugins" package
  packages/demo-admin/package.json
  packages/demo-admin/src/App.js
  packages/demo-api/package.json
  packages/webiny-api-cms/package.json
  packages/webiny-api-cms/src/dataSource/index.js
  packages/webiny-api-cms/src/entities/PageSettings.model.js
  packages/webiny-api/package.json
  packages/webiny-app-admin/package.json
  packages/webiny-app-admin/src/app.js
  packages/webiny-app-admin/src/plugins/GlobalSearch/SearchBar.js
  packages/webiny-app-admin/src/plugins/Menu/Navigation/index.js
  packages/webiny-app-cms/package.json
  packages/webiny-app-cms/src/admin/app.js
  packages/webiny-app-cms/src/admin/components/withSavedElements/Title.js
  packages/webiny-app-cms/src/admin/components/withSavedElements/createBlockPlugin.js
  packages/webiny-app-cms/src/admin/components/withSavedElements/createElementPlugin.js
  packages/webiny-app-cms/src/admin/graphql/pages.js
  packages/webiny-app-cms/src/admin/views/Menus/MenusForm/MenuItems.js
  packages/webiny-app-cms/src/admin/views/Menus/MenusForm/MenuItems/MenuItemForm.js
  packages/webiny-app-cms/src/admin/views/Menus/MenusForm/MenuItems/MenuItemRenderer.js
  packages/webiny-app-cms/src/admin/views/Menus/MenusForm/MenuItems/MenuItemsList.js
  packages/webiny-app-cms/src/editor/actions/actions.js
  packages/webiny-app-cms/src/editor/components/Editor/Bar.js
  packages/webiny-app-cms/src/editor/components/Editor/Content.js
  packages/webiny-app-cms/src/editor/components/Editor/Dialogs.js
  packages/webiny-app-cms/src/editor/components/Editor/PluginViews.js
  packages/webiny-app-cms/src/editor/components/Editor/Toolbar.js
  packages/webiny-app-cms/src/editor/components/Element.js
  packages/webiny-app-cms/src/editor/components/IconPicker.js
  packages/webiny-app-cms/src/editor/components/Slate/Menu.js
  packages/webiny-app-cms/src/editor/components/Slate/Slate.js
  packages/webiny-app-cms/src/editor/plugins/blockEditing/SearchBlocks.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/components/PageSettings.js
  packages/webiny-app-cms/src/editor/plugins/elementActions/settings/AdvancedSettings.js
  packages/webiny-app-cms/src/editor/plugins/elementActions/settings/index.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/bar/ElementSettingsBar.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/delete/index.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/save/SaveDialog.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/save/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/icon/IconSettings.js
  packages/webiny-app-cms/src/editor/plugins/elements/image/index.js
  packages/webiny-app-cms/src/editor/plugins/toolbar/addElement/AddElement.js
  packages/webiny-app-cms/src/editor/selectors/index.js
  packages/webiny-app-cms/src/editor/utils.js
  packages/webiny-app-cms/src/render/components/Element.js
  packages/webiny-app-cms/src/render/components/Slate.js
  packages/webiny-app/package.json
  packages/webiny-app/src/components/Image.js
  packages/webiny-app/src/components/Webiny.js
  packages/webiny-app/src/components/withFileUpload.js
  packages/webiny-app/src/plugins/index.js
  packages/webiny-plugins/.babelrc
  packages/webiny-plugins/.eslintrc.js
  packages/webiny-plugins/index.js
  packages/webiny-plugins/package.json
  packages/webiny-plugins/src/__tests__/plugins.test.js
  packages/webiny-plugins/src/index.js
  packages/webiny-plugins/types.js
  yarn.lock
Labels: pkg: webiny-plugins, tag: new feature

#297 Introduced "webiny-install" package for unified installation process of apps / integrations.
  packages/webiny-install/.babelrc
  packages/webiny-install/index.js
  packages/webiny-install/package.json
  packages/webiny-install/src/index.js
Labels: pkg: webiny-install, tag: new feature

#304 Created "webiny-load-assets" package for easier inclusion of additional scripts and links (eg. stylesheets)
  packages/webiny-install/README.md
  packages/webiny-load-assets/.babelrc
  packages/webiny-load-assets/README.md
  packages/webiny-load-assets/index.js
  packages/webiny-load-assets/package.json
  packages/webiny-load-assets/src/argumentProcessors/index.js
  packages/webiny-load-assets/src/argumentProcessors/stringArgumentProcessor.js
  packages/webiny-load-assets/src/assetLoaders/index.js
  packages/webiny-load-assets/src/assetLoaders/linkLoader.js
  packages/webiny-load-assets/src/assetLoaders/scriptLoader.js
  packages/webiny-load-assets/src/index.js
  packages/webiny-load-assets/types.js
Labels: pkg: webiny-load-assets, tag: new feature
