Repository webiny/webiny-js, pull requests merged in 2018-09, with the labels that each got.

#168 Switch to fixed versioning
  .gitignore
  CONTRIBUTING.md
  lerna.json
  package.json
  scripts/cz-adapter/index.js
  scripts/private.js
  scripts/release.js
  scripts/release/index.js
  scripts/release/plugins/analyzeCommits/getCommits.js
  scripts/release/plugins/analyzeCommits/getLastRelease.js
  scripts/release/plugins/analyzeCommits/index.js
  scripts/release/plugins/github/publish.js
  scripts/release/plugins/github/utils/githubClient.js
  scripts/release/plugins/github/verify.js
  scripts/release/plugins/npm/publish.js
  scripts/release/plugins/npm/verify.js
  scripts/release/plugins/updatePackages/index.js
  scripts/release/unpublish-all.sh
  scripts/release/utils/buildParams.js
  scripts/release/utils/compose.js
  scripts/release/utils/getPackage.js
  scripts/release/utils/getPackages.js
  scripts/release/utils/git.js
  scripts/release/utils/logger.js
  scripts/release/utils/stdOut.js
  yarn.lock
Labels: tag: internal

#180 Disable desktop/mobile preview plugins
  packages/webiny-app-cms/src/editor/presets/default.js
Labels: pkg: webiny-app-cms, tag: enhancement

#182 Add cropper to image / images components.
  package.json
  packages/webiny-app/src/components/withFileUpload.js
  packages/webiny-ui/package.json
  packages/webiny-ui/src/FileBrowser/FileBrowser.js
  packages/webiny-ui/src/Image/Image.js
  packages/webiny-ui/src/ImageCropper/ImageCropper.js
  packages/webiny-ui/src/ImageCropper/index.js
  packages/webiny-ui/src/ImageUpload/MultiImageUpload.js
  packages/webiny-ui/src/ImageUpload/MultiImageUpload.stories.js
  packages/webiny-ui/src/ImageUpload/SingleImageUpload.js
  packages/webiny-ui/src/ImageUpload/SingleImageUpload.stories.js
  yarn.lock
Labels: pkg: webiny-ui, tag: new feature

#184 Use newer "SingleImageUpload" instead of old "Image" component.
  packages/webiny-app-admin/src/views/Users/AvatarImage.js
  packages/webiny-app-admin/src/views/Users/UsersDataList.js
Labels: pkg: webiny-ui, tag: bug fix

#187 fix: Remove old Image and Images components (#133)
  packages/webiny-ui/src/Image/Image.js
  packages/webiny-ui/src/Image/Image.stories.js
  packages/webiny-ui/src/Image/README.md
  packages/webiny-ui/src/Image/icons/round-add_photo_alternate-24px.svg
  packages/webiny-ui/src/Image/icons/round-close-24px.svg
  packages/webiny-ui/src/Image/index.js
  packages/webiny-ui/src/Images/Images.js
  packages/webiny-ui/src/Images/Images.stories.js
  packages/webiny-ui/src/Images/README.md
  packages/webiny-ui/src/Images/icons/round-add_photo_alternate-24px.svg
  packages/webiny-ui/src/Images/icons/round-close-24px.svg
  packages/webiny-ui/src/Images/index.js
Labels: pkg: webiny-ui, tag: bug fix

#188 Link theme layouts with Categories form.
  packages/webiny-app-cms/src/admin/views/Categories/Categories.js
  packages/webiny-app-cms/src/admin/views/Categories/CategoriesDataList.js
  packages/webiny-app-cms/src/admin/views/Categories/CategoriesForm.js
  packages/webiny-app-cms/src/admin/views/Categories/validators.js
Labels: pkg: webiny-app-cms, tag: bug fix

#192 Fix Input fullwidth prop
  packages/webiny-ui/src/Input/Input.js
  packages/webiny-ui/src/Input/Input.stories.js
Labels: pkg: webiny-ui, tag: bug fix

#193 Colorpicker changes must create history records
  packages/webiny-app-cms/src/editor/components/ColorPicker/index.js
Labels: pkg: webiny-app-cms, tag: bug fix

#194 Upgrade Redux logic and structure of reducers
  packages/webiny-app-admin/src/actions/snackbar.actions.js
  packages/webiny-app-admin/src/actions/theme.actions.js
  packages/webiny-app-admin/src/app.js
  packages/webiny-app-admin/src/plugins/Menu/menu.actions.js
  packages/webiny-app-cms/src/admin/app.js
  packages/webiny-app-cms/src/admin/plugins/index.js
  packages/webiny-app-cms/src/admin/views/Categories/CategoriesForm.js
  packages/webiny-app-cms/src/admin/views/Pages/Pages.js
  packages/webiny-app-cms/src/admin/views/Pages/PagesDataList.js
  packages/webiny-app-cms/src/admin/views/Pages/PagesForm.js
  packages/webiny-app-cms/src/editor/actions/actions.js
  packages/webiny-app-cms/src/editor/actions/initialState.js
  packages/webiny-app-cms/src/editor/plugins/blockEditing/actions.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/Title.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/actions.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/bar/index.js
  packages/webiny-app-cms/src/editor/plugins/elements/row/actions.js
  packages/webiny-app-cms/src/editor/plugins/elements/spacer/actions.js
  packages/webiny-app-cms/src/editor/plugins/toolbar/addElement/index.js
  packages/webiny-app-cms/src/editor/plugins/toolbar/index.js
  packages/webiny-app-cms/src/editor/plugins/toolbar/renderContent/index.js
  packages/webiny-app-cms/src/editor/selectors/index.js
  packages/webiny-app/src/actions/dataList.actions.js
  packages/webiny-app/src/actions/form.actions.js
  packages/webiny-app/src/actions/graphql.actions.js
  packages/webiny-app/src/actions/router.actions.js
  packages/webiny-app/src/actions/security.actions.js
  packages/webiny-app/src/actions/type.actions.js
  packages/webiny-app/src/redux-bkp/index.js
  packages/webiny-app/src/redux/createMiddleware.js
  packages/webiny-app/src/redux/createRootReducer.js
  packages/webiny-app/src/redux/index.js
  packages/webiny-app/types.js
Labels: pkg: webiny-app, pkg: webiny-app-admin, pkg: webiny-app-cms, tag: bug fix
