Repository webiny/webiny-js, pull requests merged in 2019-04, with the labels that each got.

#511 Improvements/mailchimp integration
  independent/webiny-integration-cookie-policy/package.json
  independent/webiny-integration-cookie-policy/src/plugins/admin/components/CookiePolicySettings.js
  independent/webiny-integration-cookie-policy/src/plugins/admin/components/graphql.js
  independent/webiny-integration-cookie-policy/src/plugins/api/index.js
  independent/webiny-integration-cookie-policy/src/plugins/render/graphql.js
  independent/webiny-integration-cookie-policy/src/plugins/render/index.js
  independent/webiny-integration-google-tag-manager/package.json
  independent/webiny-integration-google-tag-manager/src/plugins/admin/components/GoogleTagManagerSettings.js
  independent/webiny-integration-google-tag-manager/src/plugins/admin/components/graphql.js
  independent/webiny-integration-google-tag-manager/src/plugins/api/index.js
  independent/webiny-integration-google-tag-manager/src/plugins/render/graphql.js
  independent/webiny-integration-google-tag-manager/src/plugins/render/index.js
  independent/webiny-integration-mailchimp/package.json
  independent/webiny-integration-mailchimp/src/components/MailchimpDefaultForm.js
  independent/webiny-integration-mailchimp/src/components/index.js
  independent/webiny-integration-mailchimp/src/plugins/admin/components/MailchimpElementAdvancedSettings.js
  independent/webiny-integration-mailchimp/src/plugins/admin/components/MailchimpSettings.js
  independent/webiny-integration-mailchimp/src/plugins/admin/components/graphql.js
  independent/webiny-integration-mailchimp/src/plugins/api/index.js
  independent/webiny-integration-mailchimp/src/plugins/render/components/RenderMailchimpForm.js
  packages/demo-theme/src/components/Footer.js
  packages/demo-theme/src/components/Header.js
  packages/demo-theme/src/components/graphql.js
  packages/webiny-api-cms/src/plugins/settings/index.js
  packages/webiny-api/src/plugins/graphql.js
  packages/webiny-api/src/plugins/graphqlContextEntities.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/CmsSettings.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/generalSettings/GeneralSettings.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/generalSettings/graphql.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/graphql.js
  packages/webiny-app-cms/src/site/components/Page/getSettings.js
  packages/webiny-app-cms/src/site/plugins/index.js
Labels: tag: bug fix, webiny-integration-mailchimp

#510 Fixed page title font style
  packages/demo-theme/src/style/elements/header-nav.scss
  packages/demo-theme/src/style/elements/typography.scss
Labels: tag: bug fix

#522 Added "create" and "createSync" methods
  packages/webiny-validation/__tests__/create.test.js
  packages/webiny-validation/src/validation.js
Labels: pkg: webiny-validation, tag: new feature
