Repository webiny/webiny-js, pull requests merged in 2019-03, with the labels that each got.

#472 Unset __runAtMostOnce flag in root schema resolver.
  packages/webiny-api/src/lambda/lambda.js
Labels: tag: bug fix

#473 Validation improvement.
  packages/webiny-form/src/Form.js
  packages/webiny-validation/__tests__/password.test.js
  packages/webiny-validation/src/validators/password.js
Labels: tag: bug fix

#474 Fixed webiny-entity-mongodb tests
  package.json
  packages/webiny-entity-mongodb/__tests__/findById.test.js
  packages/webiny-entity-mongodb/__tests__/findByIdError.test.js
  packages/webiny-entity-mongodb/__tests__/findByIds.test.js
  packages/webiny-entity-mongodb/__tests__/findByIdsError.test.js
  packages/webiny-entity-mongodb/__tests__/findOne.test.js
  packages/webiny-entity-mongodb/__tests__/findOneError.test.js
  packages/webiny-entity-mongodb/__tests__/populateFromStorage.test.js
Labels: pkg: webiny-entity-mongodb, tag: bug fix

#475 When creating a new revision, all data is now copied correctly.
  packages/webiny-api-cms/src/entities/Page.entity.js
  packages/webiny-app-cms/src/editor/plugins/pageSettings/components/GeneralSettings.js
  packages/webiny-model/__tests__/attributes/model.test.js
  packages/webiny-model/src/attributes/modelAttribute.js
  packages/webiny-model/src/attributes/modelsAttribute.js
  packages/webiny-model/src/model.js
Labels: pkg: webiny-api-cms, tag: bug fix

#478 "List of pages" element - fixed pages settings
  packages/webiny-app-cms/src/editor/plugins/elements/pagesList/PagesList.js
  packages/webiny-app-cms/src/editor/plugins/elements/pagesList/graphql.js
Labels: pkg: webiny-app-cms, tag: bug fix

#480 Cleanup dependencies across packages.
  independent/webiny-cli/src/init/template/packages/admin/package.json
  packages/webiny-admin/package.json
  packages/webiny-app-cms/package.json
  packages/webiny-app-cms/src/render/plugins/elements/pagesList/PagesList.js
  packages/webiny-app-security/package.json
  packages/webiny-app/package.json
  packages/webiny-ui/package.json
Labels: tag: enhancement

#481 Site settings can now be queried by non-logged-in users too (for site)
  independent/webiny-integration-google-tag-manager/src/plugins/api/index.js
  independent/webiny-integration-mailchimp/src/plugins/api/index.js
  packages/demo-api/src/configs/development.js
  packages/demo-api/src/configs/production.js
  packages/webiny-api-cms/src/plugins/graphql.js
Labels: pkg: webiny-api-cms, tag: bug fix

#482 Separate api and client babel configs.
  independent/webiny-integration-cookie-policy/.babelrc.api
  independent/webiny-integration-cookie-policy/.babelrc.client
  independent/webiny-integration-cookie-policy/package.json
  independent/webiny-integration-google-tag-manager/.babelrc.api
  independent/webiny-integration-google-tag-manager/.babelrc.client
  independent/webiny-integration-google-tag-manager/package.json
  independent/webiny-integration-mailchimp/.babelrc.api
  independent/webiny-integration-mailchimp/.babelrc.client
  independent/webiny-integration-mailchimp/package.json
  independent/webiny-integration-mailchimp/src/plugins/admin/components/MailchimpSettings.js
  packages/webiny-api-cms/src/install/plugins/importData/createDefaultPages.js
  packages/webiny-api-cms/src/install/plugins/importData/pages/index.js
Labels: tag: bug fix

#483 By default, page menu item for its title uses selected page's title
  packages/demo-theme/src/components/DefaultMenu.js
  packages/webiny-api-cms/src/plugins/graphql/menuResolvers/prepareMenuItems.js
  packages/webiny-app-cms/src/admin/plugins/menuItems/page/PageForm.js
  packages/webiny-ui/src/AutoComplete/AutoComplete.js
  packages/webiny-ui/src/Input/Input.js
Labels: pkg: webiny-api-cms, pkg: webiny-app-cms, tag: bug fix

#485 Fix cookie policy plugins import in site app.
  independent/webiny-cli/src/init/template/packages/site/src/plugins/index.js
  packages/demo-site/src/plugins/index.js
Labels: tag: bug fix

#488 In page preview section (list of pages view), pen icon is always shown for editing (better UX)
  packages/webiny-app-cms/src/admin/plugins/pageDetails/header/editRevision/EditRevision.js
Labels: pkg: webiny-app-cms, tag: bug fix

#489 When editing a new revision in editor, top right "Publish" button would now have "Publish changes" label (better UX)
  packages/webiny-app-cms/src/editor/plugins/defaultBar/components/PublishPageButton.js
Labels: pkg: webiny-app-cms, tag: bug fix

#491 Added "NotFoundResponse" class
  packages/webiny-api-cms/src/plugins/graphql/menuResolvers/getMenuBySlug.js
  packages/webiny-api-cms/src/plugins/graphql/pageResolvers/createRevisionFrom.js
  packages/webiny-api-cms/src/plugins/graphql/pageResolvers/getPublishedPage.js
  packages/webiny-api-security/src/plugins/graphql/userResolvers/getCurrentUser.js
  packages/webiny-api-security/src/plugins/graphql/userResolvers/updateCurrentUser.js
  packages/webiny-api/src/graphql/crudResolvers.js
  packages/webiny-api/src/graphql/index.js
  packages/webiny-api/src/graphql/responses.js
Labels: pkg: webiny-api, tag: new feature

#493 Added "Preview" and "Set as homepage" actions in pages list view
  packages/webiny-api-cms/src/entities/Page.entity.js
  packages/webiny-api-cms/src/plugins/graphql/Page.js
  packages/webiny-api-cms/src/plugins/graphql/pageResolvers/setHomePage.js
  packages/webiny-api/src/lambda/lambda.js
  packages/webiny-app-cms/__tests__/getPagePreviewUrl.test.js
  packages/webiny-app-cms/src/admin/assets/round-home-24px.svg
  packages/webiny-app-cms/src/admin/components/withCmsSettings/getPagePreviewUrl.js
  packages/webiny-app-cms/src/admin/graphql/pages.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/header/Header.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/header/index.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/header/pageOptionsMenu/PageOptionsMenu.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/header/pageOptionsMenu/graphql.js
  packages/webiny-app-cms/src/admin/plugins/pageDetails/previewContent/index.js
  packages/webiny-app-cms/src/admin/views/Pages/PageDetails.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/components/PageOptionsMenu.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/components/PreviewPageButton.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/components/SetAsHomepageButton.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/index.js
  packages/webiny-ui/src/ConfirmationDialog/withConfirmation.js
  scripts/jest/config.base.js
Labels: pkg: webiny-app-cms, tag: new feature

#494 GraphQL Playground now works in development as expected
  packages/webiny-api/src/lambda/lambda.js
Labels: pkg: webiny-api, tag: bug fix

#495 Auto-scroll document when Slate cursor is outside the viewport.
  packages/webiny-app-cms/src/editor/plugins/slate/index.js
  packages/webiny-app-cms/src/editor/plugins/slate/scroll/index.js
Labels: tag: bug fix

#496 Delete element using "delete" key.
  packages/webiny-app-cms/src/editor/plugins/elementSettings/components/Action.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/delete/index.js
Labels: tag: new feature

#497 Split editor, render and icons plugins from the rest of the admin app.
  packages/demo-admin/src/config/index.js
  packages/webiny-app-cms/package.json
  packages/webiny-app-cms/src/admin/index.js
  packages/webiny-app-cms/src/admin/plugins/index.js
  packages/webiny-app-cms/src/admin/plugins/routes.js
  packages/webiny-app-cms/src/editor/plugins/icons/index.js
  packages/webiny-app-cms/src/editor/presets/default.js
Labels: tag: enhancement

#498 In Social Media page settings, once an image is selected, og:image:width and og:image:height meta tags will automatically be set
  packages/webiny-app-cms/src/editor/plugins/pageSettings/components/GeneralSettings.js
  packages/webiny-app-cms/src/editor/plugins/pageSettings/components/SocialSettings.js
  packages/webiny-app-cms/src/editor/plugins/pageSettings/components/appendOgImageDimensions.js
Labels: pkg: webiny-app-cms, tag: new feature

#499 Updated GitHub repository README file
  .all-contributorsrc
  CONTRIBUTING.md
  ISSUE_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
  README.md
  package.json
  packages/webiny-ui/.storybook/addons.js
  packages/webiny-ui/.storybook/webpack.config.js
  packages/webiny-ui/package.json
  packages/webiny-ui/src/Accordion/Accordion.stories.js
  packages/webiny-ui/src/Carousel/Carouser.stories.js
  packages/webiny-ui/src/Carousel/README.md
  packages/webiny-ui/src/Image/README.md
  packages/webiny-ui/src/Menu/Menu.stories.js
  yarn.lock
Labels: tag: bug fix, tag: documentation

#500 Image components will show "Uploading..." snackbar and show circular spinner once the upload has started
  packages/webiny-app/src/components/withFileUpload.js
  packages/webiny-app/src/components/withImageUpload.js
  packages/webiny-ui/src/ImageUpload/Image.js
  yarn.lock
Labels: pkg: webiny-ui, tag: bug fix

#501 Support login using a temporary JWT token.
  packages/webiny-api-security/src/plugins/graphql/User.js
  packages/webiny-api-security/src/plugins/graphql/userResolvers/loginUsingToken.js
  packages/webiny-app-security/src/components/Security.js
  packages/webiny-app-security/src/components/graphql.js
  packages/webiny-app-security/src/components/index.js
Labels: tag: new feature

#502 Form component - passed "onSubmit" data is now properly populated with default values
  packages/webiny-form/src/Form.js
Labels: tag: bug fix, webiny-form

#503 Site will only show cookie policy banner if enabled via admin settings
  independent/webiny-integration-cookie-policy/src/plugins/render/index.js
  independent/webiny-integration-cookie-policy/src/plugins/utils/showCookiePolicy.js
Labels: tag: bug fix, webiny-integration-cookie-policy

#504 Added default theme for cookie-policy-integration.
  independent/webiny-integration-cookie-policy/src/plugins/admin/components/CookiePolicySettings.js
  independent/webiny-integration-cookie-policy/src/plugins/admin/components/getDefaultCookiePolicySettings.js
Labels: tag: bug fix, webiny-integration-cookie-policy

#506 Fixed Mailchimp settings API error
  independent/webiny-integration-cookie-policy/.babelrc
  independent/webiny-integration-cookie-policy/.babelrc.api
  independent/webiny-integration-cookie-policy/.babelrc.api.js
  independent/webiny-integration-cookie-policy/.babelrc.client
  independent/webiny-integration-cookie-policy/.babelrc.client.js
  independent/webiny-integration-cookie-policy/.babelrc.js
  independent/webiny-integration-google-tag-manager/.babelrc
  independent/webiny-integration-google-tag-manager/.babelrc.api
  independent/webiny-integration-google-tag-manager/.babelrc.api.js
  independent/webiny-integration-google-tag-manager/.babelrc.client
  independent/webiny-integration-google-tag-manager/.babelrc.client.js
  independent/webiny-integration-google-tag-manager/.babelrc.js
  independent/webiny-integration-mailchimp/.babelrc
  independent/webiny-integration-mailchimp/.babelrc.api
  independent/webiny-integration-mailchimp/.babelrc.api.js
  independent/webiny-integration-mailchimp/.babelrc.client
  independent/webiny-integration-mailchimp/.babelrc.client.js
  independent/webiny-integration-mailchimp/.babelrc.js
  independent/webiny-integration-mailchimp/package.json
  package.json
Labels: tag: bug fix, webiny-integration-mailchimp

#508 "Page list" menu item type now works correctly on site
  packages/webiny-api-cms/src/plugins/graphql/menuResolvers/prepareMenuItems.js
Labels: pkg: webiny-api-cms, tag: bug fix
