Repository webiny/webiny-js, pull requests merged in 2019-06, with the labels that each got.

#542 Removed webiny-data-extractor package.
  packages/webiny-data-extractor/.babelrc
  packages/webiny-data-extractor/.releaserc.js
  packages/webiny-data-extractor/README.md
  packages/webiny-data-extractor/__tests__/customCallbacks.test.js
  packages/webiny-data-extractor/__tests__/extraction.test.js
  packages/webiny-data-extractor/__tests__/mock.js
  packages/webiny-data-extractor/index.js
  packages/webiny-data-extractor/package.json
  packages/webiny-data-extractor/src/index.js
  packages/webiny-data-extractor/src/types.js
  packages/webiny-entity/__tests__/attributes/customAttribute.test.js
  packages/webiny-entity/__tests__/attributes/entitiesAttributes/general.test.js
  packages/webiny-entity/__tests__/attributes/entityAttribute/general.test.js
  packages/webiny-entity/__tests__/entityCollection.test.js
  packages/webiny-entity/__tests__/toJSON.test.js
  packages/webiny-entity/src/entity.js
  packages/webiny-entity/src/entityAttributes/entitiesAttribute.js
  packages/webiny-entity/src/entityAttributes/entityAttribute.js
  packages/webiny-model/__tests__/attributes/array.test.js
  packages/webiny-model/__tests__/attributes/model.test.js
  packages/webiny-model/__tests__/attributes/models.test.js
  packages/webiny-model/__tests__/attributes/modelsKeyValue.test.js
  packages/webiny-model/__tests__/attributes/object.test.js
  packages/webiny-model/__tests__/overridingAttributesContainer.test.js
  packages/webiny-model/__tests__/toJSON.test.js
  packages/webiny-model/package.json
  packages/webiny-model/src/attribute.js
  packages/webiny-model/src/attributes/modelAttribute.js
  packages/webiny-model/src/attributes/modelsAttribute.js
  packages/webiny-model/src/model.js
  scripts/checkdep/config.base.js
Labels: pkg: webiny-data-extractor, tag: bug fix

#544 Support functions in schema security key.
  packages/webiny-api-security/src/plugins/security.js
Labels: tag: new feature

#545 fix: remove handler cache from webiny-api.
  packages/demo-api/src/configs/production.js
  packages/demo-api/src/handler.js
  packages/webiny-admin/.releaserc.js
  packages/webiny-api-cms/.releaserc.js
  packages/webiny-api-files/.releaserc.js
  packages/webiny-api-security/.releaserc.js
  packages/webiny-api/.releaserc.js
  packages/webiny-api/index.js
  packages/webiny-api/src/lambda/lambda.js
  packages/webiny-api/src/lambda/setup.js
  packages/webiny-app-cms/.releaserc.js
  packages/webiny-app-security/.releaserc.js
  packages/webiny-app/.releaserc.js
  packages/webiny-cli/src/functions/appFactory.js
  packages/webiny-cli/src/init/template/packages/api/src/configs/production.js
  packages/webiny-cli/src/init/template/packages/api/src/handler.js
  packages/webiny-cli/src/sdk/client.js
  packages/webiny-entity-mongodb/.releaserc.js
  packages/webiny-entity/.releaserc.js
  packages/webiny-form/.releaserc.js
  packages/webiny-i18n-react/.releaserc.js
  packages/webiny-i18n/.releaserc.js
  packages/webiny-install/.releaserc.js
  packages/webiny-model/.releaserc.js
  packages/webiny-plugins/.releaserc.js
  packages/webiny-ui/.releaserc.js
  packages/webiny-validation/.releaserc.js
  yarn.lock
Labels: tag: enhancement

#546 Add support for schema factory
  packages/webiny-api-cms/src/plugins/graphql.js
  packages/webiny-api-cookie-policy/src/index.js
  packages/webiny-api-files/src/plugins/graphql.js
  packages/webiny-api-google-tag-manager/src/index.js
  packages/webiny-api-mailchimp/src/index.js
  packages/webiny-api-security/src/plugins/graphql.js
  packages/webiny-api-security/src/plugins/security.js
  packages/webiny-api/src/graphql/schema/index.js
  packages/webiny-api/src/lambda/lambda.js
  packages/webiny-api/src/plugins/graphql.js
  packages/webiny-api/src/types.js
Labels: tag: new feature
