Repository webiny/webiny-js, pull requests merged in 2019-05, with the labels that each got.

#526 Cookie policy banner doesn't reinitialize itself on every URL change
  packages/webiny-app-cookie-policy/src/admin/components/CookiePolicySettings.js
  packages/webiny-app-cookie-policy/src/utils/showCookiePolicy.js
Labels: tag: bug fix, webiny-integration-cookie-policy

#527 Fixed sorting of pages in CMS / List of pages
  packages/webiny-api-cms/src/plugins/graphql/pageResolvers/listPages.js
Labels: pkg: webiny-api-cms, tag: bug fix

#531 Implement custom changelog generator.
  package.json
  scripts/release/independent/plugins/github/publish.js
  scripts/release/packages/index.js
  scripts/release/packages/plugins/github/publish.js
  scripts/release/test.js
  scripts/release/utils/changelog/changelogGenerator.js
  scripts/release/utils/changelog/findPullRequestId.js
  scripts/release/utils/changelog/githubApi.js
  scripts/release/utils/changelog/index.js
  scripts/release/utils/changelog/markdownRenderer.js
  scripts/release/utils/labels.js
  yarn.lock
Labels: tag: internal

#533 Fixed TypeForm CMS element
  packages/webiny-app-typeform/src/admin/index.js
Labels: tag: bug fix, webiny-integration-typeform

#535 All of the package README files were updated
  packages/demo-theme/README.md
  packages/webiny-admin/README.md
  packages/webiny-admin/package.json
  packages/webiny-api-cms/README.md
  packages/webiny-api-cms/package.json
  packages/webiny-api-cookie-policy/README.md
  packages/webiny-api-cookie-policy/package.json
  packages/webiny-api-files/README.md
  packages/webiny-api-files/package.json
  packages/webiny-api-google-tag-manager/README.md
  packages/webiny-api-google-tag-manager/package.json
  packages/webiny-api-mailchimp/README.md
  packages/webiny-api-mailchimp/package.json
  packages/webiny-api-security/README.md
  packages/webiny-api-security/package.json
  packages/webiny-api/README.md
  packages/webiny-api/package.json
  packages/webiny-app-cms/README.md
  packages/webiny-app-cookie-policy/README.md
  packages/webiny-app-cookie-policy/package.json
  packages/webiny-app-google-tag-manager/README.md
  packages/webiny-app-google-tag-manager/package.json
  packages/webiny-app-mailchimp/README.md
  packages/webiny-app-mailchimp/package.json
  packages/webiny-app-typeform/README.md
  packages/webiny-app-typeform/package.json
  packages/webiny-app/README.md
  packages/webiny-app/package.json
  packages/webiny-cli/README.md
  packages/webiny-cli/package.json
  packages/webiny-data-extractor/README.md
  packages/webiny-data-extractor/package.json
  packages/webiny-entity-mongodb/README.md
  packages/webiny-entity-mongodb/package.json
  packages/webiny-entity/README.md
  packages/webiny-entity/package.json
  packages/webiny-form/README.md
  packages/webiny-form/package.json
  packages/webiny-i18n-react/README.md
  packages/webiny-i18n-react/package.json
  packages/webiny-i18n/README.md
  packages/webiny-install/README.md
  packages/webiny-install/package.json
  packages/webiny-model/README.md
  packages/webiny-model/package.json
  packages/webiny-plugins/README.md
  packages/webiny-plugins/package.json
  packages/webiny-storybook-utils/README.md
  packages/webiny-ui/README.md
  packages/webiny-ui/package.json
  packages/webiny-validation/README.md
  packages/webiny-validation/package.json
Labels: tag: bug fix

#536 Tabs component - inactive tabs are now hidden instead of completely unmounted
  packages/webiny-app-cms/src/admin/plugins/pageDetails/pageRevisions/RevisionsList.js
  packages/webiny-ui/src/Tabs/Tabs.js
Labels: pkg: webiny-ui, tag: bug fix

#537 Add SSR capabilities.
  packages/demo-site/.env.example
  packages/demo-site/README.md
  packages/demo-site/package.json
  packages/demo-site/public/index.html
  packages/demo-site/src/config/apollo.js
  packages/demo-site/ssr/handler.js
  packages/demo-site/ssr/injectContent.js
  packages/demo-site/ssr/webpack.config.js
  packages/demo-theme/src/index.js
  packages/webiny-app-cms/package.json
  packages/webiny-app-cms/src/admin/plugins/pageDetails/header/editRevision/EditRevision.js
  packages/webiny-app-cms/src/context/CmsProvider.js
  packages/webiny-cli/package.json
  packages/webiny-cli/src/apps/build.js
  packages/webiny-cli/src/apps/ssrServer.js
  packages/webiny-cli/src/apps/start.js
  packages/webiny-cli/src/cli.js
  packages/webiny-cli/src/deploy/index.js
  packages/webiny-cli/src/functions/appFactory.js
  packages/webiny-cli/src/init/template/packages/site/package.json
  packages/webiny-cli/src/init/template/packages/site/public/index.html
  packages/webiny-cli/src/init/template/packages/site/src/config/apollo.js
  packages/webiny-cli/src/init/template/packages/site/ssr/handler.js
  packages/webiny-cli/src/init/template/packages/site/ssr/injectContent.js
  packages/webiny-cli/src/init/template/packages/site/ssr/webpack.config.js
  packages/webiny-cli/src/init/template/packages/theme/src/index.js
  packages/webiny-cli/src/init/template/webiny.config.js
  packages/webiny-cli/src/utils/expressRequestToLambdaEvent.js
  packages/webiny-ui/src/Progress/CircularProgres.js
  scripts/functions-list.js
  scripts/functions.js
  scripts/functions/appFactory.js
  scripts/functions/expressRequestToLambdaEvent.js
  scripts/functions/index.js
  scripts/functions/listFunctions.js
  scripts/functions/logFunctions.js
  scripts/functions/runFunctions.js
  webiny.config.js
  yarn.lock
Labels: tag: new feature

#538 Webiny CLI now works correctly if executed in folders that contain spaces in its name
  .all-contributorsrc
  README.md
  package.json
  packages/webiny-cli/src/functions/index.js
Labels: pkg: webiny-cli, tag: bug fix
