Repository webiny/webiny-js, pull requests merged in 2019-02, with the labels that each got.

#458 Refactor file plugins
  independent/webiny-integration-mailchimp/package.json
  independent/webiny-integration-mailchimp/src/plugins/admin/components/MailchimpElement.js
  independent/webiny-integration-mailchimp/src/plugins/admin/components/MailchimpElementAdvancedSettings.js
  independent/webiny-integration-mailchimp/src/plugins/api/index.js
  independent/webiny-integration-mailchimp/src/plugins/render/components/MailchimpDefaultForm.js
  independent/webiny-integration-mailchimp/src/plugins/render/components/RenderMailchimpForm.js
  independent/webiny-integration-mailchimp/src/plugins/render/index.js
  packages/demo-admin/package.json
  packages/demo-admin/src/config/index.js
  packages/demo-admin/src/plugins/fileUploadPlugin.js
  packages/demo-admin/src/plugins/imagePlugin.js
  packages/demo-admin/src/plugins/index.js
  packages/demo-site/src/plugins/fileUploadPlugin.js
  packages/demo-site/src/plugins/imagePlugin.js
  packages/demo-site/src/plugins/index.js
  packages/demo-theme/src/components/Header.js
  packages/demo-theme/src/index.js
  packages/webiny-api-cms/src/plugins/graphql/pageResolvers/listPages.js
  packages/webiny-api/src/entities/File.entity.js
  packages/webiny-api/src/entities/index.js
  packages/webiny-api/src/plugins/entities.js
  packages/webiny-api/src/plugins/graphql.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/generalSettings/Image.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/background/BackgroundImage.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/components/Checkbox.js
  packages/webiny-app-cms/src/editor/plugins/elements/image/ImageContainer.js
  packages/webiny-app-cms/src/editor/plugins/elements/image/ImageSettings.js
  packages/webiny-app-cms/src/editor/plugins/pageSettings/components/PageImage.js
  packages/webiny-app-cms/src/render/components/Menu.js
  packages/webiny-app-cms/src/render/plugins/elements/image/Image.js
  packages/webiny-app-security/src/admin/plugins/UserMenu/UserImage.js
  packages/webiny-app-security/src/admin/plugins/UserMenu/UserInfo.js
  packages/webiny-app-security/src/admin/views/Users/AvatarImage.js
  packages/webiny-app-security/src/admin/views/Users/UsersDataList.js
  packages/webiny-app/src/components/Image.js
  packages/webiny-app/src/components/MultiImageUpload.js
  packages/webiny-app/src/components/SingleImageUpload.js
  packages/webiny-app/src/components/index.js
  packages/webiny-app/src/components/withFileUpload.js
  packages/webiny-app/src/components/withFileUpload/webinyCloudStoragePlugin.js
  packages/webiny-app/src/plugins/fileUploadPlugin.js
  packages/webiny-app/src/plugins/imagePlugin.js
  packages/webiny-app/src/plugins/index.js
  packages/webiny-ui/package.json
  packages/webiny-ui/src/Avatar/Avatar.js
  packages/webiny-ui/src/FileBrowser/FileBrowser.js
  packages/webiny-ui/src/FileBrowser/index.js
  packages/webiny-ui/src/Image/Image.js
  packages/webiny-ui/src/ImageUpload/Image.js
  packages/webiny-ui/src/ImageUpload/SingleImageUpload.js
  packages/webiny-ui/src/List/List.js
Labels: pkg: webiny-app-cms, tag: internal

#460 Check whether advanced plugins are registered for active element.
  packages/demo-admin/src/config/index.js
  packages/demo-api/package.json
  packages/webiny-app-cms/src/editor/plugins/elementSettings/advanced/AdvancedAction.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/advanced/AdvancedSettings.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/advanced/index.js
  yarn.lock
Labels: tag: enhancement

#461 Refreshed "Pages List" element's advanced settings dialog.
  package.json
  packages/demo-theme/src/components/PageList.js
  packages/webiny-api-cms/src/plugins/graphql/pageResolvers/listPublishedPages.js
  packages/webiny-app-cms/src/editor/plugins/elementSettings/advanced/AdvancedSettings.js
  packages/webiny-app-cms/src/editor/plugins/elements/pagesList/PagesList.js
  packages/webiny-app-cms/src/editor/plugins/elements/pagesList/PagesListDesignSettings.js
  packages/webiny-app-cms/src/editor/plugins/elements/pagesList/PagesListFilterSettings.js
  packages/webiny-app-cms/src/editor/plugins/elements/pagesList/icons/round-filter_list-24px.svg
  packages/webiny-app-cms/src/editor/plugins/elements/pagesList/icons/round-style-24px.svg
  packages/webiny-app-cms/src/editor/plugins/elements/pagesList/index.js
  packages/webiny-app-cms/src/editor/plugins/pageSettings/components/GeneralSettings.js
  packages/webiny-app-cms/src/render/plugins/elements/index.js
  packages/webiny-app-cms/src/render/plugins/elements/pagesList/PagesList.js
  packages/webiny-app-cms/src/render/plugins/elements/pagesList/components/DefaultPagesList.js
  packages/webiny-app-cms/src/render/plugins/elements/pagesList/index.js
  packages/webiny-data-extractor/package.json
  packages/webiny-data-extractor/src/index.js
  packages/webiny-i18n/src/I18n.js
  packages/webiny-ui/src/AutoComplete/MultiAutoComplete.js
  packages/webiny-validation/package.json
  scripts/depCheck.js
  scripts/depCheck/checkPackage.js
  scripts/depCheck/getSrcDeps.js
Labels: pkg: webiny-app-cms, tag: bug fix

#462 Update italic plugin type.
  packages/webiny-app-cms/src/render/plugins/slate/italic/index.js
  packages/webiny-app/package.json
  packages/webiny-entity-mongodb/package.json
  yarn.lock
Labels: tag: bug fix

#463 Fix menu container positioning.
  packages/webiny-ui/src/Menu/Menu.js
Labels: tag: bug fix

#464 Fix blocks list item height recalculation.
  packages/webiny-app-cms/src/editor/plugins/blockEditing/BlockPreview.js
  packages/webiny-app-cms/src/editor/plugins/blockEditing/BlocksList.js
Labels: tag: bug fix

#465 When closing the image editor and then opening the same image again, a new editing session will be started
  packages/webiny-ui/src/ImageEditor/ImageEditor.js
  packages/webiny-ui/src/ImageUpload/ImageEditorDialog.js
Labels: pkg: webiny-ui, tag: bug fix

#467 Added circular progress overlay across admin app
  independent/webiny-integration-cookie-policy/src/plugins/admin/components/CookiePolicySettings.js
  independent/webiny-integration-google-tag-manager/src/plugins/admin/components/GoogleTagManagerSettings.js
  independent/webiny-integration-mailchimp/src/plugins/admin/components/MailchimpSettings.js
  packages/webiny-admin/src/components/withCrud.js
  packages/webiny-app-cms/src/admin/plugins/routes.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/CmsSettings.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/generalSettings/GeneralSettings.js
  packages/webiny-app-cms/src/admin/views/Categories/CategoriesForm.js
  packages/webiny-app-cms/src/admin/views/Menus/MenusForm.js
  packages/webiny-app-security/src/admin/views/Account.js
  packages/webiny-app-security/src/admin/views/Groups/GroupsForm.js
  packages/webiny-app-security/src/admin/views/Login.js
  packages/webiny-app-security/src/admin/views/Login/StyledComponents.js
  packages/webiny-app-security/src/admin/views/Roles/RolesForm.js
  packages/webiny-app-security/src/admin/views/Users/UsersForm.js
  packages/webiny-ui/package.json
  packages/webiny-ui/src/Progress/CircularProgres.js
  packages/webiny-ui/src/Progress/README.md
  packages/webiny-ui/src/Progress/index.js
  packages/webiny-ui/src/Progress/svg/circularProgress.svg
  scripts/checkdep/extractSrcDeps.js
Labels: pkg: webiny-app-admin, pkg: webiny-app-cms, tag: bug fix

#468 Default og:image can now be set via CMS settings
  independent/webiny-cli/src/init/template/packages/admin/src/config/development.js
  independent/webiny-cli/src/init/template/packages/admin/src/config/production.js
  packages/webiny-admin/src/components/withCrud.js
  packages/webiny-admin/src/components/withCrud/getFormData.js
  packages/webiny-api-cms/src/entities/CmsSettings.entity.js
  packages/webiny-api-cms/src/install/plugins/importData.js
  packages/webiny-api-cms/src/plugins/settings/index.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/CmsSettings.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/Image.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/graphql.js
  packages/webiny-app-cms/src/editor/plugins/pageSettings/components/SocialSettings.js
  packages/webiny-app-cms/src/site/components/Page.js
  packages/webiny-app-cms/src/site/components/Page/Content.js
  packages/webiny-app-cms/src/site/components/Page/getSettings.js
  packages/webiny-app-cms/src/site/components/Page/graphql/getDataFields.js
  packages/webiny-app-cms/src/site/components/Page/graphql/getPageSettingsFields.js
  packages/webiny-app-cms/src/site/components/Page/graphql/index.js
  packages/webiny-app-cms/src/site/components/Page/index.js
  packages/webiny-app/src/components/Addons.js
  packages/webiny-entity-memory/package.json
  packages/webiny-entity-mongodb/package.json
  packages/webiny-entity/package.json
  packages/webiny-ui/src/ImageCropper/ImageCropper.js
  packages/webiny-ui/src/ImageCropper/index.js
  packages/webiny-ui/src/ImageEditor/ImageEditor.js
  packages/webiny-ui/src/ImageEditor/toolbar/crop.js
  packages/webiny-ui/src/ImageEditor/toolbar/flip.js
  packages/webiny-ui/src/ImageEditor/toolbar/rotate.js
  packages/webiny-ui/src/ImageEditor/toolbar/types.js
  packages/webiny-ui/src/ImageUpload/ImageEditorDialog.js
  packages/webiny-ui/src/ImageUpload/MultiImageUpload.js
  packages/webiny-ui/src/ImageUpload/SingleImageUpload.js
  scripts/checkdep/config.base.js
  yarn.lock
Labels: pkg: webiny-api-cms, pkg: webiny-app-cms, tag: new feature

#469 CMS Editor fixes
  packages/demo-api/package.json
  packages/webiny-app-cms/src/editor/plugins/elementSettings/link/LinkSettings.js
  packages/webiny-app-cms/src/editor/plugins/elements/image/ImageContainer.js
  packages/webiny-app-cms/src/render/plugins/elements/image/Image.js
  packages/webiny-app/src/components/SingleImageUpload.js
  packages/webiny-plugins/package.json
  packages/webiny-plugins/src/index.js
  yarn.lock
Labels: tag: bug fix

#470 Improve components name and exports.
  .gitignore
  .prettierrc.js
  independent/webiny-integration-cookie-policy/src/plugins/admin/components/CookiePolicySettings.js
  independent/webiny-integration-google-tag-manager/src/plugins/admin/components/GoogleTagManagerSettings.js
  independent/webiny-integration-mailchimp/src/plugins/admin/components/MailchimpSettings.js
  packages/demo-admin/src/plugins/index.js
  packages/webiny-admin/src/components/AdminLayout.js
  packages/webiny-admin/src/components/EmptyLayout.js
  packages/webiny-admin/src/components/OverlayLayout/OverlayLayout.js
  packages/webiny-admin/src/components/OverlayLayout/icons/close.svg
  packages/webiny-admin/src/components/OverlayLayout/icons/navigate_before.svg
  packages/webiny-admin/src/components/OverlayLayout/index.js
  packages/webiny-admin/src/components/SimpleForm/SimpleForm.js
  packages/webiny-admin/src/components/SimpleForm/index.js
  packages/webiny-admin/src/components/SplitView/SplitView.js
  packages/webiny-admin/src/components/SplitView/index.js
  packages/webiny-admin/src/components/Views/CompactView/index.js
  packages/webiny-admin/src/components/Views/SecondaryLayout/index.js
  packages/webiny-admin/src/components/Views/index.js
  packages/webiny-admin/src/plugins/UserMenu/UserMenu.js
  packages/webiny-admin/src/plugins/init.js
  packages/webiny-app-cms/src/admin/plugins/routes.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/CmsSettings.js
  packages/webiny-app-cms/src/admin/plugins/settings/components/generalSettings/GeneralSettings.js
  packages/webiny-app-cms/src/admin/views/Categories/Categories.js
  packages/webiny-app-cms/src/admin/views/Categories/CategoriesForm.js
  packages/webiny-app-cms/src/admin/views/Menus/Menus.js
  packages/webiny-app-cms/src/admin/views/Menus/MenusForm.js
  packages/webiny-app-cms/src/admin/views/Pages/Pages.js
  packages/webiny-app-cms/src/editor/components/Slate/Menu.js
  packages/webiny-app-cms/src/editor/components/Slate/Slate.js
  packages/webiny-app-cms/src/editor/components/Slate/styled.js
  packages/webiny-app-cms/src/editor/plugins/blockEditing/SearchBlocks.js
  packages/webiny-app-cms/src/editor/plugins/defaultBar/components/PageSettings.js
  packages/webiny-app-security/src/admin/plugins/routes.js
  packages/webiny-app-security/src/admin/views/Account.js
  packages/webiny-app-security/src/admin/views/Groups.js
  packages/webiny-app-security/src/admin/views/Groups/GroupsForm.js
  packages/webiny-app-security/src/admin/views/Roles.js
  packages/webiny-app-security/src/admin/views/Roles/RolesForm.js
  packages/webiny-app-security/src/admin/views/Users.js
  packages/webiny-app-security/src/admin/views/Users/UsersForm.js
Labels: tag: enhancement
