Repository webiny/webiny-js, pull requests merged in 2022-06, with the labels that each got.

#2427 Introduce `api-wcp` Package
  packages/api-wcp/.babelrc.js
  packages/api-wcp/LICENSE
  packages/api-wcp/README.md
  packages/api-wcp/docs/examples/registeringPlugins.md
  packages/api-wcp/jest.config.js
  packages/api-wcp/package.json
  packages/api-wcp/src/context.ts
  packages/api-wcp/src/createWcp.ts
  packages/api-wcp/src/graphql.ts
  packages/api-wcp/src/index.ts
  packages/api-wcp/src/types.ts
  packages/api-wcp/src/utils.ts
  packages/api-wcp/tsconfig.build.json
  packages/api-wcp/tsconfig.json
  packages/api-wcp/webiny.config.js
  yarn.lock
Labels: wcp-licensing

#2429 CLI - Introduce Licensing Functionality and Other Updates
  packages/api-wcp/package.json
  packages/cli/README.md
  packages/cli/commands/index.js
  packages/cli/commands/wcp/hooks.js
  packages/cli/commands/wcp/login.js
  packages/cli/commands/wcp/utils/getProjectEnvironment.js
  packages/cli/commands/wcp/utils/getUser.js
  packages/cli/commands/wcp/utils/index.js
  packages/cli/commands/wcp/utils/updateUserLastActiveOn.js
  packages/cli/package.json
  packages/wcp/package.json
  yarn.lock
Labels: wcp-licensing

#2444 Add Support For Setting License/Project Environment via Environment Variables
  .github/workflows/nextPush.yml
  .github/workflows/pullRequests.yml
  .github/workflows/v5Push.yml
  example.env
  packages/wcp/src/licenses.ts
Labels: wcp-licensing

#2431 Introduce API Checks
  jest.config.js
  packages/api-apw/__tests__/utils/useGqlHandler.ts
  packages/api-apw/package.json
  packages/api-apw/src/plugins/context.ts
  packages/api-apw/src/plugins/graphql.ts
  packages/api-apw/src/plugins/hooks/index.ts
  packages/api-apw/src/scheduler/handlers/executeAction/security.ts
  packages/api-apw/src/types.ts
  packages/api-apw/tsconfig.build.json
  packages/api-apw/tsconfig.json
  packages/api-tenancy/package.json
  packages/api-tenancy/src/index.ts
  packages/api-tenancy/src/types.ts
  packages/api-tenancy/tsconfig.build.json
  packages/api-tenancy/tsconfig.json
  packages/api-wcp/package.json
  yarn.lock
Labels: wcp-licensing

#2432 WCP Licensing - Update `webiny deploy` Command
  packages/cwp-template-aws/cli/deploy/deploy.js
Labels: wcp-licensing

#2433 Ensure `hook-before-deploy` Hook Is Invoked Before Pulumi
  packages/cli-plugin-deploy-pulumi/commands/deploy.js
Labels: wcp-licensing

#2434 Introduce `@webiny/app-wcp` Package
  packages/app-wcp/.babelrc.js
  packages/app-wcp/LICENSE
  packages/app-wcp/README.md
  packages/app-wcp/docs/examples/setup.md
  packages/app-wcp/package.json
  packages/app-wcp/src/WcpProvider.tsx
  packages/app-wcp/src/contexts/WcpContext.tsx
  packages/app-wcp/src/contexts/index.ts
  packages/app-wcp/src/hooks/index.ts
  packages/app-wcp/src/hooks/useWcp.ts
  packages/app-wcp/src/index.tsx
  packages/app-wcp/src/types.ts
  packages/app-wcp/tsconfig.build.json
  packages/app-wcp/tsconfig.json
  packages/app-wcp/webiny.config.js
  yarn.lock
Labels: wcp-licensing

#2458 feat: add API for Page Builder Block creation
  packages/api-page-builder-so-ddb-es/src/definitions/pageBlockEntity.ts
  packages/api-page-builder-so-ddb-es/src/index.ts
  packages/api-page-builder-so-ddb-es/src/operations/pageBlock/dataLoader.ts
  packages/api-page-builder-so-ddb-es/src/operations/pageBlock/fields.ts
  packages/api-page-builder-so-ddb-es/src/operations/pageBlock/index.ts
  packages/api-page-builder-so-ddb-es/src/operations/pageBlock/keys.ts
  packages/api-page-builder-so-ddb-es/src/plugins/definitions/PageBlockDynamoDbFieldPlugin.ts
  packages/api-page-builder-so-ddb-es/src/types.ts
  packages/api-page-builder-so-ddb/src/definitions/pageBlockEntity.ts
  packages/api-page-builder-so-ddb/src/index.ts
  packages/api-page-builder-so-ddb/src/operations/pageBlock/dataLoader.ts
  packages/api-page-builder-so-ddb/src/operations/pageBlock/fields.ts
  packages/api-page-builder-so-ddb/src/operations/pageBlock/index.ts
  packages/api-page-builder-so-ddb/src/operations/pageBlock/keys.ts
  packages/api-page-builder-so-ddb/src/plugins/definitions/PageBlockDynamoDbFieldPlugin.ts
  packages/api-page-builder-so-ddb/src/types.ts
  packages/api-page-builder/__tests__/graphql/graphql/pageBlocks.ts
  packages/api-page-builder/__tests__/graphql/lifecycleEvents.pageBlocks.test.ts
  packages/api-page-builder/__tests__/graphql/mocks/lifecycleEvents.ts
  packages/api-page-builder/__tests__/graphql/pageBlocks.test.ts
  packages/api-page-builder/__tests__/graphql/useGqlHandler.ts
  packages/api-page-builder/src/graphql/crud.ts
  packages/api-page-builder/src/graphql/crud/pageBlocks.crud.ts
  packages/api-page-builder/src/graphql/graphql.ts
  packages/api-page-builder/src/graphql/graphql/pageBlocks.gql.ts
  packages/api-page-builder/src/graphql/types.ts
  packages/api-page-builder/src/types.ts
Labels: page-builder-blocks-v2

#2438 Introduce WCP-related Packages and Checks Into Existing Code
  api/code/graphql/package.json
  api/code/graphql/src/index.ts
  api/code/headlessCMS/package.json
  api/code/headlessCMS/src/index.ts
  apps/admin/code/src/App.tsx
  packages/api-wcp/src/graphql.ts
  packages/app-admin/package.json
  packages/app-admin/src/base/Admin.tsx
  packages/app-admin/src/base/providers/ApolloProvider.tsx
  packages/app-admin/src/index.ts
  packages/app-admin/tsconfig.build.json
  packages/app-admin/tsconfig.json
  packages/app-apw/src/plugins/index.tsx
  packages/app-serverless-cms/package.json
  packages/app-serverless-cms/src/Admin.tsx
  packages/app-serverless-cms/tsconfig.build.json
  packages/app-serverless-cms/tsconfig.json
  packages/app-tenant-manager/src/index.tsx
  packages/app-wcp/package.json
  packages/app-wcp/src/WcpProvider.tsx
  packages/project-utils/bundling/app/utils.js
  packages/pulumi-aws/src/apps/api/ApiGraphql.ts
  packages/pulumi-aws/src/apps/lambdaUtils.ts
  packages/pulumi-sdk/src/ApplicationBuilderGeneric.ts
  yarn.lock
Labels: wcp-licensing

#2486 Fix validation for empty string slug value
  packages/api-page-builder/__tests__/graphql/blockCategories.test.ts
  packages/api-page-builder/src/graphql/crud/blockCategories.crud.ts
Labels: page-builder-blocks-v2

#2487 Page builder blocks v2 read operations
  packages/api-page-builder-so-ddb-es/src/operations/pageBlock/index.ts
  packages/api-page-builder-so-ddb/src/operations/pageBlock/index.ts
  packages/api-page-builder/__tests__/graphql/graphql/pageBlocks.ts
  packages/api-page-builder/__tests__/graphql/pageBlocks.test.ts
  packages/api-page-builder/__tests__/graphql/useGqlHandler.ts
  packages/api-page-builder/src/graphql/crud/pageBlocks.crud.ts
  packages/api-page-builder/src/graphql/graphql/pageBlocks.gql.ts
  packages/api-page-builder/src/graphql/types.ts
  packages/api-page-builder/src/types.ts
Labels: page-builder-blocks-v2

#2489 fix(api-admin-users-cognito): disable auth when loading your own user
  packages/api-admin-users-cognito/src/graphql/user.gql.ts
Labels: bug

#2490 fix(app-admin-cognito): add a loading overlay while loading identity
  packages/app-admin-cognito/src/index.tsx
  packages/app-admin-cognito/src/views/CheckingUser.tsx
  packages/app-admin-cognito/src/views/ForgotPassword.tsx
  packages/app-admin-cognito/src/views/LoggingIn.tsx
  packages/app-admin-cognito/src/views/RequireNewPassword.tsx
  packages/app-admin-cognito/src/views/SetNewPassword.tsx
  packages/app-admin-cognito/src/views/SignIn.tsx
Labels: improvement

#2476 Clean Pulumi SDK
  .gitignore
  packages/pulumi-sdk/README.md
  packages/pulumi-sdk/package.json
  packages/pulumi-sdk/src/ApplicationBuilder.ts
  packages/pulumi-sdk/src/ApplicationBuilderGeneric.ts
  packages/pulumi-sdk/src/ApplicationBuilderLegacy.ts
  packages/pulumi-sdk/src/ApplicationConfig.ts
  packages/pulumi-sdk/src/ApplicationHook.ts
  packages/pulumi-sdk/src/Pulumi.ts
  packages/pulumi-sdk/src/PulumiApp.ts
  packages/pulumi-sdk/src/PulumiAppModule.ts
  packages/pulumi-sdk/src/PulumiResource.ts
  packages/pulumi-sdk/src/index.ts
  packages/pulumi-sdk/src/utils/getPulumiWorkDir.ts
  packages/pulumi-sdk/src/utils/getStackName.ts
  packages/pulumi-sdk/src/utils/index.ts
  packages/pulumi-sdk/src/utils/mergeAppHooks.ts
  packages/pulumi-sdk/src/utils/stagedRollouts.ts
  packages/pulumi-sdk/src/utils/tagResources.ts
  yarn.lock
Labels: pulumi-apps

#2480 CLI - Workspaces Project Apps
  packages/cli-plugin-deploy-pulumi/commands/deploy.js
  packages/cli-plugin-deploy-pulumi/commands/destroy.js
  packages/cli-plugin-deploy-pulumi/commands/output.js
  packages/cli-plugin-deploy-pulumi/commands/pulumiRun.js
  packages/cli-plugin-deploy-pulumi/commands/watch.js
  packages/cli-plugin-deploy-pulumi/package.json
  packages/cli-plugin-deploy-pulumi/utils/createProjectApplicationWorkspace.js
  packages/cli-plugin-deploy-pulumi/utils/getPulumi.js
  packages/cli-plugin-deploy-pulumi/utils/index.d.ts
  packages/cli-plugin-deploy-pulumi/utils/index.js
  packages/cli-plugin-deploy-pulumi/utils/login.js
  packages/cli-plugin-deploy-pulumi/utils/workspaceTemplate/Pulumi.yaml
  packages/cli-plugin-deploy-pulumi/utils/workspaceTemplate/pulumi/index.ts
  packages/cli-plugin-deploy-pulumi/utils/workspaceTemplate/tsconfig.json
  packages/cli/package.json
  packages/cli/utils/createProjectApplicationWorkspace.js
  packages/cli/utils/getProjectApplication.js
  packages/cli/utils/index.js
Labels: pulumi-apps

#2481 Cleanup of `@webiny/project-utils`
  packages/project-utils/bundling/function/buildCloudFrontFunction.js
  packages/project-utils/bundling/function/buildLambdaEdge.js
  packages/project-utils/bundling/function/index.js
  packages/project-utils/index.d.ts
  packages/project-utils/index.js
  packages/project-utils/jest.config.js
  packages/project-utils/package.json
Labels: pulumi-apps

#2482 Update Import Statements Across the Project
  api/webiny.application.ts
  apps/admin/webiny.application.ts
  apps/gateway/webiny.application.ts
  apps/storage/webiny.application.ts
  apps/website/webiny.application.ts
  package.json
  packages-v6/pulumi-sdk/package.json
  packages/cli-plugin-scaffold-graphql-api/template/pulumi/index.ts
  packages/cli-plugin-scaffold-react-app/template/pulumi/index.ts
  packages/cwp-template-aws/template/common/apps/admin/pulumi/index.ts
  packages/cwp-template-aws/template/common/apps/website/pulumi/index.ts
  packages/cwp-template-aws/template/ddb-es/api/pulumi/index.ts
  packages/cwp-template-aws/template/ddb-es/dependencies.json
  packages/cwp-template-aws/template/ddb/api/pulumi/index.ts
  packages/cwp-template-aws/template/ddb/dependencies.json
Labels: pulumi-apps

#2483 Bring Back CLI Deploy Hooks
  apps/admin/cli/deploy.ts
  apps/admin/cli/index.ts
  apps/website/cli/deploy.ts
  apps/website/cli/index.ts
  apps/website/cli/renderWebsite.ts
  webiny.project.ts
Labels: pulumi-apps

#2485 Update Project Apps
  api/code/graphql/package.json
  api/code/graphql/tsconfig.json
  api/tsconfig.json
  apps/admin/tsconfig.json
  apps/gateway/tsconfig.json
  apps/gateway/webiny.application.ts
  apps/storage/tsconfig.json
  apps/website/tsconfig.json
  packages/cli/utils/getProjectApplication.js
  packages/pulumi-app-aws/package.json
  packages/pulumi-app/README.md
  packages/pulumi-app/docs/examples/quickExample.md
  yarn.lock
Labels: pulumi-apps
