Repository webiny/webiny-js, pull requests merged in 2023-11, with the labels that each got.

#3657 fix(app-page-builder): improve rendering of block selection overlay
  packages/app-page-builder/package.json
  packages/app-page-builder/src/admin/views/PageBlocks/PageBlocksDataList.tsx
  packages/app-page-builder/src/pageEditor/config/blockEditing/BlocksList.tsx
  yarn.lock
Labels: bug, page-builder

#3650 fix(lexical-editor): update editor state via UpdateStatePlugin
  packages/lexical-editor/src/components/Editor/RichTextEditor.tsx
  packages/lexical-editor/src/components/LexicalHtmlRenderer.tsx
  packages/lexical-editor/src/index.ts
  packages/lexical-editor/src/plugins/LexicalUpdateStatePlugin/LexicalUpdateStatePlugin.tsx
  packages/lexical-editor/src/plugins/LexicalUpdateStatePlugin/UpdateStatePlugin.tsx
  packages/lexical-editor/src/plugins/LexicalUpdateStatePlugin/index.ts
Labels: bug, lexical-editor

#3664 fix(api-aco): flp entry decorator
  packages/api-aco/__tests__/record.so.test.ts
  packages/api-aco/src/utils/decorators/CmsEntriesCrudDecorators.ts
  packages/api-aco/src/utils/decorators/constants.ts
  packages/api-aco/src/utils/decorators/where.ts
  packages/api-headless-cms/src/crud/contentEntry.crud.ts
  packages/api-headless-cms/src/graphql/schema/resolvers/manage/resolveUpdate.ts
  packages/api-headless-cms/src/types.ts
Labels: bug, api

#3663 fix: remove createdOn column from ACO lists
  packages/app-aco/src/sorting.tsx
  packages/app-file-manager/src/components/Table/Table.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Table/index.tsx
  packages/app-page-builder/src/admin/components/Table/Table/index.tsx
Labels: aco

#3573 feat: add eslint rule to prevent importing from @aws-sdk
  .eslintrc.js
  packages/aws-sdk/.eslintrc.js
Labels: node18

#3576 fix: update aws-sdk imports in api-elasticsearch package
  packages/api-elasticsearch/package.json
  packages/api-elasticsearch/src/client.ts
  packages/api-elasticsearch/tsconfig.build.json
  packages/api-elasticsearch/tsconfig.json
  packages/aws-sdk/package.json
  packages/aws-sdk/src/credential-providers/index.ts
  yarn.lock
Labels: node18

#3594 fix: fix images after node update
  .adiorc.js
  package.json
  packages/api-file-manager/package.json
  packages/api-file-manager/src/handlers/transform/index.ts
  packages/api-file-manager/src/handlers/transform/optimizeImage.ts
  packages/api-file-manager/src/handlers/transform/transformImage.ts
  packages/api-file-manager/src/handlers/types.ts
  yarn.lock
Labels: node18

#3607 fix: fix build after updating @types/node to v18
  package.json
  packages/app/package.json
  packages/cwp-template-aws/template/common/tsconfig.build.json
  tsconfig.build.json
  yarn.lock
Labels: node18

#3674 fix(app-file-manager): hide drag overlay after drop
  packages/app-file-manager/src/components/DropFilesHere/DropFilesHere.tsx
  packages/app-file-manager/src/components/DropFilesHere/styled.tsx
  packages/app-file-manager/src/components/Empty/Empty.tsx
  packages/app-file-manager/src/components/FileDetails/FileDetails.tsx
  packages/app-file-manager/src/modules/FileManagerRenderer/FileManagerView/FileManagerView.tsx
  packages/app-file-manager/src/modules/FileManagerRenderer/FileManagerViewProvider/state.ts
Labels: bug, file-manager

#3668 fix: re-initialize filter repository on namespace change
  packages/app-aco/src/components/AdvancedSearch/AdvancedSearch.tsx
  packages/app-aco/src/components/AdvancedSearch/QueryBuilderDrawer/QueryBuilderDrawer.tsx
  packages/app-aco/src/components/AdvancedSearch/QuerySaverDialog/QuerySaverDialog.tsx
  packages/app-aco/src/components/AdvancedSearch/domain/FilterRepository.ts
  packages/app-aco/src/components/AdvancedSearch/domain/FilterRepositoryFactory.ts
  packages/app-aco/src/components/AdvancedSearch/domain/index.ts
  packages/app-aco/src/components/AdvancedSearch/index.tsx
  packages/app-aco/src/components/AdvancedSearch/useFilterRepository.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/Filters.tsx
Labels: aco

#3678 fix(app-page-builder): add ResponsiveElementsProvider
  packages/app-page-builder/src/admin/components/PreviewBlock.tsx
  packages/app-page-builder/src/admin/components/ResponsiveElementsProvider/ResponsiveElementsProvider.tsx
  packages/app-page-builder/src/admin/components/ResponsiveElementsProvider/index.ts
  packages/app-page-builder/src/admin/components/ResponsiveElementsProvider/mediaToContainer.ts
  packages/app-page-builder/src/admin/views/PageBlocks/PageBlocks.tsx
  packages/app-page-builder/src/admin/views/PageBlocks/PageBlocksDataList.tsx
  packages/app-page-builder/src/contexts/PageBuilder/PageElementsProvider.tsx
  packages/app-page-builder/src/pageEditor/config/blockEditing/BlocksList.tsx
  packages/app-page-builder/src/pageEditor/config/blockEditing/StyledComponents.ts
Labels: bug

#3685 fix: advanced search filter boolean files
  packages/app-aco/src/components/AdvancedSearch/GraphQLInputMapper.test.ts
  packages/app-aco/src/components/AdvancedSearch/GraphQLInputMapper.ts
  packages/app-aco/src/components/AdvancedSearch/QueryBuilderDrawer/QueryBuilder/components/fields/Boolean.tsx
  packages/app-aco/src/components/AdvancedSearch/domain/FilterMapper.ts
Labels: Headless CMS, aco

#3687 fix: make element prop optional for BulkAction
  packages/app-file-manager/src/modules/FileManagerRenderer/FileManagerView/configComponents/Browser/BulkAction.tsx
  packages/app-headless-cms/src/admin/config/contentEntries/list/Browser/BulkAction.tsx
  packages/app-page-builder/src/admin/config/pages/list/Browser/BulkAction.tsx
Labels: page-builder, Headless CMS, file-manager

#3689 fix: optimize block variables and lexical state updates
  packages/app-page-builder/src/blockEditor/components/elementSettingsTab/VariableSettings.tsx
  packages/app-page-builder/src/blockEditor/components/elementSettingsTab/VariablesList.tsx
  packages/app-page-builder/src/blockEditor/components/elementSettingsTab/variablesListHooks.ts
  packages/app-page-builder/src/editor/hooks/useElementVariableValue.ts
  packages/app-page-builder/src/editor/plugins/elementSettings/delete/DeleteAction.ts
  packages/app-page-builder/src/editor/plugins/elementSettings/variable/VariableSettings.tsx
  packages/app-page-builder/src/editor/plugins/elementVariables/basic/heading/index.tsx
  packages/app-page-builder/src/editor/plugins/elementVariables/basic/icon/index.tsx
  packages/app-page-builder/src/editor/plugins/elementVariables/basic/image/index.tsx
  packages/app-page-builder/src/editor/plugins/elementVariables/basic/images-list/index.tsx
  packages/app-page-builder/src/editor/plugins/elementVariables/basic/list/index.tsx
  packages/app-page-builder/src/editor/plugins/elementVariables/basic/paragraph/index.tsx
  packages/app-page-builder/src/editor/plugins/elementVariables/basic/quote/index.tsx
  packages/app-page-builder/src/editor/plugins/elementVariables/code/codesandbox/index.tsx
  packages/app-page-builder/src/editor/plugins/elementVariables/embeds/iframe/index.tsx
  packages/app-page-builder/src/editor/plugins/elementVariables/embeds/soundcloud/index.tsx
  packages/app-page-builder/src/editor/plugins/elementVariables/embeds/vimeo/index.tsx
  packages/app-page-builder/src/editor/plugins/elementVariables/embeds/youtube/index.tsx
  packages/app-page-builder/src/editor/plugins/elementVariables/social/pinterest/index.tsx
  packages/app-page-builder/src/editor/plugins/elementVariables/social/twitter/index.tsx
  packages/app-page-builder/src/hooks/useVariable.ts
  packages/app-page-builder/src/pageEditor/config/eventActions/saveRevision/saveRevisionAction.ts
  packages/app-page-builder/src/pageEditor/plugins/elementSettings/UnlinkBlockAction.ts
  packages/app-page-builder/src/templateEditor/plugins/elementSettings/UnlinkBlockAction.ts
  packages/app-page-builder/src/types.ts
  packages/lexical-editor-pb-element/src/LexicalEditor.tsx
  packages/lexical-editor-pb-element/src/plugins/elementSettings/variables/LexicalVariableInputPlugin.tsx
  packages/lexical-editor/src/components/Editor/HeadingEditor.tsx
  packages/lexical-editor/src/components/Editor/ParagraphEditor.tsx
  packages/lexical-editor/src/plugins/LexicalUpdateStatePlugin/UpdateStatePlugin.tsx
  packages/lexical-editor/src/utils/generateInitialLexicalValue.ts
  packages/lexical-editor/src/utils/isValidLexicalData.ts
Labels: bug, improvement

#3695 fix(app-page-builder): separate state observers for better performance
  packages/api-page-builder-import-export/src/import/process/blocks/blocksHandler.ts
  packages/app-page-builder/src/admin/contexts/AdminPageBuilder/PageBlocks/BlocksRepository.ts
  packages/app-page-builder/src/admin/contexts/AdminPageBuilder/PageBlocks/usePageBlocks.ts
  packages/app-page-builder/src/admin/views/PageBlocks/PageBlocksDataList.tsx
Labels: improvement

#3696 fix(api-headless-cms): models and groups cache
  packages/api-headless-cms/src/crud/contentModel.crud.ts
  packages/api-headless-cms/src/crud/contentModelGroup.crud.ts
  packages/api-headless-cms/src/utils/caching/CacheKey.ts
  packages/api-headless-cms/src/utils/caching/types.ts
Labels: bug, api

#3698 fix(api-aco): app reference causing no identity found
  packages/api-aco/src/record/graphql/createAppResolvers.ts
Labels: bug, api, aco

#3713 fix: dynamodb document client types
  apps/api/pageBuilder/export/combine/src/security.ts
  apps/api/pageBuilder/export/process/src/security.ts
  apps/api/pageBuilder/import/create/src/security.ts
  apps/api/pageBuilder/import/process/src/security.ts
  packages/aws-sdk/src/client-dynamodb/index.ts
  packages/serverless-cms-aws/handlers/ddb-es/api/pageBuilder/export/combine/src/security.ts
  packages/serverless-cms-aws/handlers/ddb-es/api/pageBuilder/export/process/src/security.ts
  packages/serverless-cms-aws/handlers/ddb-es/api/pageBuilder/import/create/src/security.ts
  packages/serverless-cms-aws/handlers/ddb-es/api/pageBuilder/import/process/src/security.ts
  packages/serverless-cms-aws/handlers/ddb/api/pageBuilder/export/combine/src/security.ts
  packages/serverless-cms-aws/handlers/ddb/api/pageBuilder/export/process/src/security.ts
  packages/serverless-cms-aws/handlers/ddb/api/pageBuilder/import/create/src/security.ts
  packages/serverless-cms-aws/handlers/ddb/api/pageBuilder/import/process/src/security.ts
Labels: bug

#3715 feat: add bulk edit to File Manager
  apps/api/graphql/src/index.ts
  packages/api-file-manager/src/modelModifier/CmsModelModifier.ts
  packages/app-file-manager/jest.config.js
  packages/app-file-manager/package.json
  packages/app-file-manager/src/components/BulkActions/ActionEdit/ActionEdit.styled.tsx
  packages/app-file-manager/src/components/BulkActions/ActionEdit/ActionEdit.tsx
  packages/app-file-manager/src/components/BulkActions/ActionEdit/ActionEdit.types.ts
  packages/app-file-manager/src/components/BulkActions/ActionEdit/ActionEditPresenter.test.ts
  packages/app-file-manager/src/components/BulkActions/ActionEdit/ActionEditPresenter.ts
  packages/app-file-manager/src/components/BulkActions/ActionEdit/BatchEditorDialog/AddOperation.tsx
  packages/app-file-manager/src/components/BulkActions/ActionEdit/BatchEditorDialog/BatchEditor.tsx
  packages/app-file-manager/src/components/BulkActions/ActionEdit/BatchEditorDialog/BatchEditorDialog.tsx
  packages/app-file-manager/src/components/BulkActions/ActionEdit/BatchEditorDialog/BatchEditorDialogPresenter.test.ts
  packages/app-file-manager/src/components/BulkActions/ActionEdit/BatchEditorDialog/BatchEditorDialogPresenter.tsx
  packages/app-file-manager/src/components/BulkActions/ActionEdit/BatchEditorDialog/FieldRenderer.tsx
  packages/app-file-manager/src/components/BulkActions/ActionEdit/BatchEditorDialog/Operation.tsx
  packages/app-file-manager/src/components/BulkActions/ActionEdit/BatchEditorDialog/RemoveOperation.tsx
  packages/app-file-manager/src/components/BulkActions/ActionEdit/BatchEditorDialog/index.tsx
  packages/app-file-manager/src/components/BulkActions/ActionEdit/GraphQLInputMapper.test.ts
  packages/app-file-manager/src/components/BulkActions/ActionEdit/GraphQLInputMapper.ts
  packages/app-file-manager/src/components/BulkActions/ActionEdit/domain/Batch.ts
  packages/app-file-manager/src/components/BulkActions/ActionEdit/domain/BatchMapper.ts
  packages/app-file-manager/src/components/BulkActions/ActionEdit/domain/Field.ts
  packages/app-file-manager/src/components/BulkActions/ActionEdit/domain/FieldMapper.ts
  packages/app-file-manager/src/components/BulkActions/ActionEdit/domain/index.ts
  packages/app-file-manager/src/components/BulkActions/ActionEdit/index.tsx
  packages/app-file-manager/src/components/BulkActions/index.tsx
  packages/app-file-manager/src/modules/FileManagerRenderer/index.tsx
  scripts/listPackagesWithTests.js
  yarn.lock
Labels: file-manager

#3729 refactor: cleanup until in tests
  packages/api-headless-cms/__tests__/contentAPI/contentEntry.withId.test.ts
  packages/api-headless-cms/__tests__/contentAPI/contentEntryMetaField.test.ts
  packages/api-headless-cms/__tests__/contentAPI/entryPagination.test.ts
  packages/api-headless-cms/__tests__/contentAPI/resolvers.apiKey.manage.test.ts
  packages/api-headless-cms/__tests__/contentAPI/resolvers.read.test.ts
  packages/api-headless-cms/__tests__/converters/mocks/fieldIdStorageConverter.ts
  packages/api-headless-cms/__tests__/storageOperations/entries.test.ts
  packages/api-headless-cms/__tests__/storageOperations/fieldUniqueValues.test.ts
  packages/api-headless-cms/__tests__/storageOperations/helpers.ts
  packages/api-headless-cms/__tests__/testHelpers/helpers.ts
  packages/api-headless-cms/__tests__/testHelpers/useGraphQLHandler.ts
  packages/api-page-builder/__tests__/graphql/pageFullUrl.test.ts
  packages/api-page-builder/__tests__/graphql/pages.deletion.test.ts
  packages/api-page-builder/__tests__/graphql/pages.test.ts
  packages/api-page-builder/__tests__/graphql/pagesGetPublished.test.ts
  packages/api-page-builder/__tests__/graphql/pagesListingLatest.test.ts
  packages/api-page-builder/__tests__/graphql/simple.pages.test.ts
  packages/api-page-builder/__tests__/graphql/utils/waitPage.ts
  packages/cli-plugin-scaffold-graphql-api/template/code/graphql/src/plugins/scaffolds/index.ts
  packages/cwp-template-aws/template/common/apps/admin/src/plugins/scaffolds/index.ts
  packages/cwp-template-aws/template/ddb-es/apps/api/graphql/src/plugins/scaffolds/index.ts
  packages/cwp-template-aws/template/ddb/apps/api/graphql/src/plugins/scaffolds/index.ts
Labels: api
