Repository webiny/webiny-js, pull requests merged in 2023-12, with the labels that each got.

#3761 fix(api-headless-cms): wrong references order
  packages/api-headless-cms/__tests__/contentAPI/mocks/contentModels.ts
  packages/api-headless-cms/__tests__/contentAPI/refField.test.ts
  packages/api-headless-cms/__tests__/testHelpers/useWrapManageHandler.ts
  packages/api-headless-cms/__tests__/testHelpers/useWrapReadHandler.ts
  packages/api-headless-cms/src/graphqlFields/ref.ts
Labels: bug, cms

#3759 fix: file details drawer overlay
  packages/app-file-manager/src/components/FileDetails/FileDetails.tsx
Labels: file-manager

#3758 fix: new reference record z-index
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/components/dialog/Dialog.tsx
Labels: Headless CMS

#3765 fix(app-headless-cms): allow sending empty arrays from form
  packages/app-headless-cms-common/src/prepareFormData.ts
Labels: bug, cms

#3778 feat(ui): add DrawerRight and DrawerLeft components
  packages/app-aco/src/components/AdvancedSearch/QueryBuilderDrawer/QueryBuilderDrawer.styled.tsx
  packages/app-aco/src/components/AdvancedSearch/QueryBuilderDrawer/QueryBuilderDrawer.tsx
  packages/app-file-manager/src/components/FileDetails/FileDetails.tsx
  packages/app-page-builder/src/admin/components/Table/Preview/index.tsx
  packages/app-page-builder/src/admin/components/Table/Preview/styled.tsx
  packages/app-page-builder/src/editor/components/Editor/Toolbar.tsx
  packages/ui/src/Drawer/Drawer.tsx
Labels: improvement
