Repository webiny/webiny-js, pull requests merged in 2023-10, with the labels that each got.

#3554 fix: add support for `titleFieldId` defined inside the HCMS model
  packages/app-aco/src/contexts/acoList.tsx
  packages/app-aco/src/contexts/app.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Table/index.tsx
Labels: Headless CMS, aco

#3567 fix(api-headless-cms): load all models and entries in ref field mapping
  packages/api-headless-cms/src/crud/contentEntry/referenceFieldsMapping.ts
Labels: cms, api

#3582 feat(api-headless-cms): enable skipping validator by name
  packages/api-headless-cms/__tests__/contentAPI/cmsEntryValidation/contentEntry.optionalValidation.test.ts
  packages/api-headless-cms/__tests__/contentAPI/cmsEntryValidation/handler.graphql.ts
  packages/api-headless-cms/__tests__/contentAPI/cmsEntryValidation/handler.ts
  packages/api-headless-cms/src/crud/contentEntry.crud.ts
  packages/api-headless-cms/src/crud/contentEntry/entryDataValidation.ts
  packages/api-headless-cms/src/graphql/index.ts
  packages/api-headless-cms/src/graphql/schema/baseSchema.ts
  packages/api-headless-cms/src/graphql/schema/resolvers/manage/resolveUpdate.ts
  packages/api-headless-cms/src/types.ts
  packages/api-headless-cms/src/validators/dynamicZone.ts
  packages/api-headless-cms/src/validators/index.ts
  packages/validation/src/validators/gt.ts
  packages/validation/src/validators/gte.ts
  packages/validation/src/validators/lt.ts
  packages/validation/src/validators/lte.ts
Labels: bug, cms, api

#3547 fix: fix navigation layout list styles
  apps/theme/layouts/pages/Static/Navigation.tsx
  packages/cwp-template-aws/template/common/apps/theme/layouts/pages/Static/Navigation.tsx
Labels: needs-project-upgrade

#3591 fix(api-elasticsearch): filtering via startsWith and notStartsWith
  packages/api-elasticsearch/src/plugins/operator/notStartsWith.ts
  packages/api-elasticsearch/src/plugins/operator/startsWith.ts
  packages/api-headless-cms-ddb/src/operations/entry/filtering/filter.ts
  packages/api-headless-cms/__tests__/contentAPI/filtering.test.ts
  packages/db-dynamodb/src/plugins/definitions/ValueFilterPlugin.ts
  packages/db-dynamodb/src/plugins/filters/startsWith.ts
Labels: api

#3603 fix(lexical-editor): remount LexicalComposer when Nodes change
  packages/lexical-editor/src/components/Editor/RichTextEditor.tsx
Labels: bug

#3466 feat: modify elasticsearch index creation
  packages/api-elasticsearch/src/index.ts
  packages/api-elasticsearch/src/utils/createIndex.ts
  packages/api-elasticsearch/src/utils/index.ts
  packages/api-file-manager-ddb-es/package.json
  packages/api-form-builder-so-ddb-es/src/elasticsearch/createElasticsearchIndex.ts
  packages/api-headless-cms-ddb-es/src/elasticsearch/createElasticsearchIndex.ts
  packages/api-headless-cms-ddb-es/src/elasticsearch/deleteElasticsearchIndex.ts
  packages/api-headless-cms-ddb-es/src/index.ts
  packages/api-headless-cms-ddb-es/src/operations/system/indexes.ts
  packages/api-page-builder-so-ddb-es/src/elasticsearch/createElasticsearchIndex.ts
  packages/app-form-builder/src/admin/plugins/installation.tsx
  packages/app-headless-cms/src/admin/plugins/install.tsx
  packages/app-page-builder/src/admin/plugins/installation.tsx
  packages/migrations/__tests__/migrations/5.37.0/002/ddb-es/002.test.ts
  yarn.lock
Labels: cms, page-builder, file manager, api, elasticsearch, form builder

#3543 feat(apw): Only creator can edit and delete change requests
  packages/api-apw/README.md
  packages/api-apw/__tests__/graphql/access.test.ts
  packages/api-apw/src/storageOperations/changeRequestStorageOperations.ts
  packages/app-apw/src/components/ContentReviewEditor/ChangeRequest/ChangeRequest.tsx
  packages/app-apw/src/components/ContentReviewEditor/Comment/Comments.tsx
  packages/ui/src/RichTextEditor/RichTextEditor.tsx
Labels: apw

#3506 feat(APW): Refresh content review - pull data on every 10s
  packages/app-apw/src/components/ContentReviewEditor/CenterPanel.tsx
  packages/app-apw/src/components/ContentReviewEditor/Comment/Comments.tsx
  packages/app-apw/src/hooks/useChangeRequestsList.ts
  packages/app-apw/src/hooks/useCommentsList.ts
  packages/app-apw/src/hooks/useContentReview.ts
  packages/app-apw/src/hooks/useContentReviewsList.ts
  packages/app-apw/src/hooks/useCurrentStep.ts
  packages/app-apw/src/hooks/useFetchInterval.ts
  packages/app-apw/src/views/contentReviewDashboard/ContentReviewDataList.tsx
Labels: feature, apw

#3628 feat(app-headless-cms): export groups and models styling
  packages/app-headless-cms/src/admin/views/contentModels/importing/ImportContentModelsDialog.tsx
  packages/app-headless-cms/src/admin/views/contentModels/importing/components/FileUpload.tsx
  packages/app-headless-cms/src/admin/views/contentModels/importing/components/Model/DataListInstructions.tsx
  packages/app-headless-cms/src/admin/views/contentModels/importing/components/Model/DataListModelItem.tsx
  packages/app-headless-cms/src/admin/views/contentModels/importing/components/Model/DataListModelItemInfo.tsx
Labels: Headless CMS

#3632 fix: bulk actions for HCMS and Page Builder
  packages/app-headless-cms/src/admin/components/ContentEntries/BulkActions/ActionDelete.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/BulkActions/ActionMove.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/BulkActions/ActionPublish.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/BulkActions/ActionUnpublish.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/BulkActions/BulkActions.styled.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/BulkActions/BulkActions.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/BulkActions/index.tsx
  packages/app-headless-cms/src/admin/config/contentEntries/list/Browser/BulkAction.tsx
  packages/app-page-builder/src/admin/components/BulkActions/ActionDelete.tsx
  packages/app-page-builder/src/admin/components/BulkActions/ActionMove.tsx
  packages/app-page-builder/src/admin/components/BulkActions/ActionPublish.tsx
  packages/app-page-builder/src/admin/components/BulkActions/ActionUnpublish.tsx
  packages/app-page-builder/src/admin/components/BulkActions/BulkActions.styled.tsx
  packages/app-page-builder/src/admin/components/BulkActions/BulkActions.tsx
  packages/app-page-builder/src/admin/config/pages/list/Browser/BulkAction.tsx
Labels: page-builder, Headless CMS

#3648 feat: add getAncestors folder method
  packages/api-aco/src/folder/folder.crud.ts
  packages/api-aco/src/folder/folder.types.ts
  packages/api-aco/src/utils/getFolderAndItsAncestors.ts
Labels: aco

#3652 fix: export PageListConfig and usePageListConfig from package
  packages/app-page-builder/src/PageBuilder.tsx
Labels: page-builder

#3647 fix: block folder deletion with associated entries and files
  packages/api-aco/__tests__/flp.cms.test.ts
  packages/api-aco/__tests__/folder.so.test.ts
  packages/api-aco/__tests__/utils/useCmsGraphQlHandler.ts
  packages/api-aco/__tests__/utils/useGraphQlHandler.ts
  packages/api-aco/src/createAcoHooks.ts
  packages/api-aco/src/folder/onFolderBeforeDeleteAco.hook.ts
  packages/api-aco/src/folder/onFolderBeforeDeleteFm.hook.ts
  packages/api-aco/src/folder/onFolderBeforeDeleteHcms.hook.ts
  packages/api-aco/src/types.ts
  packages/api-file-manager-aco/package.json
  yarn.lock
Labels: bug, Headless CMS, file-manager, aco
