Repository webiny/webiny-js, pull requests merged in 2023-08, with the labels that each got.

#3422 feat(api-headless-cms-ddb-es): entry values modifier
  jest.config.base.setup.js
  packages/api-aco/package.json
  packages/api-elasticsearch/src/compression.ts
  packages/api-headless-cms-ddb-es/__tests__/api/entryValuesModifier.test.ts
  packages/api-headless-cms-ddb-es/__tests__/api/helpers/fetchFromElasticsearch.ts
  packages/api-headless-cms-ddb-es/__tests__/api/mocks/plugins.ts
  packages/api-headless-cms-ddb-es/__tests__/api/mocks/result.ts
  packages/api-headless-cms-ddb-es/__tests__/graphql/handler.ts
  packages/api-headless-cms-ddb-es/__tests__/plugins/CmsEntryElasticsearchValuesModifier.test.ts
  packages/api-headless-cms-ddb-es/package.json
  packages/api-headless-cms-ddb-es/src/index.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/index.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/transformations/convertEntryKeys.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/transformations/index.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/transformations/modifyEntryValues.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/transformations/transformEntryKeys.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/transformations/transformEntryToIndex.ts
  packages/api-headless-cms-ddb-es/src/plugins/CmsEntryElasticsearchValuesModifier.ts
  packages/api-headless-cms-ddb-es/src/plugins/index.ts
  packages/api-headless-cms/src/context.ts
  packages/api-headless-cms/src/crud/contentEntry.crud.ts
  packages/api-headless-cms/src/crud/contentModel.crud.ts
  packages/api-headless-cms/src/crud/contentModelGroup.crud.ts
  packages/api-headless-cms/src/index.ts
  packages/api-headless-cms/src/types.ts
  packages/api-headless-cms/src/utils/access.ts
  packages/api-headless-cms/src/utils/permissions/ModelGroupsPermissions.ts
  packages/api-headless-cms/src/utils/permissions/ModelsPermissions.ts
  yarn.lock
Labels: cms, api

#3459 Fix(lexical) - lexical editor upgrade 0.11.3
  packages/lexical-editor/package.json
  packages/lexical-editor/src/hooks/useList.ts
  packages/lexical-editor/src/nodes/ListItemNode.ts
  packages/lexical-editor/src/nodes/ListNode/formatList.ts
  packages/lexical-editor/src/utils/getLexicalTextSelectionState.ts
  packages/lexical-editor/src/utils/nodes/listNode.ts
  packages/react-rich-text-lexical-renderer/__tests__/lexical-render.ts
  yarn.lock
Labels: lexical-editor

#3470 fix(db-dynamodb): scan result next method provides exact interface as scan
  packages/db-dynamodb/src/utils/scan.ts
Labels: bug

#3464 feat(api-headless-cms): export groups and models
  packages/api-headless-cms-ddb-es/src/operations/group/index.ts
  packages/api-headless-cms/__tests__/contentAPI/contentModel.crud.test.ts
  packages/api-headless-cms/__tests__/contentAPI/contentModelGroup.crud.test.ts
  packages/api-headless-cms/__tests__/contentAPI/export.structure.test.ts
  packages/api-headless-cms/__tests__/testHelpers/graphql/structure.ts
  packages/api-headless-cms/__tests__/testHelpers/useGraphQLHandler.ts
  packages/api-headless-cms/src/context.ts
  packages/api-headless-cms/src/crud/contentModelGroup.crud.ts
  packages/api-headless-cms/src/crud/contentModelGroup/beforeCreate.ts
  packages/api-headless-cms/src/crud/contentModelGroup/validation.ts
  packages/api-headless-cms/src/export/crud/filtering.ts
  packages/api-headless-cms/src/export/crud/index.ts
  packages/api-headless-cms/src/export/crud/sanitize.ts
  packages/api-headless-cms/src/export/crud/structure.ts
  packages/api-headless-cms/src/export/graphql/index.ts
  packages/api-headless-cms/src/export/index.ts
  packages/api-headless-cms/src/export/types.ts
  packages/api-headless-cms/src/graphql/schema/contentModelGroups.ts
  packages/api-headless-cms/src/index.ts
  packages/api-headless-cms/src/types.ts
  packages/handler-graphql/src/builtInTypes/RefInputScalar.ts
  packages/migrations/__tests__/migrations/5.37.0/002/ddb-es/002.test.ts
Labels: cms, api

#3479 PB(fix): button action type selection
  packages/app-page-builder-elements/src/renderers/button.tsx
Labels: bug, page-builder

#3474 Lexical link to support reference to element in the same page
  packages/lexical-editor/src/nodes/link-node.ts
  packages/lexical-editor/src/nodes/webinyNodes.ts
  packages/lexical-editor/src/plugins/FloatingLinkEditorPlugin/FloatingLinkEditorPlugin.tsx
  packages/lexical-editor/src/utils/getLexicalTextSelectionState.ts
  packages/lexical-editor/src/utils/isUrlLinkReference.ts
  packages/lexical-editor/src/utils/sanitizeUrl.ts
Labels: bug, lexical-editor

#3486 fix(app-aco): use form data to bypass the event execution order problem
  packages/app-aco/src/components/Dialogs/DialogCreate.tsx
Labels: bug

#3482 Fix(lexical-editor): lexical link node clone warning
  packages/lexical-editor/src/nodes/link-node.ts
Labels: lexical-editor

#3477 Sanitize HTML in @webiny/react-rich-text-renderer package
  packages/react-rich-text-renderer/README.md
  packages/react-rich-text-renderer/package.json
  packages/react-rich-text-renderer/src/index.tsx
  yarn.lock
Labels: bug

#3485 fix(app-headless-cms): add folder selector to new entry dialog
  packages/app-headless-cms/src/admin/components/ContentEntryForm/ContentEntryForm.tsx
  packages/app-headless-cms/src/admin/components/ContentEntryForm/useContentEntryForm.ts
  packages/app-headless-cms/src/admin/components/LexicalCmsEditor/LexicalCmsEditor.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/advanced/components/AdvancedMultipleReferenceField.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/advanced/components/AdvancedSingleReferenceField.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/advanced/components/NewReferencedEntryDialog.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/advanced/components/ReferencesDialog.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/advanced/detailedReferenceRenderer.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/components/ContentEntriesAutocomplete.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/components/ContentEntriesMultiAutoComplete.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/components/NewEntryButton.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/components/NewRefEntryFormDialog.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/components/NewReferencedEntryDialog.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/components/createEntryUrl.ts
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/components/dialog/Dialog.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/components/dialog/DialogHeader.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/components/dialog/assets/close.svg
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/components/graphql.ts
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/components/helpers.ts
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/components/types.ts
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/components/useReference.ts
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/hooks/useNewRefEntryDialog.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/refInput.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/refInputs.tsx
  packages/app-headless-cms/src/admin/views/contentEntries/ContentEntry/prepareFormData.ts
  packages/lexical-editor/src/components/Editor/RichTextEditor.tsx
  packages/logger/tsconfig.build.json
  packages/logger/tsconfig.json
  packages/migrations/tsconfig.build.json
  packages/migrations/tsconfig.json
Labels: bug, Headless CMS
