Repository webiny/webiny-js, pull requests merged in 2023-09, with the labels that each got.

#3502 feat: add column size prop and allow users to resize it
  packages/app-file-manager/src/components/Table/Table.tsx
  packages/app-file-manager/src/components/Table/styled.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Table/index.tsx
  packages/app-page-builder/src/admin/components/Table/Table/index.tsx
  packages/app-page-builder/src/admin/components/Table/Table/styled.tsx
  packages/ui/src/DataTable/DataTable.tsx
  packages/ui/src/DataTable/styled.tsx
Labels: page-builder, file manager, Headless CMS

#3516 feat: add createdOn column to ACO tables
  packages/app-aco/src/sorting.tsx
  packages/app-file-manager/src/components/Table/Table.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Table/index.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Table/types.ts
  packages/app-headless-cms/src/utils/acoRecordTransform.ts
  packages/app-page-builder/src/admin/components/Table/Table/index.tsx
  packages/app-page-builder/src/types.ts
  packages/ui/src/DataTable/DataTable.tsx
Labels: page-builder, Headless CMS, file-manager, aco

#3518 fix(app-file-manager): prepare extensions form data for graphql
  packages/app-file-manager/src/components/FileDetails/FileDetails.tsx
Labels: bug, file manager

#3519 fix(api-file-manager): cms fields graphql definitions
  packages/api-file-manager/__tests__/file.extensions.test.ts
  packages/api-file-manager/__tests__/fileSchema.test.ts
  packages/api-file-manager/__tests__/mocks/file.sdl.ts
  packages/api-file-manager/src/graphql/index.ts
  packages/api-headless-cms/src/utils/getSchemaFromFieldPlugins.ts
Labels: bug, file manager, api

#3524 fix: add PbAcoContext type
  packages/cwp-template-aws/template/ddb-es/apps/api/graphql/src/types.ts
  packages/cwp-template-aws/template/ddb/apps/api/graphql/src/types.ts
Labels: page-builder, aco

#3515 fix(api-elasticsearch): contains query with slash
  packages/api-elasticsearch/src/normalize.ts
  packages/api-elasticsearch/src/plugins/operator/contains.ts
  packages/api-elasticsearch/src/plugins/operator/japanese/contains.ts
  packages/api-elasticsearch/src/plugins/operator/notContains.ts
  packages/api-headless-cms/__tests__/contentAPI/search.test.ts
Labels: bug, api

#3529 fix: return previous saved records in case of empty response from apis
  packages/app-aco/src/contexts/records.tsx
Labels: aco

#3534 fix: add limit to LIST_FOLDERS query
  packages/app-aco/src/graphql/folders.gql.ts
Labels: aco

#3532 test(handler): request caching
  packages/handler/__tests__/caching.test.ts
  packages/handler/__tests__/caching/DummyCache.ts
  packages/handler/__tests__/caching/cachePlugin.ts
  packages/handler/__tests__/caching/createPostRoute.ts
  packages/handler/__tests__/caching/hash.ts
  packages/handler/__tests__/caching/requestBody.ts
Labels: api

#3533 fix(api-headless-cms): ensure _templateId exists on mutation return value
  packages/api-headless-cms/__tests__/contentAPI/dynamicZoneField.test.ts
  packages/api-headless-cms/__tests__/testHelpers/usePageManageHandler.ts
  packages/api-headless-cms/src/graphqlFields/dynamicZone/dynamicZoneStorage.ts
Labels: bug

#3538 fix(api-aco): ensure correct tenant and locale is used in ACO storage
  packages/api-aco/src/apps/AcoApp.ts
Labels: bug

#3544 fix: file manager listing after first paginated fetch
  packages/app-file-manager/src/modules/FileManagerRenderer/FileManagerView/FileManagerView.tsx
Labels: file-manager

#3557 fix(api-headless-cms): search with colon in search term
  jest.config.base.setup.js
  packages/api-elasticsearch/src/normalize.ts
  packages/api-headless-cms-ddb/__tests__/operations/entry/filtering/filter.test.ts
  packages/api-headless-cms/__tests__/contentAPI/search.test.ts
  packages/db-dynamodb/__tests__/plugins/filters.test.ts
  packages/db-dynamodb/src/plugins/filters/contains.ts
  packages/db-dynamodb/src/plugins/filters/fuzzy.ts
  packages/migrations/src/migrations/5.37.0/002/ddb-es/index.ts
Labels: bug, api

#3436 feat: implemented multi step form
  apps/theme/layouts/forms/DefaultFormLayout.tsx
  apps/theme/layouts/forms/DefaultFormLayout/SubmitButton.tsx
  apps/theme/layouts/forms/DefaultFormLayout/buttons/Button.tsx
  cypress/integration/admin/formBuilder/forms/createForm.spec.js
  cypress/support/commands.js
  cypress/support/formBuilder/fbDeleteForm.js
  cypress/support/formBuilder/graphql.js
  packages/api-form-builder-so-ddb-es/src/definitions/form.ts
  packages/api-form-builder-so-ddb-es/src/operations/form/index.ts
  packages/api-form-builder-so-ddb/src/definitions/form.ts
  packages/api-form-builder/__tests__/formSubmissionSecurity.test.ts
  packages/api-form-builder/__tests__/forms.test.ts
  packages/api-form-builder/__tests__/formsSecurity.test.ts
  packages/api-form-builder/__tests__/graphql/formSubmission.ts
  packages/api-form-builder/__tests__/graphql/forms.ts
  packages/api-form-builder/src/plugins/crud/forms.crud.ts
  packages/api-form-builder/src/plugins/crud/forms.models.ts
  packages/api-form-builder/src/plugins/crud/submissions.crud.ts
  packages/api-form-builder/src/plugins/graphql/form.ts
  packages/api-form-builder/src/types.ts
  packages/api-page-builder-import-export/src/export/process/exporters/FormExporter.ts
  packages/api-page-builder-import-export/src/import/process/forms/formsHandler.ts
  packages/app-form-builder/src/admin/components/FormEditor/Context/functions/deleteField.ts
  packages/app-form-builder/src/admin/components/FormEditor/Context/functions/getFieldPosition.ts
  packages/app-form-builder/src/admin/components/FormEditor/Context/functions/index.ts
  packages/app-form-builder/src/admin/components/FormEditor/Context/functions/moveFieldBetweenSteps.ts
  packages/app-form-builder/src/admin/components/FormEditor/Context/functions/moveRow.ts
  packages/app-form-builder/src/admin/components/FormEditor/Context/functions/moveRowBetweenSteps.ts
  packages/app-form-builder/src/admin/components/FormEditor/Context/functions/moveStep.ts
  packages/app-form-builder/src/admin/components/FormEditor/Context/graphql.ts
  packages/app-form-builder/src/admin/components/FormEditor/Context/useFormEditorFactory.tsx
  packages/app-form-builder/src/admin/components/FormEditor/Draggable.tsx
  packages/app-form-builder/src/admin/components/FormEditor/DropZone/Center.tsx
  packages/app-form-builder/src/admin/components/FormEditor/Droppable.tsx
  packages/app-form-builder/src/admin/components/FormEditor/Tabs/EditTab/EditTab.tsx
  packages/app-form-builder/src/admin/components/FormEditor/Tabs/EditTab/FormStep/EditFormStepDialog.tsx
  packages/app-form-builder/src/admin/components/FormEditor/Tabs/EditTab/FormStep/FormStep.tsx
  packages/app-form-builder/src/admin/components/FormEditor/Tabs/EditTab/Styled.ts
  packages/app-form-builder/src/admin/graphql.ts
  packages/app-form-builder/src/admin/plugins/formDetails/formSubmissions/FormSubmissionsList/FormSubmissionDialog.tsx
  packages/app-form-builder/src/admin/views/Forms/FormsDataList.tsx
  packages/app-form-builder/src/components/Form/FormRender.tsx
  packages/app-form-builder/src/components/Form/graphql.ts
  packages/app-form-builder/src/types.ts
  packages/app-page-builder-elements/src/renderers/form/FormRender.tsx
  packages/app-page-builder-elements/src/renderers/form/dataLoaders/graphql.ts
  packages/app-page-builder-elements/src/renderers/form/types.ts
Labels: needs-migration, needs-project-upgrade
