Repository webiny/webiny-js, pull requests merged in 2023-05, with the labels that each got.

#3280 test(api-aco): enable different cms storage operations
  packages/api-aco/__tests__/utils/storageOperations.ts
  packages/api-aco/__tests__/utils/useGraphQlHandler.ts
  packages/api-aco/package.json
  packages/api-aco/tsconfig.build.json
  packages/api-aco/tsconfig.json
  packages/api-page-builder-aco/__tests__/utils/storageOperations.ts
  packages/api-page-builder-aco/__tests__/utils/useGraphQlHandler.ts
  yarn.lock
Labels: bug, cms

#3277 fix(api-aco): models for multiple tenants and locales
  packages/api-aco/src/createAcoModels.ts
Labels: bug, api

#3273 fix(headless-cms): data loader caching
  packages/api-headless-cms-ddb-es/src/operations/entry/dataLoader/DataLoaderCache.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/dataLoader/constants.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/dataLoader/createBatchScheduleFn.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/dataLoader/getAllEntryRevisions.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/dataLoader/getLatestRevisionByEntryId.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/dataLoader/getPublishedRevisionByEntryId.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/dataLoader/getRevisionById.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/dataLoader/index.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/dataLoader/types.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/dataLoaders.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/index.ts
  packages/api-headless-cms-ddb/src/operations/entry/dataLoader/DataLoaderCache.ts
  packages/api-headless-cms-ddb/src/operations/entry/dataLoader/constants.ts
  packages/api-headless-cms-ddb/src/operations/entry/dataLoader/createBatchScheduleFn.ts
  packages/api-headless-cms-ddb/src/operations/entry/dataLoader/getAllEntryRevisions.ts
  packages/api-headless-cms-ddb/src/operations/entry/dataLoader/getLatestRevisionByEntryId.ts
  packages/api-headless-cms-ddb/src/operations/entry/dataLoader/getPublishedRevisionByEntryId.ts
  packages/api-headless-cms-ddb/src/operations/entry/dataLoader/getRevisionById.ts
  packages/api-headless-cms-ddb/src/operations/entry/dataLoader/index.ts
  packages/api-headless-cms-ddb/src/operations/entry/dataLoader/types.ts
  packages/api-headless-cms-ddb/src/operations/entry/dataLoaders.ts
  packages/api-headless-cms-ddb/src/operations/entry/index.ts
  packages/api-headless-cms/__tests__/contentAPI/contentEntry.deleteMultiple.test.ts
  packages/api-headless-cms/__tests__/contentAPI/references.test.ts
  packages/api-headless-cms/__tests__/contentAPI/snapshots/category.manage.ts
  packages/api-headless-cms/__tests__/contentAPI/snapshots/page.manage.ts
  packages/api-headless-cms/__tests__/contentAPI/snapshots/product.manage.ts
  packages/api-headless-cms/__tests__/contentAPI/snapshots/review.manage.ts
  packages/api-headless-cms/__tests__/testHelpers/outputBenchmarkLogs.ts
  packages/api-headless-cms/__tests__/testHelpers/plugins.ts
  packages/api-headless-cms/__tests__/testHelpers/useGraphQLHandler.ts
  packages/api-headless-cms/package.json
  packages/api-headless-cms/src/crud/contentEntry.crud.ts
  packages/api-headless-cms/src/graphql/schema/baseSchema.ts
  packages/api-headless-cms/src/graphql/schema/createManageSDL.ts
  packages/api-headless-cms/src/graphql/schema/resolvers/manage/resolveDelete.ts
  packages/api-headless-cms/src/graphql/schema/schemaPlugins.ts
  packages/api-headless-cms/src/types.ts
  packages/api/src/Benchmark.ts
  packages/db-dynamodb/src/index.ts
  packages/db-dynamodb/src/utils/index.ts
  packages/project-utils/testing/elasticsearch/client.ts
  packages/project-utils/testing/elasticsearch/createClient.js
  yarn.lock
Labels: bug, cms

#3299 refactor(api-headless-cms): graphql schema generators
  packages/api-headless-cms/__tests__/helpers/renderSortEnum.test.ts
  packages/api-headless-cms/src/graphql/schema/createFieldResolvers.ts
  packages/api-headless-cms/src/graphql/schema/createFieldTypePluginRecords.ts
  packages/api-headless-cms/src/graphql/schema/createManageSDL.ts
  packages/api-headless-cms/src/graphql/schema/createReadSDL.ts
  packages/api-headless-cms/src/graphql/schema/schemaPlugins.ts
  packages/api-headless-cms/src/graphqlFields/object.ts
  packages/api-headless-cms/src/types.ts
  packages/api-headless-cms/src/utils/getBaseFieldType.ts
  packages/api-headless-cms/src/utils/getEntryDescription.ts
  packages/api-headless-cms/src/utils/getEntryImage.ts
  packages/api-headless-cms/src/utils/getEntryTitle.ts
  packages/api-headless-cms/src/utils/renderFields.ts
  packages/api-headless-cms/src/utils/renderGetFilterFields.ts
  packages/api-headless-cms/src/utils/renderInputFields.ts
  packages/api-headless-cms/src/utils/renderListFilterFields.ts
  packages/api-headless-cms/src/utils/renderSortEnum.ts
Labels: cms

#3296 fix: check base permissions for ACO schemas
  packages/api-aco/__tests__/folder.so.test.ts
  packages/api-aco/__tests__/record.so.test.ts
  packages/api-aco/__tests__/utils/tenancySecurity.ts
  packages/api-aco/__tests__/utils/useGraphQlHandler.ts
  packages/api-aco/src/folder/folder.gql.ts
  packages/api-aco/src/record/record.gql.ts
  packages/api-aco/src/utils/checkPermissions.ts
Labels: bug

#3293 fix(api-file-manager-s3): compare extensions using lower case
  packages/api-file-manager-s3/src/utils/getPresignedPostPayload.ts
Labels: bug

#3253 feat(app-headless-cms): simple checkbox ref renderer
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/advanced/index.ts
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/index.ts
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/simple/components/SimpleItems.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/simple/components/SimpleMultipleRenderer.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/simple/components/SimpleSingleRenderer.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/simple/components/useContentModels.ts
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/simple/components/useReferences.ts
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/simple/index.ts
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/simple/simpleMultipleRenderer.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/simple/simpleSingleRenderer.tsx
Labels: feature

#3294 fix(api-file-manager-s3): improve extension handling
  packages/api-file-manager-s3/src/utils/prepareFileData.ts
Labels: bug

#3288 fix: skip aco search record creation for private files
  packages/api-file-manager-aco/__tests__/file.hooks.test.ts
  packages/api-file-manager-aco/package.json
  packages/api-file-manager-aco/src/file/hooks/onFileAfterBatchCreate.hook.ts
  packages/api-file-manager-aco/src/file/hooks/onFileAfterCreate.hook.ts
  yarn.lock
Labels: file-manager

#3290 Fix(lexical): Error message in the console after opening the dropdown menu
  packages/lexical-editor/package.json
  packages/lexical-editor/src/ui/DropDown.tsx
  yarn.lock
Labels: bug, page-builder

#3298 fix(lexical): copy paste headings from other source
  packages/app-page-builder/src/editor/plugins/elements/heading/elementText.ts
  packages/lexical-editor-actions/src/components/TypographyDropDown.tsx
  packages/lexical-editor/src/components/ToolbarActions/TypographyAction.tsx
  packages/lexical-editor/src/nodes/HeadingNode.ts
  packages/lexical-editor/src/nodes/types.ts
  packages/lexical-editor/src/nodes/webinyNodes.ts
  packages/lexical-editor/src/plugins/TypographyPlugin/TypographyPlugin.tsx
  packages/lexical-editor/src/themes/webinyLexicalTheme.css
  packages/lexical-editor/src/types.ts
  packages/lexical-editor/src/utils/generateInitialLexicalValue.ts
  packages/lexical-editor/src/utils/getLexicalTextSelectionState.ts
  packages/lexical-editor/src/utils/nodes/formatToHeading.ts
Labels: bug, page-builder

#3303 fix(lexical): copy paste quote block from different sources
  packages/lexical-editor/src/components/Editor/HeadingEditor.tsx
  packages/lexical-editor/src/components/Editor/RichTextEditor.tsx
  packages/lexical-editor/src/components/ToolbarActions/QuoteAction.tsx
  packages/lexical-editor/src/components/ToolbarActions/TypographyAction.tsx
  packages/lexical-editor/src/hooks/useQuote.ts
  packages/lexical-editor/src/nodes/QuoteNode.ts
  packages/lexical-editor/src/nodes/WebinyQuoteNode.ts
  packages/lexical-editor/src/nodes/webinyNodes.ts
  packages/lexical-editor/src/plugins/WebinyQuoteNodePlugin/WebinyQuoteNodePlugin.ts
  packages/lexical-editor/src/types.ts
  packages/lexical-editor/src/utils/getLexicalTextSelectionState.ts
  packages/lexical-editor/src/utils/nodes/formatToQuote.ts
Labels: bug, page-builder

#3325 fix(lexical): initial lexical value
  packages/lexical-editor/src/utils/generateInitialLexicalValue.ts
Labels: bug, page-builder, lexical-editor

#3332 fix: FolderTree performance
  packages/app-aco/src/components/FolderTree/List/index.tsx
  packages/app-aco/src/components/FolderTree/List/utils.ts
  packages/app-aco/src/contexts/folders.tsx
  packages/app-aco/src/graphql/folders.gql.ts
  packages/app-aco/src/types.ts
Labels: aco

#3328 fix: folder creation in root
  packages/app-aco/src/components/FolderTree/List/utils.ts
  packages/app-aco/src/hooks/useAcoList.ts
  packages/app-file-manager/src/modules/FileManagerRenderer/AcoRenderer/FileManagerAcoView.tsx
  packages/app-file-manager/src/modules/FileManagerRenderer/AcoRenderer/LeftSidebar.tsx
  packages/app-file-manager/src/modules/FileManagerRenderer/FileManagerAcoViewProvider/FileManagerAcoViewContext.tsx
  packages/app-file-manager/src/modules/FileManagerRenderer/FileManagerAcoViewProvider/stateReducer.ts
  packages/app-page-builder/src/admin/views/Pages/Table/Main.tsx
  packages/app-page-builder/src/admin/views/Pages/Table/index.tsx
Labels: page-builder, file-manager

#3333 fix: 5.36.x files migrations
  packages/migrations/__tests__/migrations/5.36.0/001/ddb/001.test.ts
  packages/migrations/src/migrations/5.36.0/001/ddb/FileDataMigration.ts
Labels: file-manager, aco

#3300 fix(lexical): missing style on the list when user copy and paste from other sources
  packages/lexical-editor/src/commands/webiny-list.ts
  packages/lexical-editor/src/components/ToolbarActions/BulletListAction.tsx
  packages/lexical-editor/src/components/ToolbarActions/FontSizeAction.tsx
  packages/lexical-editor/src/components/ToolbarActions/NumberedListAction.tsx
  packages/lexical-editor/src/hooks/useList.ts
  packages/lexical-editor/src/nodes/ListItemNode.ts
  packages/lexical-editor/src/nodes/ListNode.ts
  packages/lexical-editor/src/nodes/ListNode/formatList.ts
  packages/lexical-editor/src/nodes/webinyNodes.ts
  packages/lexical-editor/src/plugins/WebinyListPLugin/WebinyListPlugin.ts
  packages/lexical-editor/src/utils/getLexicalTextSelectionState.ts
  packages/lexical-editor/src/utils/nodes/listNode.ts
Labels: bug, page-builder
