Repository webiny/webiny-js, pull requests merged in 2023-07, with the labels that each got.

#3396 fix(api-apw): unschedule publish when retracting sign off
  packages/api-apw/src/crud/createContentReviewMethods.ts
Labels: api

#3362 feat: added linkedIn to social networks list
  apps/theme/layouts/pages/Static/Footer.tsx
  apps/theme/layouts/pages/Static/assets/linkedin-brands.svg
  packages/api-page-builder/src/graphql/crud/settings/validation.ts
  packages/api-page-builder/src/graphql/graphql/settings.gql.ts
  packages/api-page-builder/src/types.ts
  packages/app-page-builder/src/admin/hooks/usePageBuilderSettings/usePageBuilderSettings.ts
  packages/app-page-builder/src/modules/WebsiteSettings/graphql.ts
  packages/app-page-builder/src/modules/WebsiteSettings/settingsGroups/SocialMedia.tsx
  packages/app-theme-manager/src/graphql/GET_THEME.ts
  packages/app-website/src/Page/graphql.ts
  packages/cwp-template-aws/template/common/apps/theme/layouts/pages/Static/Footer.tsx
  packages/cwp-template-aws/template/common/apps/theme/layouts/pages/Static/assets/linkedin-brands.svg
Labels: needs-project-upgrade

#3363 fix: added line height style for headings
  apps/theme/theme.ts
  packages/cwp-template-aws/template/common/apps/theme/theme.ts
Labels: needs-project-upgrade

#3399 feat: remove min and max chars validation for folder title and slug fields
  packages/api-aco/__tests__/folder.so.test.ts
  packages/api-aco/src/folder/folder.model.ts
  packages/app-aco/src/components/Dialogs/DialogCreate.tsx
  packages/app-aco/src/components/Dialogs/DialogUpdate.tsx
  packages/validation/src/validators/slug.ts
Labels: aco

#3407 fix: folder navigation and search
  packages/app-aco/src/contexts/acoList.tsx
  packages/app-aco/src/contexts/navigateFolder.tsx
  packages/app-aco/src/contexts/navigateFolderWithRouter.tsx
  packages/app-admin-rmwc/src/index.tsx
  packages/app-headless-cms/src/admin/views/contentEntries/Table/index.tsx
  packages/app-headless-cms/src/admin/views/contentEntries/hooks/useContentEntriesList.ts
  packages/app-page-builder/src/admin/views/Pages/hooks/usePagesList.ts
Labels: page-builder, Headless CMS, aco

#3412 fix: folder navigation on application load
  packages/app-aco/src/components/FolderTree/List/index.tsx
  packages/app-aco/src/contexts/navigateFolder.tsx
  packages/app-aco/src/contexts/navigateFolderWithRouter.tsx
Labels: page-builder, Headless CMS, aco

#3411 feat(HCMS): add support for filters converter and decorator
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/Filters.tsx
  packages/app-headless-cms/src/admin/config/contentEntries/list/Browser/Filter.tsx
  packages/app-headless-cms/src/admin/config/contentEntries/list/Browser/FiltersToWhere.tsx
  packages/app-headless-cms/src/admin/config/contentEntries/list/Browser/index.ts
  packages/app-headless-cms/src/admin/config/contentEntries/list/ContentEntryListConfig.tsx
Labels: Headless CMS

#3415 fix(Lexical): Lexical toolbar is not visible for PB block variable inputs
  packages/app-page-builder/src/editor/plugins/elementVariables/basic/heading/index.tsx
  packages/app-page-builder/src/editor/plugins/elementVariables/basic/paragraph/index.tsx
Labels: page-builder, lexical-editor

#3397 fix(hcms): Show legacy Rich Text Editor for old models
  packages/app-headless-cms-common/src/types/index.ts
  packages/app-headless-cms/src/admin/components/FieldEditor/EditFieldDialog.tsx
  packages/app-headless-cms/src/admin/components/FieldEditor/EditFieldDialog/AppearanceTab.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/lexicalText/lexicalTextInput.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/lexicalText/lexicalTextInputs.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/lexicalText/utils.ts
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/richText/index.ts
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/richText/richTextInput.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/richText/richTextInputs.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/richText/utils.ts
Labels: Headless CMS, lexical-editor

#3417 fix(api-headless-cms): move published entry to another folder
  packages/api-aco/__tests__/record.so.test.ts
  packages/api-aco/src/folder/onFolderBeforeDelete.hook.ts
  packages/api-headless-cms-ddb-es/__tests__/__api__/setupFile.js
  packages/api-headless-cms-ddb-es/src/operations/entry/index.ts
  packages/api-headless-cms-ddb/src/operations/entry/index.ts
  packages/api-headless-cms/__tests__/contentAPI/contentEntry.move.test.ts
  packages/api-headless-cms/__tests__/contentAPI/latestEntries.test.ts
  packages/api-headless-cms/__tests__/contentAPI/resolvers.apiKey.manage.test.ts
  packages/api-headless-cms/__tests__/contentAPI/resolvers.manage.test.ts
  packages/api-headless-cms/__tests__/testHelpers/plugins.ts
  packages/api-headless-cms/__tests__/testHelpers/useCategoryManageHandler.ts
  packages/api-headless-cms/src/crud/contentEntry.crud.ts
  packages/api-headless-cms/src/graphql/schema/resolvers/manage/resolveMove.ts
  packages/api-headless-cms/src/types.ts
Labels: bug, cms, api

#3418 fix: check "own" permission while listing PbPage search records
  packages/app-aco/package.json
  packages/app-aco/src/contexts/acoList.tsx
  packages/app-aco/src/contexts/app.tsx
  packages/app-aco/tsconfig.build.json
  packages/app-aco/tsconfig.json
  packages/app-page-builder/src/admin/views/Pages/Table/index.tsx
  packages/app-page-builder/src/hooks/permissions/createUsePermissions.ts
  yarn.lock
Labels: page-builder, aco

#3426 fix: own permission in case of full access
  packages/app-page-builder/src/hooks/permissions/createUsePermissions.ts
Labels: page-builder, aco

#3427 fix: return lowercase folderId from storage
  packages/app-aco/src/contexts/navigateFolder.tsx
Labels: aco

#3432 fix(api-headless-cms-ddb-es): possible null or undefined rawValues
  packages/api-headless-cms-ddb-es/src/elasticsearch/indexing/objectIndexing.ts
  packages/api-headless-cms-ddb-es/src/helpers/fieldIdentifier.ts
Labels: api

#3437 fix(Lexical): Header input reset to paragraph
  packages/lexical-editor/src/nodes/HeadingNode.ts
Labels: bug, lexical-editor

#3449 fix(api-headless-cms): permissions checks
  packages/api-headless-cms/src/context.ts
  packages/api-headless-cms/src/crud/contentEntry.crud.ts
  packages/api-headless-cms/src/crud/contentModel.crud.ts
  packages/api-headless-cms/src/crud/contentModelGroup.crud.ts
  packages/api-headless-cms/src/index.ts
  packages/api-headless-cms/src/types.ts
  packages/api-headless-cms/src/utils/access.ts
  packages/api-headless-cms/src/utils/permissions/ModelGroupsPermissions.ts
  packages/api-headless-cms/src/utils/permissions/ModelsPermissions.ts
Labels: bug, cms

#3439 fix: ACO table rendering performances
  packages/app-aco/src/components/Dialogs/DialogMove.tsx
  packages/app-aco/src/components/Dialogs/index.tsx
  packages/app-aco/src/contexts/acoList.tsx
  packages/app-aco/src/contexts/records.tsx
  packages/app-aco/src/dialogs/dialogs.tsx
  packages/app-file-manager/src/components/Table/Table.tsx
  packages/app-headless-cms-common/src/types/index.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/LoadingMore/index.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Table/Row/Record/RecordActionMove.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Table/index.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Table/types.ts
  packages/app-headless-cms/src/admin/views/contentEntries/Table/Main.tsx
  packages/app-headless-cms/src/admin/views/contentEntries/hooks/index.ts
  packages/app-headless-cms/src/admin/views/contentEntries/hooks/useMoveContentEntryToFolder.ts
  packages/app-headless-cms/src/utils/acoRecordTransform.ts
  packages/app-page-builder/src/admin/components/Table/LoadingMore/index.tsx
  packages/app-page-builder/src/admin/components/Table/Table/Row/Record/RecordActionMove.tsx
  packages/app-page-builder/src/admin/components/Table/Table/index.tsx
  packages/app-page-builder/src/admin/views/Pages/Table/Main.tsx
  packages/app-page-builder/src/admin/views/Pages/hooks/useMovePageToFolder.ts
  packages/ui/src/DataTable/DataTable.tsx
Labels: aco
