Repository webiny/webiny-js, pull requests merged in 2024-04, with the labels that each got.

#4072 feat(api-headless-cms): content entry traverser
  packages/api-headless-cms/__tests__/contentTraverser/mocks/article.entry.ts
  packages/api-headless-cms/__tests__/contentTraverser/mocks/article.model.ts
  packages/api-headless-cms/__tests__/contentTraverser/mocks/richTextValue.ts
  packages/api-headless-cms/__tests__/contentTraverser/modelAst.test.ts
  packages/api-headless-cms/__tests__/contentTraverser/traverser.test.ts
  packages/api-headless-cms/src/crud/contentEntry.crud.ts
  packages/api-headless-cms/src/crud/contentEntry/referenceFieldsMapping.ts
  packages/api-headless-cms/src/crud/contentModel.crud.ts
  packages/api-headless-cms/src/graphqlFields/dynamicZone/dynamicZoneField.ts
  packages/api-headless-cms/src/graphqlFields/object.ts
  packages/api-headless-cms/src/types/context.ts
  packages/api-headless-cms/src/types/fields/dynamicZoneField.ts
  packages/api-headless-cms/src/types/fields/objectField.ts
  packages/api-headless-cms/src/types/identity.ts
  packages/api-headless-cms/src/types/index.ts
  packages/api-headless-cms/src/types/model.ts
  packages/api-headless-cms/src/types/modelAst.ts
  packages/api-headless-cms/src/types/modelField.ts
  packages/api-headless-cms/src/types/modelGroup.ts
  packages/api-headless-cms/src/types/plugins.ts
  packages/api-headless-cms/src/types/types.ts
  packages/api-headless-cms/src/utils/contentEntryTraverser/ContentEntryTraverser.ts
  packages/api-headless-cms/src/utils/contentModelAst/CmsModelFieldToAstConverterFromPlugins.ts
  packages/api-headless-cms/src/utils/contentModelAst/CmsModelFieldToAstFromPlugin.ts
  packages/api-headless-cms/src/utils/contentModelAst/CmsModelToAstConverter.ts
  packages/api-headless-cms/src/utils/contentModelAst/index.ts
Labels: feature, Headless CMS

#4087 fix(api-headless-cms): rename `deleted` flag to `wbyDeleted`
  packages/api-headless-cms-ddb-es/src/definitions/entry.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/elasticsearch/fields.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/index.ts
  packages/api-headless-cms-ddb/__tests__/operations/entry/filtering/createFields.test.ts
  packages/api-headless-cms-ddb/src/definitions/entry.ts
  packages/api-headless-cms-ddb/src/operations/entry/filtering/systemFields.ts
  packages/api-headless-cms-ddb/src/operations/entry/index.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/DeleteEntry/TransformEntryMoveToBin.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetEntriesByIds/GetEntriesByIdsNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetLatestEntriesByIds/GetLatestEntriesByIdsNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetLatestRevisionByEntryId/GetLatestRevisionByEntryIdDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetLatestRevisionByEntryId/GetLatestRevisionByEntryIdNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetPreviousRevisionByEntryId/GetPreviousRevisionByEntryIdNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetPublishedEntriesByIds/GetPublishedEntriesByIdsNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetPublishedRevisionByEntryId/GetPublishedRevisionByEntryIdNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetRevisionById/GetRevisionByIdNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetRevisionsByEntryId/GetRevisionsByEntryIdNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/ListEntries/ListEntriesOperationDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/ListEntries/ListEntriesOperationNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/RestoreEntryFromBin/TransformEntryRestoreFromBin.ts
  packages/api-headless-cms/src/types/types.ts
Labels: api, Headless CMS

#4086 feat(app-headless-cms): create bind component on field config change
  packages/api-headless-cms-aco/tsconfig.build.json
  packages/api-headless-cms-aco/tsconfig.json
  packages/app-headless-cms-common/package.json
  packages/app-headless-cms-common/src/types/model.ts
  packages/app-headless-cms-common/tsconfig.build.json
  packages/app-headless-cms-common/tsconfig.json
  packages/app-headless-cms/src/admin/components/ContentEntryForm/useBind.tsx
  packages/app-headless-cms/src/utils/createValidators.ts
  packages/app-headless-cms/tsconfig.json
  yarn.lock
Labels: Headless CMS

#4088 fix(app-trash-bin): various fixes and improvements
  packages/api-audit-logs/src/config.ts
  packages/api-audit-logs/src/subscriptions/headlessCms/entries.ts
  packages/api-audit-logs/src/subscriptions/headlessCms/index.ts
  packages/app-aco/src/contexts/records.tsx
  packages/app-aco/src/graphql/records/getRecord.ts
  packages/app-aco/src/graphql/records/types.ts
  packages/app-audit-logs/src/types.ts
  packages/app-audit-logs/src/utils/transformCmsContentEntriesToRecordEntries.ts
  packages/app-audit-logs/src/views/Logs/Table/Table.tsx
  packages/app-audit-logs/src/views/Logs/Table/styled.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/BulkActions/ActionDelete.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/TrashBin/adapters/TrashBinRestoreItemGraphQLGatewayWithCallback.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/TrashBin/adapters/index.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/TrashBin/components/TrashBin.tsx
  packages/app-headless-cms/src/admin/components/ContentEntryForm/Header/DeleteEntry/DeleteEntry.tsx
  packages/app-headless-cms/src/admin/components/ContentEntryForm/Header/DeleteEntry/useDeleteEntry.tsx
  packages/app-headless-cms/src/admin/hooks/useDeleteEntry.tsx
  packages/app-trash-bin/src/Presentation/TrashBin/TrashBin.test.ts
  packages/app-trash-bin/src/Presentation/TrashBin/TrashBin.tsx
  packages/app-trash-bin/src/Presentation/TrashBin/TrashBinControllers.ts
  packages/app-trash-bin/src/Presentation/TrashBin/TrashBinPresenter.ts
  packages/app-trash-bin/src/Presentation/TrashBin/controllers/GetRestoredItemById/GetRestoredItemByIdController.ts
  packages/app-trash-bin/src/Presentation/TrashBin/controllers/GetRestoredItemById/IGetRestoredItemByIdController.ts
  packages/app-trash-bin/src/Presentation/TrashBin/controllers/GetRestoredItemById/index.ts
  packages/app-trash-bin/src/Presentation/TrashBin/controllers/index.ts
  packages/app-trash-bin/src/Presentation/TrashBinRenderer/TrashBinRenderer.tsx
  packages/app-trash-bin/src/Presentation/abstractions/ITrashBinControllers.ts
  packages/app-trash-bin/src/Presentation/abstractions/ITrashBinPresenter.ts
  packages/app-trash-bin/src/Presentation/components/BulkActions/DeleteItems/DeleteItems.tsx
  packages/app-trash-bin/src/Presentation/components/BulkActions/RestoreItems/RestoreItems.tsx
  packages/app-trash-bin/src/Presentation/components/Cells/CellTitle/CellTitle.styled.tsx
  packages/app-trash-bin/src/Presentation/components/Empty/Empty.styled.tsx
  packages/app-trash-bin/src/Presentation/components/Empty/Empty.tsx
  packages/app-trash-bin/src/Presentation/hooks/useRestoreTrashBinItem.tsx
  packages/app-trash-bin/src/Presentation/hooks/useTrashBin.tsx
  packages/app-trash-bin/src/Presentation/index.tsx
  packages/app-trash-bin/src/UseCases/GetRestoredItem/GetRestoredItemUseCase.ts
  packages/app-trash-bin/src/UseCases/GetRestoredItem/IGetRestoredItemUseCase.ts
  packages/app-trash-bin/src/UseCases/GetRestoredItem/index.ts
  packages/app-trash-bin/src/UseCases/index.ts
Labels: api, Headless CMS

#4100 fix(app-aco): predefined values field renderer
  packages/app-aco/src/components/AdvancedSearch/AdvancedSearchConfigs.tsx
  packages/app-aco/src/components/AdvancedSearch/domain/Field.ts
  packages/app-aco/src/components/AdvancedSearch/fields/PredefinedValues.tsx
  packages/app-aco/src/components/AdvancedSearch/fields/index.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/FieldsMapper.ts
Labels: aco

#4101 fix(api-aco): verify existence of identity while emptying the trash bins
  packages/api-aco/src/utils/FolderLevelPermissions.ts
  packages/api-headless-cms-tasks/__tests__/context/helpers.ts
  packages/api-headless-cms-tasks/__tests__/context/tenancySecurity.ts
  packages/api-headless-cms-tasks/__tests__/context/useHandler.ts
Labels: aco

#4102 fix(cli-plugin-deploy-pulumi): update config resolution logic
  packages/cli-plugin-deploy-pulumi/commands/watch/WebinyConfigFile.js
  packages/cli-plugin-deploy-pulumi/commands/watch/listPackages.js
  packages/cli-plugin-deploy-pulumi/commands/watch/watchPackages.js
Labels: bug

#4105 feat(cwp-template-aws): add locking mechanism into plugins list
  packages/cwp-template-aws/template/ddb-es/apps/api/graphql/package.json
  packages/cwp-template-aws/template/ddb-es/apps/api/graphql/src/index.ts
  packages/cwp-template-aws/template/ddb-os/apps/api/graphql/package.json
  packages/cwp-template-aws/template/ddb-os/apps/api/graphql/src/index.ts
  packages/cwp-template-aws/template/ddb/apps/api/graphql/package.json
  packages/cwp-template-aws/template/ddb/apps/api/graphql/src/index.ts
Labels: api
