Repository webiny/webiny-js, pull requests merged in 2024-07, with the labels that each got.

#4194 fix(api-headless-cms): validate model import
  packages/api-headless-cms/src/crud/contentModel/validation.ts
  packages/api-headless-cms/src/types/modelField.ts
Labels: cms, api

#4196 Content entry traverser
  packages/api-headless-cms-ddb-es/__tests__/plugins/dynamoDb/storage/plugins.ts
  packages/api-headless-cms-ddb/__tests__/plugins/dynamoDb/storage/plugins.ts
  packages/api-headless-cms/__tests__/contentAPI/dynamicZoneField.test.ts
  packages/api-headless-cms/__tests__/contentTraverser/mocks/article.entry.ts
  packages/api-headless-cms/__tests__/contentTraverser/mocks/page.entry.ts
  packages/api-headless-cms/__tests__/contentTraverser/mocks/page.model.ts
  packages/api-headless-cms/__tests__/contentTraverser/mocks/richTextValue.ts
  packages/api-headless-cms/__tests__/contentTraverser/modelAst.test.ts
  packages/api-headless-cms/__tests__/contentTraverser/traverser.test.ts
  packages/api-headless-cms/__tests__/plugins/storage/container.ts
  packages/api-headless-cms/src/crud/contentEntry/referenceFieldsMapping.ts
  packages/api-headless-cms/src/graphql/schema/createManageResolvers.ts
  packages/api-headless-cms/src/graphql/schema/createPreviewResolvers.ts
  packages/api-headless-cms/src/graphql/schema/createReadResolvers.ts
  packages/api-headless-cms/src/graphql/schema/resolvers/manage/normalizeGraphQlInput.ts
  packages/api-headless-cms/src/graphqlFields/dynamicZone/dynamicZoneField.ts
  packages/api-headless-cms/src/graphqlFields/dynamicZone/dynamicZoneStorage.ts
  packages/api-headless-cms/src/graphqlFields/dynamicZone/index.ts
  packages/api-headless-cms/src/index.ts
  packages/api-headless-cms/src/types/modelAst.ts
  packages/api-headless-cms/src/types/modelField.ts
  packages/api-headless-cms/src/types/plugins.ts
  packages/api-headless-cms/src/types/types.ts
  packages/api-headless-cms/src/utils/contentEntryTraverser/ContentEntryTraverser.ts
Labels: bug, Headless CMS

#4207 fix(app-headless-cms): do not set dirty model unless it changed
  packages/app-headless-cms/src/admin/components/ContentModelEditor/ContentModelEditorProvider.tsx
  packages/app/src/utils/createHashing.ts
  packages/app/src/utils/index.ts
Labels: cms

#4209 fix(app-headless-cms): pass placeholder to select field renderer
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/select.tsx
  packages/ui/src/Select/Select.tsx
Labels: Headless CMS

#4211 fix(app-headless-cms): pass default value to nested multiple values
  packages/app-headless-cms/src/admin/components/ContentEntryForm/useBind.tsx
Labels: Headless CMS
