Repository webiny/webiny-js, pull requests merged in 2024-08, with the labels that each got.

#4212 fix(app-headless-cms): ensure trash bin is empty before deleting content model
  packages/api-headless-cms/__tests__/contentAPI/contentModel.crud.test.ts
  packages/api-headless-cms/__tests__/contentAPI/model.delete.test.ts
  packages/api-headless-cms/src/crud/contentModel.crud.ts
  packages/api-headless-cms/src/crud/contentModel/beforeDelete.ts
Labels: Headless CMS

#4230 feat(admin-ui): handle typography - add Heading and Text components
  packages/ui-new/src/Heading/Heading.stories.tsx
  packages/ui-new/src/Heading/Heading.tsx
  packages/ui-new/src/Heading/index.ts
  packages/ui-new/src/Text/Text.stories.tsx
  packages/ui-new/src/Text/Text.tsx
  packages/ui-new/src/Text/index.ts
  packages/ui-new/src/Typography/Typography.tsx
  packages/ui-new/src/Typography/index.ts
  packages/ui-new/src/index.ts
  packages/ui-new/tailwind.config.js
  packages/ui/src/Typography/Typography.tsx
Labels: ui

#4232 fix(api-headless-cms): generate model schema
  packages/api-headless-cms/src/graphql/schema/createManageResolvers.ts
  packages/api-headless-cms/src/graphql/schema/createManageSDL.ts
  packages/api-headless-cms/src/graphql/schema/createPreviewResolvers.ts
  packages/api-headless-cms/src/graphql/schema/createReadResolvers.ts
  packages/api-headless-cms/src/graphql/schema/createReadSDL.ts
  packages/api-headless-cms/src/graphql/schema/schemaPlugins.ts
Labels: cms, api

#4210 fix(api-headless-cms): single entry models
  packages/api-aco/src/utils/decorators/decorateIfModelAuthorizationEnabled.ts
  packages/api-headless-cms-ddb/__tests__/plugins/dynamoDb/transformValue/datetime.test.ts
  packages/api-headless-cms/__tests__/contentAPI/mocks/contentModels.ts
  packages/api-headless-cms/__tests__/contentAPI/singletonContentEntry.test.ts
  packages/api-headless-cms/__tests__/testHelpers/useSingletonCategoryHandler.ts
  packages/api-headless-cms/src/constants.ts
  packages/api-headless-cms/src/crud/contentModel.crud.ts
  packages/api-headless-cms/src/crud/contentModel/beforeDelete.ts
  packages/api-headless-cms/src/export/crud/sanitize.ts
  packages/api-headless-cms/src/export/types.ts
  packages/api-headless-cms/src/graphql/schema/createSingularResolvers.ts
  packages/api-headless-cms/src/graphql/schema/createSingularSDL.ts
  packages/api-headless-cms/src/graphql/schema/resolvers/singular/resolveGet.ts
  packages/api-headless-cms/src/graphql/schema/resolvers/singular/resolveUpdate.ts
  packages/api-headless-cms/src/graphql/schema/schemaPlugins.ts
  packages/api-headless-cms/src/modelManager/DefaultCmsModelManager.ts
  packages/api-headless-cms/src/modelManager/SingletonModelManager.ts
  packages/api-headless-cms/src/modelManager/index.ts
  packages/api-headless-cms/src/types/types.ts
  packages/app-headless-cms-common/src/constants.ts
  packages/app-headless-cms-common/src/entries.graphql.ts
  packages/app-headless-cms-common/src/index.ts
  packages/app-headless-cms/src/HeadlessCMS.tsx
  packages/app-headless-cms/src/admin/components/ContentEntryForm/ContentEntryForm.tsx
  packages/app-headless-cms/src/admin/components/ContentEntryForm/ContentEntryFormPreview.tsx
  packages/app-headless-cms/src/admin/components/ContentEntryForm/ContentEntryFormProvider.tsx
  packages/app-headless-cms/src/admin/components/ContentEntryForm/SingletonHeader/SaveAction.tsx
  packages/app-headless-cms/src/admin/components/ContentEntryForm/SingletonHeader/SingletonHeader.tsx
  packages/app-headless-cms/src/admin/components/ContentEntryForm/SingletonHeader/index.tsx
  packages/app-headless-cms/src/admin/contexts/Cms/index.tsx
  packages/app-headless-cms/src/admin/hooks/usePersistEntry.ts
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/ref/components/NewReferencedEntryDialog.tsx
  packages/app-headless-cms/src/admin/plugins/fields/ref.tsx
  packages/app-headless-cms/src/admin/views/contentEntries/ContentEntry.tsx
  packages/app-headless-cms/src/admin/views/contentEntries/ContentEntry/SingletonContentEntry.tsx
  packages/app-headless-cms/src/admin/views/contentEntries/ContentEntry/SingletonContentEntryContext.tsx
  packages/app-headless-cms/src/admin/views/contentEntries/SingletonContentEntryModule.tsx
  packages/app-headless-cms/src/admin/views/contentEntries/hooks/useSingletonContentEntry.ts
  packages/app-headless-cms/src/admin/views/contentModels/ContentModelsDataList.tsx
  packages/app-headless-cms/src/admin/views/contentModels/NewContentModelDialog.tsx
  packages/db-dynamodb/package.json
  packages/db-dynamodb/src/plugins/definitions/NumberTransformPlugin.ts
  packages/db-dynamodb/src/plugins/definitions/TimeTransformPlugin.ts
  yarn.lock
Labels: cms

#4235 feat(api-headless-cms-tasks): re-introduce api-headless-cms-tasks package
  apps/api/graphql/package.json
  apps/api/graphql/src/index.ts
  apps/api/graphql/src/types.ts
  apps/api/graphql/tsconfig.json
  packages/api-headless-cms-tasks/.babelrc.js
  packages/api-headless-cms-tasks/LICENSE
  packages/api-headless-cms-tasks/README.md
  packages/api-headless-cms-tasks/jest.setup.js
  packages/api-headless-cms-tasks/package.json
  packages/api-headless-cms-tasks/src/index.ts
  packages/api-headless-cms-tasks/src/types.ts
  packages/api-headless-cms-tasks/tsconfig.build.json
  packages/api-headless-cms-tasks/tsconfig.json
  packages/api-headless-cms-tasks/webiny.config.js
  packages/cwp-template-aws/template/ddb-es/apps/api/graphql/package.json
  packages/cwp-template-aws/template/ddb-es/apps/api/graphql/src/index.ts
  packages/cwp-template-aws/template/ddb-es/apps/api/graphql/src/types.ts
  packages/cwp-template-aws/template/ddb-os/apps/api/graphql/package.json
  packages/cwp-template-aws/template/ddb-os/apps/api/graphql/src/index.ts
  packages/cwp-template-aws/template/ddb-os/apps/api/graphql/src/types.ts
  packages/cwp-template-aws/template/ddb/apps/api/graphql/package.json
  packages/cwp-template-aws/template/ddb/apps/api/graphql/src/index.ts
  packages/cwp-template-aws/template/ddb/apps/api/graphql/src/types.ts
  yarn.lock
Labels: Headless CMS
