Repository webiny/webiny-js, pull requests merged in 2024-01, with the labels that each got.

#3777 fix(app-file-manager): append data to not defined field values
  packages/app-file-manager/src/components/BulkActions/ActionEdit/GraphQLInputMapper.test.ts
  packages/app-file-manager/src/components/BulkActions/ActionEdit/GraphQLInputMapper.ts
Labels: file-manager

#3790 fix(app-file-manager): prevent bulk edit dialog dismiss
  packages/app-file-manager/src/components/BulkActions/ActionEdit/BatchEditorDialog/BatchEditorDialog.tsx
Labels: file-manager

#3794 fix(app-aco): support undefined table cell renderer
  packages/app-aco/src/components/Table/components/Table/Columns/ColumnMapper.ts
Labels: aco

#3796 fix(create-webiny-project): update check for yarn version
  packages/create-webiny-project/bin.js
  packages/create-webiny-project/utils/createProject.js
  packages/create-webiny-project/utils/getNpmVersion.js
Labels: bug

#3802 fix(tasks): wrong position of the error in the log items array
  packages/api-headless-cms-ddb-es/__tests__/plugins/elasticsearch/indexing/objectIndexing.test.ts
  packages/api-headless-cms-ddb-es/src/elasticsearch/indexing/objectIndexing.ts
  packages/tasks/__tests__/graphql/logs.test.ts
  packages/tasks/src/crud/model.ts
Labels: bug, api

#3366 fix: fix import/export process get stuck
  packages/api-page-builder-import-export/src/client.ts
Labels: bug

#3810 fix(api-file-manager-s3): create metadata on batch file creation
  packages/api-file-manager-s3/src/plugins/addFileMetadata.ts
Labels: bug

#3809 fix(api-headless-cms-ddb): find breaks on null value
  packages/api-headless-cms-ddb/src/operations/entry/filtering/getValue.ts
Labels: bug, api

#3811 fix(app-aco): minor ACO table fixes
  packages/app-aco/src/components/Table/components/Table/Columns/ColumnsRepository.ts
  packages/app-aco/src/components/Table/components/Table/TableInner.tsx
Labels: aco

#3816 feat(app-page-builder): store active tab index into localStorage
  packages/app-page-builder/src/editor/components/Editor/EditorSidebar.tsx
Labels: page-builder

#3817 fix(app-headless-cms): state of created and published entry
  packages/app-aco/src/contexts/records.tsx
  packages/app-aco/src/hooks/useRecords.ts
  packages/app-headless-cms/src/admin/components/ContentEntryForm/Header/SaveContent/SaveContent.tsx
  packages/app-headless-cms/src/admin/components/ContentEntryForm/Header/SaveContent/useSave.tsx
Labels: bug

#3833 fix: various aco react properties definitions
  packages/app-aco/src/config/table/Column.tsx
  packages/app-file-manager/src/components/Table/Actions/CopyFile.tsx
  packages/app-file-manager/src/components/Table/Actions/DeleteFile.tsx
  packages/app-file-manager/src/components/Table/Actions/EditFile.tsx
  packages/app-file-manager/src/components/Table/Actions/MoveFile.tsx
  packages/app-file-manager/src/modules/FileManagerRenderer/FileManagerView/configComponents/Browser/FileAction.tsx
  packages/app-file-manager/src/modules/FileManagerRenderer/FileManagerView/configComponents/Browser/FolderAction.tsx
  packages/app-file-manager/src/modules/FileManagerRenderer/index.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Table/Actions/ChangeEntryStatus.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Table/Actions/DeleteEntry.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Table/Actions/EditEntry.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Table/Actions/MoveEntry.tsx
  packages/app-headless-cms/src/admin/config/contentEntries/list/Browser/EntryAction.tsx
  packages/app-headless-cms/src/admin/config/contentEntries/list/Browser/FolderAction.tsx
  packages/app-headless-cms/src/admin/views/contentEntries/ContentEntriesModule.tsx
  packages/app-page-builder/src/admin/components/Table/Table/Actions/ChangePageStatus.tsx
  packages/app-page-builder/src/admin/components/Table/Table/Actions/DeletePage.tsx
  packages/app-page-builder/src/admin/components/Table/Table/Actions/EditPage.tsx
  packages/app-page-builder/src/admin/components/Table/Table/Actions/MovePage.tsx
  packages/app-page-builder/src/admin/components/Table/Table/Actions/PreviewPage.tsx
  packages/app-page-builder/src/admin/config/pages/list/Browser/FolderAction.tsx
  packages/app-page-builder/src/admin/config/pages/list/Browser/PageAction.tsx
  packages/app-page-builder/src/admin/views/Pages/PagesModule.tsx
Labels: aco

#3829 fix(api-aco): meta fields update inside the ACO table
  packages/api-aco/src/filter/filter.so.ts
  packages/api-aco/src/folder/folder.so.ts
  packages/api-aco/src/record/record.so.ts
  packages/app-headless-cms-common/src/entries.graphql.ts
Labels: aco

#3836 fix: various datatable / actions
  packages/app-aco/src/components/Table/components/Table/Columns/Column.ts
  packages/app-page-builder/src/PageBuilder.tsx
  packages/app-page-builder/src/admin/views/Pages/hooks/index.ts
  packages/ui/src/DataTable/DataTable.tsx
Labels: aco

#3837 fix(api-file-manager-s3): make invalidate cache task private
  packages/api-file-manager-s3/src/flushCdnCache/invalidateCacheTaskDefinition.ts
  packages/api-page-builder/__tests__/graphql/pagesListingLatest.test.ts
  packages/aws-sdk/package.json
  packages/aws-sdk/src/client-eventbridge/index.ts
  packages/aws-sdk/src/client-s3/index.ts
  packages/aws-sdk/tsconfig.build.json
  packages/aws-sdk/tsconfig.json
  packages/db-dynamodb/package.json
  packages/db-dynamodb/src/plugins/filters/fuzzy.ts
  packages/db-dynamodb/src/utils/filter.ts
  packages/tasks/__tests__/crud/store.test.ts
  packages/tasks/__tests__/mocks/context.ts
  packages/tasks/__tests__/mocks/store.ts
  packages/tasks/__tests__/mocks/task.ts
  packages/tasks/__tests__/mocks/taskLog.ts
  packages/tasks/__tests__/task/plugin.test.ts
  packages/tasks/src/crud/createEventBridgeEvent.ts
  packages/tasks/src/crud/crud.tasks.ts
  packages/tasks/src/crud/model.ts
  packages/tasks/src/crud/trigger.tasks.ts
  packages/tasks/src/graphql/index.ts
  packages/tasks/src/graphql/utils.ts
  packages/tasks/src/response/DatabaseResponse.ts
  packages/tasks/src/response/Response.ts
  packages/tasks/src/response/TaskResponse.ts
  packages/tasks/src/response/abstractions/Response.ts
  packages/tasks/src/response/abstractions/ResponseDoneResult.ts
  packages/tasks/src/response/abstractions/ResponseErrorResult.ts
  packages/tasks/src/response/abstractions/TaskResponse.ts
  packages/tasks/src/runner/TaskControl.ts
  packages/tasks/src/runner/TaskManager.ts
  packages/tasks/src/runner/TaskManagerStore.ts
  packages/tasks/src/runner/TaskRunner.ts
  packages/tasks/src/runner/abstractions/TaskManager.ts
  packages/tasks/src/runner/abstractions/TaskManagerStore.ts
  packages/tasks/src/runner/abstractions/TaskRunner.ts
  packages/tasks/src/task/plugin.ts
  packages/tasks/src/types.ts
  packages/tasks/src/utils/getErrorProperties.ts
  packages/tasks/src/utils/getObjectProperties.ts
  packages/utils/src/cacheKey.ts
  packages/utils/src/index.ts
  yarn.lock
Labels: file manager, api

#3840 fix(api-headless-cms-ddb-es): silently handle missing index
  packages/api-headless-cms-ddb-es/__tests__/api/missingIndex.test.ts
  packages/api-headless-cms-ddb-es/src/operations/entry/index.ts
Labels: api

#3839 fix(api-page-builder): increase page size limit by implementing gzip compression
  packages/api-page-builder/__tests__/graphql/mocks/pageContent.ts
  packages/api-page-builder/__tests__/graphql/pages.test.ts
  packages/api-page-builder/package.json
  packages/api-page-builder/src/graphql/crud.ts
  packages/api-page-builder/src/graphql/crud/pages.crud.ts
  packages/api-page-builder/src/graphql/crud/pages/compression.ts
  packages/api-page-builder/src/plugins/ContentCompressionPlugin.ts
  packages/api-page-builder/src/plugins/GzipContentCompressionPlugin.ts
  packages/api-page-builder/src/plugins/JsonpackContentCompressionPlugin.ts
  packages/api-page-builder/src/plugins/index.ts
  packages/handler/src/fastify.ts
  yarn.lock
Labels: page-builder, api

#3845 feat(tasks): implement max iterations
  packages/tasks/src/response/TaskResponse.ts
  packages/tasks/src/response/abstractions/TaskResponse.ts
  packages/tasks/src/runner/TaskManager.ts
  packages/tasks/src/task/plugin.ts
  packages/tasks/src/types.ts
Labels: api
