Repository webiny/webiny-js, pull requests merged in 2024-02, with the labels that each got.

#3857 fix(api-file-manager-s3): add cache-control header to asset reply
  packages/api-file-manager-s3/src/assetDelivery/s3/S3StreamAssetReply.ts
Labels: bug

#3863 fix(api-page-builder): set page elements list limit to 1000
  packages/api-page-builder/src/graphql/crud/pageElements.crud.ts
Labels: bug, page-builder

#3866 fix(app-page-builder): duplicate page inside original folder
  packages/api-page-builder/__tests__/graphql/graphql/pages.ts
  packages/api-page-builder/__tests__/graphql/lifecycleEvents.pages.test.ts
  packages/api-page-builder/__tests__/graphql/pages.test.ts
  packages/api-page-builder/__tests__/graphql/useGqlHandler.ts
  packages/api-page-builder/src/graphql/graphql/pages.gql.ts
  packages/app-page-builder/src/admin/graphql/pages.ts
  packages/app-page-builder/src/admin/plugins/pageDetails/header/pageOptionsMenu/PageOptionsMenu.tsx
Labels: page-builder

#3876 feat(app-page-builder): add duplicate page list and bulk action
  packages/app-apw/src/plugins/pageBuilder/DecoratePublishActions.tsx
  packages/app-page-builder/src/admin/components/BulkActions/ActionDuplicate.tsx
  packages/app-page-builder/src/admin/components/BulkActions/SecureActionDuplicate.tsx
  packages/app-page-builder/src/admin/components/BulkActions/index.tsx
  packages/app-page-builder/src/admin/components/Table/Table/Actions/DuplicatePage.tsx
  packages/app-page-builder/src/admin/components/Table/Table/Actions/SecureDuplicatePage.tsx
  packages/app-page-builder/src/admin/components/Table/Table/Actions/index.ts
  packages/app-page-builder/src/admin/plugins/pageDetails/header/pageOptionsMenu/DuplicatePage/DefaultDuplicatePage.tsx
  packages/app-page-builder/src/admin/plugins/pageDetails/header/pageOptionsMenu/DuplicatePage/DuplicatePage.tsx
  packages/app-page-builder/src/admin/plugins/pageDetails/header/pageOptionsMenu/DuplicatePage/DuplicatePageMenuItem.tsx
  packages/app-page-builder/src/admin/plugins/pageDetails/header/pageOptionsMenu/DuplicatePage/SecureDuplicatePage.tsx
  packages/app-page-builder/src/admin/plugins/pageDetails/header/pageOptionsMenu/DuplicatePage/index.ts
  packages/app-page-builder/src/admin/plugins/pageDetails/header/pageOptionsMenu/PageOptionsMenu.tsx
  packages/app-page-builder/src/admin/views/Pages/PagesModule.tsx
  packages/app-page-builder/src/admin/views/Pages/hooks/useDuplicatePage/index.ts
  packages/app-page-builder/src/admin/views/Pages/hooks/useDuplicatePage/types.ts
  packages/app-page-builder/src/admin/views/Pages/hooks/useDuplicatePage/useDuplicatePage.tsx
  packages/app-page-builder/src/admin/views/Pages/hooks/useDuplicatePage/useDuplicatePageCase.ts
  packages/app-page-builder/src/components.ts
Labels: page-builder
