Repository webiny/webiny-js, pull requests merged in 2024-09, with the labels that each got.

#4242 feat(admin-ui): Tabs component
  packages/admin-ui/package.json
  packages/admin-ui/src/Tabs/Tabs.stories.tsx
  packages/admin-ui/src/Tabs/Tabs.tsx
  packages/admin-ui/src/Tabs/index.ts
  packages/admin-ui/src/index.ts
  packages/ui/package.json
  packages/ui/src/Tabs/Tab.tsx
  packages/ui/src/Tabs/Tabs.tsx
  packages/ui/src/Tabs/svg/baseline-autorenew-24px.svg
  packages/ui/src/Tabs/svg/baseline-cloud_done-24px.svg
  packages/ui/src/Tabs/svg/baseline-delete-24px.svg
  packages/ui/src/Tabs/svg/baseline-done-24px.svg
  yarn.lock
Labels: ui, new-admin-ui

#4243 feat(admin-ui): Label and Switch components
  packages/admin-ui/package.json
  packages/admin-ui/src/Label/Label.stories.tsx
  packages/admin-ui/src/Label/Label.tsx
  packages/admin-ui/src/Label/index.ts
  packages/admin-ui/src/Switch/Switch.stories.tsx
  packages/admin-ui/src/Switch/Switch.tsx
  packages/admin-ui/src/Switch/index.ts
  packages/admin-ui/src/index.ts
  packages/admin-ui/src/utils.ts
  packages/admin-ui/tsconfig.build.json
  packages/admin-ui/tsconfig.json
  packages/ui/package.json
  packages/ui/src/Switch/Switch.tsx
  yarn.lock
Labels: ui, new-admin-ui

#4244 New Admin UI - Elevation, Icon, and Card Components
  packages/admin-ui/.storybook/main.ts
  packages/admin-ui/package.json
  packages/admin-ui/src/Card/Card.stories.tsx
  packages/admin-ui/src/Card/Card.tsx
  packages/admin-ui/src/Icon/Icon.stories.tsx
  packages/admin-ui/src/Icon/Icon.tsx
  packages/admin-ui/src/Icon/index.ts
  packages/ui/package.json
  packages/ui/src/Elevation/Elevation.tsx
  packages/ui/src/Elevation/README.md
  packages/ui/src/Icon/Icon.tsx
  yarn.lock
Labels: new-admin-ui

#4250 feat(admin-ui): remove Ripple component
  packages/ui/package.json
  packages/ui/src/Ripple/README.md
  packages/ui/src/Ripple/Ripple.tsx
  packages/ui/src/Ripple/svg/baseline-autorenew-24px.svg
  packages/ui/src/Ripple/svg/baseline-cloud_done-24px.svg
  packages/ui/src/Ripple/svg/baseline-delete-24px.svg
  packages/ui/src/Ripple/svg/baseline-done-24px.svg
  yarn.lock
Labels: ui, new-admin-ui

#4247 fix(app-headless-cms): bulk action enum
  packages/app-headless-cms/src/admin/components/ContentEntries/BulkActions/ActionDelete.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/BulkActions/ActionMove.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/BulkActions/ActionPublish.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/BulkActions/ActionUnpublish.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/TrashBin/components/TrashBin.tsx
Labels: Headless CMS

#4256 fix(admin-ui): admin ui branches build
  packages/admin-ui/.storybook/main.ts
  packages/admin-ui/package.json
  packages/admin-ui/src/Button/Button.stories.tsx
  packages/admin-ui/src/Icon/Icon.stories.tsx
  packages/admin-ui/src/Switch/Switch.stories.tsx
  packages/ui/src/Switch/Switch.tsx
  typings/shared/index.d.ts
  yarn.lock
Labels: new-admin-ui

#4271 fix(app-page-builder): edit action redirect to revision url
  packages/app-page-builder/src/admin/components/Table/Table/Actions/EditPage.tsx
  packages/app-page-builder/src/admin/views/Pages/hooks/useCreatePageFrom.ts
Labels: page-builder, aco

#4275 fix(app-headless-cms): deleting entry revision incorrectly moves entire entry to trash
  packages/app-headless-cms/src/admin/views/contentEntries/ContentEntry/ContentEntryContext.tsx
  packages/app-headless-cms/src/admin/views/contentEntries/ContentEntry/RevisionsList/useRevision.tsx
Labels: Headless CMS

#4284 fix(app-page-builder): fix pb template selector list
  packages/app-page-builder/src/admin/views/Pages/PageTemplatesDialog.tsx
  packages/app-page-builder/src/templateEditor/config/Content/BlocksBrowser/StyledComponents.ts
Labels: page-builder

#4292 fix(api-headless-cms): improve moveEntryToBin operation
  packages/api-headless-cms/src/crud/contentEntry/afterDelete.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/DeleteEntry/TransformEntryMoveToBin.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/RestoreEntryFromBin/TransformEntryRestoreFromBin.ts
Labels: api, Headless CMS

#4290 Merge React 18 Upgrade PR
  apps/admin/package.json
  apps/website/package.json
  extensions/theme/package.json
  package.json
  packages/app-aco/package.json
  packages/app-admin-auth0/package.json
  packages/app-admin-cognito/package.json
  packages/app-admin-okta/package.json
  packages/app-admin-rmwc/package.json
  packages/app-admin-users-cognito/package.json
  packages/app-admin/package.json
  packages/app-apw/package.json
  packages/app-audit-logs/package.json
  packages/app-cognito-authenticator/package.json
  packages/app-file-manager/package.json
  packages/app-form-builder/package.json
  packages/app-graphql-playground/package.json
  packages/app-headless-cms-common/package.json
  packages/app-headless-cms/package.json
  packages/app-i18n-content/package.json
  packages/app-i18n/package.json
  packages/app-mailer/package.json
  packages/app-page-builder-editor/package.json
  packages/app-page-builder-elements/package.json
  packages/app-page-builder/package.json
  packages/app-plugin-admin-welcome-screen/package.json
  packages/app-record-locking/package.json
  packages/app-security-access-management/package.json
  packages/app-security/package.json
  packages/app-serverless-cms/package.json
  packages/app-tenancy/package.json
  packages/app-tenant-manager/package.json
  packages/app-theme-manager/package.json
  packages/app-theme/package.json
  packages/app-trash-bin/package.json
  packages/app-wcp/package.json
  packages/app-website/package.json
  packages/app-websockets/package.json
  packages/app/package.json
  packages/lexical-editor-actions/package.json
  packages/lexical-editor-pb-element/package.json
  packages/lexical-editor/package.json
  packages/lexical-nodes/package.json
  packages/project-utils/package.json
  packages/react-composition/package.json
  packages/react-properties/package.json
  packages/react-rich-text-lexical-renderer/package.json
  packages/react-rich-text-renderer/package.json
  packages/react-router/package.json
  packages/theme/package.json
  packages/ui-composer/package.json
  yarn.lock
Labels: new-admin-ui
