Repository webiny/webiny-js, pull requests merged in 2024-03, with the labels that each got.

#3978 fix: reset isSearch flag when filters are empty
  packages/app-aco/src/contexts/acoList.tsx
  packages/app-file-manager/src/modules/FileManagerRenderer/FileManagerViewProvider/FileManagerViewContext.tsx
Labels: Headless CMS, file-manager, aco

#3982 fix(api-page-builder-aco): set ROOT_FOLDER as the default folderId retrieved from ACO search record
  packages/api-page-builder-aco/src/page/graphql/createPbPageWbyAcoLocationGqlField.ts
Labels: page-builder, aco

#3783 feat(app-aco): support reference field in advanced search filter
  packages/app-aco/src/components/AdvancedSearch/AdvancedSearch.tsx
  packages/app-aco/src/components/AdvancedSearch/AdvancedSearchConfigs.tsx
  packages/app-aco/src/components/AdvancedSearch/GraphQLInputMapper.test.ts
  packages/app-aco/src/components/AdvancedSearch/GraphQLInputMapper.ts
  packages/app-aco/src/components/AdvancedSearch/QueryBuilderDrawer/QueryBuilder/QueryBuilder.tsx
  packages/app-aco/src/components/AdvancedSearch/QueryBuilderDrawer/QueryBuilder/components/Filter.tsx
  packages/app-aco/src/components/AdvancedSearch/QueryBuilderDrawer/QueryBuilder/components/InputField.tsx
  packages/app-aco/src/components/AdvancedSearch/QueryBuilderDrawer/QueryBuilder/components/fields/Input.tsx
  packages/app-aco/src/components/AdvancedSearch/QueryBuilderDrawer/QueryBuilder/components/index.tsx
  packages/app-aco/src/components/AdvancedSearch/QueryBuilderDrawer/QueryBuilderDrawer.tsx
  packages/app-aco/src/components/AdvancedSearch/QueryBuilderDrawer/QueryBuilderDrawerPresenter.test.tsx
  packages/app-aco/src/components/AdvancedSearch/QueryBuilderDrawer/QueryBuilderDrawerPresenter.ts
  packages/app-aco/src/components/AdvancedSearch/domain/Field.ts
  packages/app-aco/src/components/AdvancedSearch/domain/FieldMapper.ts
  packages/app-aco/src/components/AdvancedSearch/fields/Boolean.tsx
  packages/app-aco/src/components/AdvancedSearch/fields/DateWithTimezone.tsx
  packages/app-aco/src/components/AdvancedSearch/fields/DateWithoutTimezone.tsx
  packages/app-aco/src/components/AdvancedSearch/fields/Input.tsx
  packages/app-aco/src/components/AdvancedSearch/fields/MultipleValues.tsx
  packages/app-aco/src/components/AdvancedSearch/fields/index.tsx
  packages/app-aco/src/components/AdvancedSearch/index.tsx
  packages/app-aco/src/components/AdvancedSearch/useInputField.tsx
  packages/app-aco/src/config/AcoConfig.tsx
  packages/app-aco/src/config/advanced-search/FieldRenderer.tsx
  packages/app-aco/src/config/advanced-search/index.ts
  packages/app-headless-cms/jest.config.js
  packages/app-headless-cms/package.json
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/FieldsMapper.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/adapters/EntriesGatewayInterface.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/adapters/EntriesGraphQLGateway.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/adapters/entries.gql.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/adapters/entries.types.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/adapters/index.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/components/AutoComplete.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/components/Ref.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/components/RefPresenter.test.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/components/RefPresenter.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/components/index.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/domain/Entry.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/domain/EntryMapper.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/domain/EntryRepository.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/domain/EntryRepositoryFactory.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/domain/Loading.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/domain/index.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/index.ts
  packages/app-headless-cms/src/admin/config/contentEntries/list/Browser/AdvancedSearch/FieldRenderer.tsx
  packages/app-headless-cms/src/admin/config/contentEntries/list/Browser/AdvancedSearch/index.ts
  packages/app-headless-cms/src/admin/config/contentEntries/list/Browser/index.ts
  packages/app-headless-cms/src/admin/views/contentEntries/ContentEntriesModule.tsx
  scripts/listPackagesWithTests.js
  yarn.lock
Labels: Headless CMS, aco

#4050 fix(api-headless-cms): rename adstractions folder to abstractions
  packages/api-headless-cms/src/crud/contentEntry/abstractions/IDeleteEntry.ts
  packages/api-headless-cms/src/crud/contentEntry/abstractions/IDeleteEntryOperation.ts
  packages/api-headless-cms/src/crud/contentEntry/abstractions/IGetEntriesByIds.ts
  packages/api-headless-cms/src/crud/contentEntry/abstractions/IGetEntry.ts
  packages/api-headless-cms/src/crud/contentEntry/abstractions/IGetLatestEntriesByIds.ts
  packages/api-headless-cms/src/crud/contentEntry/abstractions/IGetLatestRevisionByEntryId.ts
  packages/api-headless-cms/src/crud/contentEntry/abstractions/IGetPreviousRevisionByEntryId.ts
  packages/api-headless-cms/src/crud/contentEntry/abstractions/IGetPublishedEntriesByIds.ts
  packages/api-headless-cms/src/crud/contentEntry/abstractions/IGetPublishedRevisionByEntryId.ts
  packages/api-headless-cms/src/crud/contentEntry/abstractions/IGetRevisionById.ts
  packages/api-headless-cms/src/crud/contentEntry/abstractions/IGetRevisionsByEntryId.ts
  packages/api-headless-cms/src/crud/contentEntry/abstractions/IListEntries.ts
  packages/api-headless-cms/src/crud/contentEntry/abstractions/IListEntriesOperation.ts
  packages/api-headless-cms/src/crud/contentEntry/abstractions/IMoveEntryToBinOperation.ts
  packages/api-headless-cms/src/crud/contentEntry/abstractions/index.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/DeleteEntry/DeleteEntry.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/DeleteEntry/DeleteEntryOperation.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/DeleteEntry/DeleteEntryOperationWithEvents.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/DeleteEntry/DeleteEntrySecure.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/DeleteEntry/MoveEntryToBin.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/DeleteEntry/MoveEntryToBinOperation.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/DeleteEntry/MoveEntryToBinOperationWithEvents.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/DeleteEntry/index.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetEntriesByIds/GetEntriesByIds.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetEntriesByIds/GetEntriesByIdsNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetEntriesByIds/GetEntriesByIdsSecure.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetLatestEntriesByIds/GetLatestEntriesByIds.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetLatestEntriesByIds/GetLatestEntriesByIdsNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetLatestEntriesByIds/GetLatestEntriesByIdsSecure.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetLatestRevisionByEntryId/GetLatestRevisionByEntryId.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetLatestRevisionByEntryId/GetLatestRevisionByEntryIdNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetPreviousRevisionByEntryId/GetPreviousRevisionByEntryId.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetPreviousRevisionByEntryId/GetPreviousRevisionByEntryIdNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetPublishedEntriesByIds/GetPublishedEntriesByIds.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetPublishedEntriesByIds/GetPublishedEntriesByIdsNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetPublishedEntriesByIds/GetPublishedEntriesByIdsSecure.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetPublishedRevisionByEntryId/GetPublishedRevisionByEntryId.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetPublishedRevisionByEntryId/GetPublishedRevisionByEntryIdNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetRevisionById/GetRevisionById.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetRevisionById/GetRevisionByIdNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetRevisionsByEntryId/GetRevisionsByEntryId.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/GetRevisionsByEntryId/GetRevisionsByEntryIdNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/ListEntries/GetEntry.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/ListEntries/GetEntrySecure.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/ListEntries/ListEntries.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/ListEntries/ListEntriesOperation.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/ListEntries/ListEntriesOperationDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/ListEntries/ListEntriesOperationLatest.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/ListEntries/ListEntriesOperationNotDeleted.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/ListEntries/ListEntriesOperationPublished.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/ListEntries/ListEntriesOperationWithEvents.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/ListEntries/ListEntriesOperationWithSearchableFields.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/ListEntries/ListEntriesOperationWithSort.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/ListEntries/ListEntriesOperationWithStatusCheck.ts
  packages/api-headless-cms/src/crud/contentEntry/useCases/ListEntries/ListEntriesSecure.ts
Labels: api

#4048 fix(app-headless-cms): add parent field context
  apps/admin/src/App.tsx
  packages/api-headless-cms/src/types.ts
  packages/app-file-manager/src/components/BulkActions/ActionEdit/BatchEditorDialog/FieldRenderer.tsx
  packages/app-file-manager/src/modules/FileManagerRenderer/FileManagerView/configComponents/FileDetails/FieldDecorator.tsx
  packages/app-headless-cms-common/src/types/index.ts
  packages/app-headless-cms/src/admin/components/ContentEntryForm/ContentEntryForm.tsx
  packages/app-headless-cms/src/admin/components/ContentEntryForm/ContentEntryFormPreview.tsx
  packages/app-headless-cms/src/admin/components/ContentEntryForm/FieldElement.tsx
  packages/app-headless-cms/src/admin/components/ContentEntryForm/Fields.tsx
  packages/app-headless-cms/src/admin/components/ContentEntryForm/ParentValue.tsx
  packages/app-headless-cms/src/admin/components/ContentEntryForm/RenderFieldElement.tsx
  packages/app-headless-cms/src/admin/components/ContentEntryForm/useBind.tsx
  packages/app-headless-cms/src/admin/components/ContentModelEditor/Editor.tsx
  packages/app-headless-cms/src/admin/config/contentEntries/editor/ContentEntryEditorConfig.tsx
  packages/app-headless-cms/src/admin/config/contentEntries/editor/FieldElement.tsx
  packages/app-headless-cms/src/admin/hooks/index.ts
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/DynamicSection.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/dynamicZone/AddTemplate.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/dynamicZone/MultiValueDynamicZone.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/dynamicZone/SingleValueDynamicZone.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/dynamicZone/TemplateGallery.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/dynamicZone/TemplateItem.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/dynamicZone/index.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/object/multipleObjects.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/object/multipleObjectsAccordion.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/object/singleObjectAccordion.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/object/singleObjectInline.tsx
  packages/app-headless-cms/src/admin/plugins/fields/dynamicZone/TemplateDialog.tsx
  packages/app-headless-cms/src/components.ts
  packages/app-headless-cms/src/index.tsx
  packages/react-composition/src/decorators.tsx
Labels: improvement, Headless CMS

#4063 refactor(aws-sdk): update aws packages
  apps/api/graphql/src/security.ts
  packages/api-admin-settings/src/storage/definitions/table.ts
  packages/api-admin-settings/src/storage/types.ts
  packages/api-admin-users-so-ddb/src/definitions/table.ts
  packages/api-admin-users-so-ddb/src/types.ts
  packages/api-apw-scheduler-so-ddb/src/definitions/table.ts
  packages/api-apw-scheduler-so-ddb/src/types.ts
  packages/api-elasticsearch-tasks/src/definitions/table.ts
  packages/api-file-manager-ddb/src/index.ts
  packages/api-file-manager-ddb/src/operations/AliasesStorageOperations.ts
  packages/api-file-manager-ddb/src/operations/SettingsStorageOperations.ts
  packages/api-file-manager-ddb/src/operations/SystemStorageOperations.ts
  packages/api-file-manager/src/delivery/AssetDelivery/AliasAssetRequestResolver.ts
  packages/api-file-manager/src/delivery/setupAssetDelivery.ts
  packages/api-form-builder-so-ddb-es/src/definitions/table.ts
  packages/api-form-builder-so-ddb-es/src/definitions/tableElasticsearch.ts
  packages/api-form-builder-so-ddb-es/src/types.ts
  packages/api-form-builder-so-ddb/src/definitions/table.ts
  packages/api-form-builder-so-ddb/src/types.ts
  packages/api-headless-cms-ddb-es/src/definitions/table.ts
  packages/api-headless-cms-ddb-es/src/definitions/tableElasticsearch.ts
  packages/api-headless-cms-ddb-es/src/types.ts
  packages/api-headless-cms-ddb/src/definitions/table.ts
  packages/api-headless-cms-ddb/src/types.ts
  packages/api-i18n-ddb/src/operations/utils.ts
  packages/api-page-builder-import-export-so-ddb/src/definitions/table.ts
  packages/api-page-builder-import-export-so-ddb/src/types.ts
  packages/api-page-builder-so-ddb-es/__tests__/tenancySecurity.ts
  packages/api-page-builder-so-ddb-es/src/definitions/table.ts
  packages/api-page-builder-so-ddb-es/src/definitions/tableElasticsearch.ts
  packages/api-page-builder-so-ddb-es/src/types.ts
  packages/api-page-builder-so-ddb/src/definitions/table.ts
  packages/api-page-builder-so-ddb/src/types.ts
  packages/api-prerendering-service-so-ddb/src/definitions/table.ts
  packages/api-prerendering-service-so-ddb/src/types.ts
  packages/api-security-so-ddb/src/definitions/table.ts
  packages/api-security-so-ddb/src/types.ts
  packages/api-tenancy-so-ddb/src/definitions/table.ts
  packages/api-tenancy-so-ddb/src/types.ts
  packages/aws-sdk/package.json
  packages/aws-sdk/src/client-dynamodb/getDocumentClient.ts
  packages/cwp-template-aws/template/ddb-es/apps/api/graphql/src/security.ts
  packages/cwp-template-aws/template/ddb-os/apps/api/graphql/src/security.ts
  packages/cwp-template-aws/template/ddb/apps/api/graphql/src/security.ts
  packages/data-migration/src/createTable.ts
  packages/db-dynamodb/src/DynamoDbDriver.ts
  packages/db-dynamodb/src/utils/createTable.ts
  packages/migrations/__tests__/utils/getPrimaryDynamoDbTable.ts
  packages/project-utils/testing/dynamodb/index.d.ts
  yarn.lock
Labels: needs-project-upgrade
