Repository webiny/webiny-js, pull requests merged in 2024-06, with the labels that each got.

#4148 fix(api-headless-cms): reference field id is now RevisionId scalar
  packages/api-file-manager/__tests__/utils/plugins.ts
  packages/api-form-builder/__tests__/useGqlHandler.ts
  packages/api-headless-cms/__tests__/contentAPI/cmsEntryValidation/contentEntry.crud.validation.test.ts
  packages/api-headless-cms/__tests__/contentAPI/revisionIdScalar.test.ts
  packages/api-headless-cms/package.json
  packages/api-headless-cms/src/crud/contentEntry/referenceFieldsMapping.ts
  packages/api-headless-cms/src/graphql/scalars/RevisionId.ts
  packages/api-headless-cms/src/graphql/scalars/RevisionIdScalarPlugin.ts
  packages/api-headless-cms/src/graphql/schema/baseContentSchema.ts
  packages/api-headless-cms/src/graphqlFields/ref.ts
  packages/api-headless-cms/src/index.ts
Labels: api

#4158 fix(app-page-builder): pass pid instead of id when bulk deleting pages
  packages/app-page-builder/src/admin/components/BulkActions/ActionDelete.tsx
Labels: page-builder

#4175 fix(ui): convert table cell values to string for rendering
  packages/ui/src/DataTable/DataTable.tsx
Labels: aco

#4179 fix(app-admin): allow users to adjust the SplitView columns width across all apps
  packages/app-admin-rmwc/src/modules/Layout.tsx
  packages/app-admin/package.json
  packages/app-admin/src/components/ResizablePanels/index.tsx
  packages/app-admin/src/components/SplitView/SplitView.tsx
  packages/app-admin/src/index.ts
  packages/app-admin/src/ui/views/AdminView/ContentElement.tsx
  packages/app-file-manager/package.json
  packages/app-file-manager/src/modules/FileManagerRenderer/FileManagerView/FileManagerView.tsx
  packages/app-file-manager/src/modules/FileManagerRenderer/FileManagerView/LeftSidebar.tsx
  packages/app-file-manager/tsconfig.build.json
  packages/app-file-manager/tsconfig.json
  packages/app-headless-cms/package.json
  packages/app-headless-cms/src/admin/views/contentEntries/Table/index.tsx
  packages/app-headless-cms/tsconfig.build.json
  packages/app-headless-cms/tsconfig.json
  packages/app-page-builder/src/admin/views/Pages/Table/index.tsx
  yarn.lock
Labels: cms, page-builder, file-manager, aco
