Repository webiny/webiny-js, pull requests merged in 2024-05, with the labels that each got.

#4122 fix(form): refactor to use FTA
  packages/app-file-manager/src/modules/HeadlessCms/fileRenderer/fileFields.tsx
  packages/app-headless-cms-common/src/entries.graphql.ts
  packages/app-headless-cms-common/src/types/index.ts
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/lexicalText/lexicalTextInput.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/richText/richTextInput.tsx
  packages/app-headless-cms/src/admin/plugins/fieldRenderers/richText/richTextInputs.tsx
  packages/form/__tests__/form.test.tsx
  packages/form/package.json
  packages/form/src/Form.tsx
  packages/form/src/FormApi.ts
  packages/form/src/FormContext.tsx
  packages/form/src/FormField.ts
  packages/form/src/FormFieldValidator.ts
  packages/form/src/FormPresenter.test.ts
  packages/form/src/FormPresenter.ts
  packages/form/src/FormValidator.ts
  packages/form/src/ValidationError.ts
  packages/form/src/types.ts
  packages/form/src/useBind.ts
  packages/react-composition/package.json
  packages/react-properties/package.json
  packages/react-rich-text-lexical-renderer/package.json
  packages/ui/package.json
  packages/ui/src/types.ts
  yarn.lock
Labels: bug, improvement

#4130 refactor(app-trash-bin): assign API env variable to ADMIN env variable
  packages/serverless-cms-aws/src/createAdminAppConfig.ts
  typings/env/index.d.ts
Labels: api, Headless CMS

#4144 fix(api-headless-cms-tasks): race conditions while emptying the entries
  packages/api-headless-cms-tasks/__tests__/tasks/emptyTrashBinByModel.test.ts
  packages/api-headless-cms-tasks/src/tasks/entries/useCases/EmptyTrashBinByModel/CreateDeleteEntriesTasks.ts
  packages/api-headless-cms-tasks/src/tasks/entries/useCases/EmptyTrashBinByModel/ProcessDeleteEntriesTasks.ts
  packages/api-headless-cms-tasks/src/tasks/entries/useCases/EmptyTrashBinByModel/TaskCache.ts
  packages/api-headless-cms-tasks/src/tasks/entries/useCases/EmptyTrashBinByModel/TaskTrigger.ts
Labels: Headless CMS
