Repository webiny/webiny-js, pull requests merged in 2024-11, with the labels that each got.

#4302 Admin UI - Tokens
  .gitignore
  apps/admin/src/App.scss
  package.json
  packages/admin-ui/.storybook/preview.ts
  packages/admin-ui/DEVELOPMENT.md
  packages/admin-ui/README.md
  packages/admin-ui/package.json
  packages/admin-ui/scripts/importFromFigma.js
  packages/admin-ui/scripts/importFromFigma/createTailwindConfigTheme.js
  packages/admin-ui/scripts/importFromFigma/createThemeScss.js
  packages/admin-ui/scripts/importFromFigma/exports/Alias tokens.json
  packages/admin-ui/scripts/importFromFigma/figmaRgbaToHsla.js
  packages/admin-ui/scripts/importFromFigma/formatCode.js
  packages/admin-ui/scripts/importFromFigma/normalizeFigmaExport.js
  packages/admin-ui/scripts/importFromFigma/templates/theme.scss.txt
  packages/admin-ui/src/styles.scss
  packages/admin-ui/src/theme.scss
  packages/admin-ui/src/utils.ts
  packages/admin-ui/tailwind.config.js
  packages/admin-ui/tailwind.config.theme.js
  packages/admin-ui/webiny.config.js
  packages/app-admin-rmwc/src/modules/Search/index.tsx
  packages/app-admin/package.json
  packages/app-admin/src/base/Base.tsx
  packages/app-admin/src/plugins/globalSearch/SearchBar.tsx
  packages/app-admin/src/plugins/globalSearch/SearchBarDropdown.tsx
  packages/app-admin/src/plugins/globalSearch/icons/round-search-24px.svg
  packages/app-admin/src/plugins/globalSearch/index.tsx
  packages/app-admin/src/plugins/globalSearch/styled.ts
  packages/app-admin/src/types.ts
  packages/app-headless-cms/src/admin/menus/CmsMenuLoader.tsx
  packages/app-headless-cms/src/admin/menus/GlobalSearchPlugins.tsx
  packages/app-page-builder/src/admin/plugins/globalSearch/index.ts
  packages/app-page-builder/src/admin/plugins/index.ts
  packages/cwp-template-aws/template/common/apps/admin/src/App.scss
  yarn.lock
Labels: new-admin-ui

#4348 feat(admin-ui): Slider / Range Slider components
  packages/admin-ui/package.json
  packages/admin-ui/src/Form/RangeSlider/RangeSlider.stories.tsx
  packages/admin-ui/src/Form/RangeSlider/RangeSlider.tsx
  packages/admin-ui/src/Form/RangeSlider/RangeSliderPresenter.test.ts
  packages/admin-ui/src/Form/RangeSlider/RangeSliderPresenter.ts
  packages/admin-ui/src/Form/RangeSlider/index.ts
  packages/admin-ui/src/Form/RangeSlider/useRangeSlider.ts
  packages/admin-ui/src/Form/Slider/Slider.stories.tsx
  packages/admin-ui/src/Form/Slider/Slider.tsx
  packages/admin-ui/src/Form/Slider/SliderPresenter.test.ts
  packages/admin-ui/src/Form/Slider/SliderPresenter.ts
  packages/admin-ui/src/Form/Slider/index.ts
  packages/admin-ui/src/Form/Slider/useSlider.ts
  packages/admin-ui/src/Form/index.ts
  packages/admin-ui/src/Label/Label.stories.tsx
  packages/admin-ui/src/Label/Label.tsx
  packages/admin-ui/src/RangeSlider/RangeSlider.stories.tsx
  packages/admin-ui/src/RangeSlider/RangeSlider.tsx
  packages/admin-ui/src/RangeSlider/RangeSliderPresenter.test.ts
  packages/admin-ui/src/RangeSlider/RangeSliderPresenter.ts
  packages/admin-ui/src/RangeSlider/index.ts
  packages/admin-ui/src/RangeSlider/useRangeSlider.ts
  packages/admin-ui/src/Slider/Slider.stories.tsx
  packages/admin-ui/src/Slider/Slider.tsx
  packages/admin-ui/src/Slider/SliderPresenter.test.ts
  packages/admin-ui/src/Slider/SliderPresenter.ts
  packages/admin-ui/src/Slider/index.ts
  packages/admin-ui/src/Slider/useSlider.ts
  packages/admin-ui/src/index.ts
  packages/ui/package.json
  packages/ui/src/Slider/README.md
  packages/ui/src/Slider/Slider.tsx
  yarn.lock
Labels: ui, new-admin-ui

#4360 Button / Circular Progress - Tokens
  packages/admin-ui/scripts/importFromFigma/createTailwindConfigTheme.js
  packages/admin-ui/scripts/importFromFigma/createThemeScss.js
  packages/admin-ui/scripts/importFromFigma/defaults.js
  packages/admin-ui/scripts/importFromFigma/exports/Alias tokens.json
  packages/admin-ui/scripts/importFromFigma/normalizeFigmaExport.js
  packages/admin-ui/scripts/importFromFigma/templates/theme.scss.txt
  packages/admin-ui/src/Button/Button.stories.tsx
  packages/admin-ui/src/Button/Button.tsx
  packages/admin-ui/src/Progress/CircularProgress.stories.tsx
  packages/admin-ui/src/Progress/CircularProgress.tsx
  packages/admin-ui/src/theme.scss
  packages/admin-ui/src/utils.ts
  packages/admin-ui/tailwind.config.js
  packages/admin-ui/tailwind.config.theme.js
Labels: new-admin-ui

#4351 fix(api-headless-cms-bulk-actions): empty trash bin processing entries in series
  packages/api-headless-cms-bulk-actions/src/handlers/eventBridgeEventHandler.ts
  packages/api-headless-cms-bulk-actions/src/plugins/createBulkActionGraphQL.ts
  packages/api-headless-cms-bulk-actions/src/plugins/createDefaultGraphQL.ts
  packages/api-headless-cms-bulk-actions/src/tasks/createEmptyTrashBinsTask.ts
  packages/api-headless-cms-bulk-actions/src/types.ts
  packages/api-headless-cms-import-export/src/graphql/index.ts
  packages/api-headless-cms/src/crud/contentModel/validateModelFields.ts
  packages/handler-graphql/src/plugins/GraphQLSchemaPlugin.ts
Labels: cms

#4249 feat(admin-ui): Toast component
  packages/admin-ui/package.json
  packages/admin-ui/src/Heading/Heading.tsx
  packages/admin-ui/src/Providers/Providers.tsx
  packages/admin-ui/src/Text/Text.tsx
  packages/admin-ui/src/Toast/Toast.stories.tsx
  packages/admin-ui/src/Toast/Toast.tsx
  packages/admin-ui/src/Toast/index.ts
  packages/admin-ui/src/index.ts
  packages/admin-ui/src/utils.ts
  packages/admin-ui/tailwind.config.js
  packages/app-admin/src/base/Admin.tsx
  packages/app-admin/src/base/providers/AdminUiStateProvider.tsx
  packages/app-admin/src/base/providers/UiProviders.tsx
  packages/ui/package.json
  packages/ui/src/Snackbar/README.md
  packages/ui/src/Snackbar/Snackbar.tsx
  yarn.lock
Labels: ui, new-admin-ui

#4378 refactor(admin-ui): correct design tokens to Tooltip component
  packages/admin-ui/src/Label/Label.stories.tsx
  packages/admin-ui/src/Providers/Providers.tsx
  packages/admin-ui/src/Tooltip/Tooltip.stories.tsx
  packages/admin-ui/src/Tooltip/Tooltip.tsx
Labels: ui, new-admin-ui

#4373 Avatar Component
  packages/admin-ui/package.json
  packages/admin-ui/scripts/importFromFigma/createTailwindConfigTheme.js
  packages/admin-ui/scripts/importFromFigma/createThemeScss.js
  packages/admin-ui/src/Avatar/Avatar.stories.tsx
  packages/admin-ui/src/Avatar/Avatar.tsx
  packages/admin-ui/src/Avatar/index.ts
  packages/admin-ui/src/Heading/Heading.tsx
  packages/admin-ui/src/index.ts
  packages/admin-ui/src/theme.scss
  packages/admin-ui/src/utils.ts
  packages/admin-ui/tailwind.config.theme.js
  packages/ui/src/Avatar/Avatar.tsx
  packages/ui/src/Avatar/README.md
  yarn.lock
Labels: new-admin-ui

#4381 feat(admin-ui): add tokens and presenter to Switch
  packages/admin-ui/src/Switch/Switch.stories.tsx
  packages/admin-ui/src/Switch/Switch.tsx
  packages/admin-ui/src/Switch/SwitchPresenter.test.ts
  packages/admin-ui/src/Switch/SwitchPresenter.ts
  packages/admin-ui/src/Switch/index.ts
  packages/admin-ui/src/Switch/useSwitch.ts
  packages/ui/src/Switch/Switch.tsx
Labels: ui, new-admin-ui

#4382 feat(admin-ui): add tokens to Slider and RangeSlider
  packages/admin-ui/src/Slider/Slider.tsx
Labels: ui, new-admin-ui

#4383 refactor(admin-ui): add tokens to Label
  packages/admin-ui/src/Label/Label.stories.tsx
  packages/admin-ui/src/Label/Label.tsx
Labels: ui, new-admin-ui

#4386 New Admin UI - Alert Component
  packages/admin-ui/scripts/importFromFigma/createTailwindConfigTheme.js
  packages/admin-ui/scripts/importFromFigma/createThemeScss.js
  packages/admin-ui/scripts/importFromFigma/exports/Alias tokens.json
  packages/admin-ui/src/Alert/Alert.stories.tsx
  packages/admin-ui/src/Alert/Alert.tsx
  packages/admin-ui/src/Alert/index.ts
  packages/admin-ui/src/Button/Button.stories.tsx
  packages/admin-ui/src/Button/Button.tsx
  packages/admin-ui/src/index.ts
  packages/admin-ui/src/theme.scss
  packages/admin-ui/tailwind.config.theme.js
  packages/ui/src/Alert/Alert.tsx
  packages/ui/src/Alert/README.md
Labels: new-admin-ui

#4388 refactor(app-headless-cms): set list entries fields using ACO config
  packages/app-aco/src/contexts/records.tsx
  packages/app-aco/src/graphql/records/listRecords.ts
  packages/app-headless-cms/src/admin/views/contentEntries/ContentEntries.tsx
  packages/app-headless-cms/src/admin/views/contentEntries/ContentEntriesDebounceRender.tsx
Labels: Headless CMS

#4252 New Admin UI - `Grid` / `Col` Components
  packages/admin-ui/src/Button/Button.stories.tsx
  packages/admin-ui/src/Card/Card.stories.tsx
  packages/admin-ui/src/Grid/Grid.stories.tsx
  packages/admin-ui/src/Grid/Grid.tsx
  packages/admin-ui/src/Grid/index.ts
  packages/admin-ui/src/Heading/Heading.tsx
  packages/admin-ui/src/Icon/Icon.stories.tsx
  packages/admin-ui/src/Text/Text.tsx
  packages/admin-ui/src/index.ts
  packages/ui/src/Elevation/Elevation.tsx
  packages/ui/src/Grid/Grid.tsx
  yarn.lock
Labels: new-admin-ui

#4412 New Admin UI - Separator Component
  packages/admin-ui/package.json
  packages/admin-ui/src/Separator/Separator.stories.tsx
  packages/admin-ui/src/Separator/Separator.tsx
  packages/admin-ui/src/Separator/index.ts
  packages/admin-ui/src/index.ts
  yarn.lock
Labels: new-admin-ui

#4407 feat(admin-ui): Textarea component
  packages/admin-ui/scripts/importFromFigma/exports/Alias tokens.json
  packages/admin-ui/scripts/importFromFigma/templates/theme.scss.txt
  packages/admin-ui/src/Input/Input.tsx
  packages/admin-ui/src/Textarea/Textarea.stories.tsx
  packages/admin-ui/src/Textarea/Textarea.tsx
  packages/admin-ui/src/Textarea/index.ts
  packages/admin-ui/src/index.ts
  packages/admin-ui/src/theme.scss
  packages/admin-ui/tailwind.config.theme.js
Labels: new-admin-ui

#4400 feat(admin-ui): Radio & RadioGroup component
  packages/admin-ui/package.json
  packages/admin-ui/src/Radio/Radio.tsx
  packages/admin-ui/src/Radio/RadioGroup.stories.tsx
  packages/admin-ui/src/Radio/RadioGroup.tsx
  packages/admin-ui/src/Radio/RadioGroupPresenter.test.ts
  packages/admin-ui/src/Radio/RadioGroupPresenter.ts
  packages/admin-ui/src/Radio/RadioItem.ts
  packages/admin-ui/src/Radio/RadioItemFormatted.ts
  packages/admin-ui/src/Radio/RadioItemFormatter.ts
  packages/admin-ui/src/Radio/RadioItemParams.ts
  packages/admin-ui/src/Radio/index.ts
  packages/admin-ui/src/Radio/useRadioGroup.ts
  packages/admin-ui/src/index.ts
  yarn.lock
Labels: new-admin-ui

#4405 New Admin UI - Card Component
  packages/admin-ui/src/Button/Button.stories.tsx
  packages/admin-ui/src/Button/Button.tsx
  packages/admin-ui/src/Card/Card.stories.tsx
  packages/admin-ui/src/Card/Card.tsx
  packages/admin-ui/src/Grid/Grid.stories.tsx
  packages/admin-ui/src/Grid/stories/StyledColumn.tsx
  packages/admin-ui/src/theme.scss
Labels: new-admin-ui
