Repository webiny/webiny-js, pull requests merged in 2025-01, with the labels that each got.

#4480 fix(app-headless-cms): various full screen editor
  packages/app-headless-cms/src/admin/views/contentEntries/ContentEntriesModule.tsx
  packages/app-headless-cms/src/admin/views/contentEntries/ContentEntry/FullScreenContentEntry/FullScreenContentEntry.styled.tsx
  packages/app-headless-cms/src/admin/views/contentEntries/ContentEntry/FullScreenContentEntry/FullScreenContentEntry.tsx
  packages/app-headless-cms/src/admin/views/contentEntries/ContentEntry/FullScreenContentEntry/RevisionListDrawer/RevisionListDrawer.tsx
  packages/app-headless-cms/src/utils/cmsLegacyEntryEditor.ts
  packages/feature-flags/src/index.ts
  webiny.project.ts
Labels: cms

#4470 fix: aco small improvements
  packages/app-aco/src/components/FolderTree/List/index.tsx
  packages/app-aco/src/contexts/records.tsx
  packages/app-aco/src/dialogs/DialogSetPermissions/UsersTeamsSelection/ListItemMeta.tsx
  packages/app-admin/src/components/Dialogs/DialogsContext.tsx
  packages/app-file-manager/src/components/BottomInfoBar/SupportedFileTypes.tsx
  packages/app-file-manager/src/modules/FileManagerRenderer/FileManagerViewProvider/FileManagerViewContext.tsx
  packages/app-file-manager/src/modules/FileManagerRenderer/FileManagerViewProvider/useListFiles.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/BulkActions/BulkActions.styled.tsx
Labels: aco

#4467 feat(admin-ui): add CodeEditor component
  packages/admin-ui/package.json
  packages/admin-ui/src/CodeEditor/CodeEditor.stories.tsx
  packages/admin-ui/src/CodeEditor/CodeEditor.tsx
  packages/admin-ui/src/CodeEditor/CodeEditorPrimitive.stories.tsx
  packages/admin-ui/src/CodeEditor/CodeEditorPrimitive.tsx
  packages/admin-ui/src/CodeEditor/index.ts
  packages/admin-ui/src/index.ts
  packages/ui/package.json
  packages/ui/src/CodeEditor/CodeEditor.tsx
  packages/ui/src/CodeEditor/README.md
  yarn.lock
Labels: new-admin-ui

#4490 fix: hide tabs bar on full screen entry form
  packages/app-headless-cms/src/admin/views/contentEntries/ContentEntry/FullScreenContentEntry/FullScreenContentEntry.styled.tsx
Labels: cms

#4493 New Admin UI - Remove `TopProgressBar` Component
  packages/ui/package.json
  packages/ui/src/TopProgressBar/README.md
  packages/ui/src/TopProgressBar/TopProgressBar.tsx
  packages/ui/src/TopProgressBar/hoc/index.ts
  packages/ui/src/TopProgressBar/hoc/withTopProgressBar.tsx
  packages/ui/src/TopProgressBar/index.ts
  packages/ui/src/TopProgressBar/style.scss
  yarn.lock
Labels: new-admin-ui

#4468 New Admin UI - Dialog Component
  packages/admin-ui/README.md
  packages/admin-ui/package.json
  packages/admin-ui/scripts/importFromFigma/createThemeScss.js
  packages/admin-ui/scripts/importFromFigma/exports/Alias tokens.json
  packages/admin-ui/src/Card/Card.tsx
  packages/admin-ui/src/Dialog/Dialog.stories.tsx
  packages/admin-ui/src/Dialog/Dialog.tsx
  packages/admin-ui/src/Dialog/components/CancelButton.tsx
  packages/admin-ui/src/Dialog/components/ConfirmButton.tsx
  packages/admin-ui/src/Dialog/components/DialogBody.tsx
  packages/admin-ui/src/Dialog/components/DialogClose.tsx
  packages/admin-ui/src/Dialog/components/DialogContent.tsx
  packages/admin-ui/src/Dialog/components/DialogDescription.tsx
  packages/admin-ui/src/Dialog/components/DialogFooter.tsx
  packages/admin-ui/src/Dialog/components/DialogHeader.tsx
  packages/admin-ui/src/Dialog/components/DialogOverlay.tsx
  packages/admin-ui/src/Dialog/components/DialogPortal.tsx
  packages/admin-ui/src/Dialog/components/DialogRoot.tsx
  packages/admin-ui/src/Dialog/components/DialogTitle.tsx
  packages/admin-ui/src/Dialog/components/DialogTrigger.tsx
  packages/admin-ui/src/Dialog/components/Icon.tsx
  packages/admin-ui/src/Dialog/index.ts
  packages/admin-ui/src/DropdownMenu/DropdownMenu.tsx
  packages/admin-ui/src/index.ts
  packages/admin-ui/src/theme.scss
  packages/app-aco/src/components/AdvancedSearch/QueryManagerDialog/QueryManagerDialog.styled.tsx
  packages/app-admin-rmwc/src/modules/Overlays/Dialog.tsx
  packages/app-admin/src/components/Dialogs/CustomDialog.tsx
  packages/app-admin/src/components/Dialogs/Dialog.tsx
  packages/app-admin/src/components/Dialogs/styled.tsx
  packages/app-form-builder/src/admin/components/FormEditor/Tabs/EditTab/EditFieldDialog.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Header/ButtonsCreate/ButtonsCreate.tsx
  packages/app-page-builder/src/admin/components/Table/Header/ButtonsCreate/ButtonsCreate.tsx
  packages/app-page-builder/src/admin/views/Categories/CategoriesDialog.tsx
  packages/app-page-builder/src/editor/plugins/defaultBar/components/ExportPageButton/useExportPageRevisionSelectorDialog.tsx
  packages/ui/package.json
  packages/ui/src/Alert/Alert.tsx
  packages/ui/src/Dialog/Dialog.tsx
  packages/ui/src/Grid/Grid.tsx
  yarn.lock
Labels: new-admin-ui

#4474 New Admin UI - Colors and Theming
  .gitignore
  packages/admin-ui/DEVELOPMENT.md
  packages/admin-ui/package.json
  packages/admin-ui/scripts/importFromFigma.js
  packages/admin-ui/scripts/importFromFigma/createThemeScss.js
  packages/admin-ui/scripts/importFromFigma/exports/Alias tokens.json
  packages/admin-ui/scripts/importFromFigma/exports/Primitives.json
  packages/admin-ui/scripts/importFromFigma/normalizePrimitivesFigmaExport.js
  packages/admin-ui/scripts/importFromFigma/templates/theme.scss.txt
  packages/admin-ui/src/theme.scss
  packages/admin-ui/tailwind.config.theme.js
  packages/app-admin-cognito/src/components/StyledComponents.ts
  packages/app-admin-rmwc/src/modules/Navigation/Styled.ts
  packages/app-admin/package.json
  packages/app-admin/src/base/Admin.tsx
  packages/app-admin/src/config/AdminConfig.tsx
  packages/app-admin/src/config/AdminConfig/Theme.tsx
  packages/app-admin/src/config/AdminConfig/Theme/assignColor.ts
  packages/app-admin/src/config/AdminConfig/Theme/consts.ts
  packages/app-admin/src/config/AdminConfig/Theme/types.ts
  packages/app-admin/src/index.ts
  packages/app-admin/src/styles/material-theme-assignments.scss
  packages/app-serverless-cms/src/index.tsx
  packages/app-tenant-manager/src/index.tsx
  packages/app-wcp/src/WcpProvider.tsx
  packages/ui/src/TopAppBar/TopAppBar.tsx
  yarn.lock
Labels: new-admin-ui

#4489 feat(admin-ui): DataTable + Skeleton components
  packages/admin-ui/package.json
  packages/admin-ui/src/Checkbox/CheckboxItemDto.ts
  packages/admin-ui/src/Checkbox/CheckboxItemFormatted.ts
  packages/admin-ui/src/Checkbox/CheckboxItemMapper.ts
  packages/admin-ui/src/Checkbox/CheckboxPresenter.test.ts
  packages/admin-ui/src/Checkbox/CheckboxPrimitive.tsx
  packages/admin-ui/src/DataTable/DataTable.stories.tsx
  packages/admin-ui/src/DataTable/DataTable.tsx
  packages/admin-ui/src/DataTable/components/ColumnSorter.tsx
  packages/admin-ui/src/DataTable/components/ColumnsVisibility.tsx
  packages/admin-ui/src/DataTable/components/index.ts
  packages/admin-ui/src/DataTable/index.ts
  packages/admin-ui/src/Skeleton/Skeleton.stories.tsx
  packages/admin-ui/src/Skeleton/Skeleton.tsx
  packages/admin-ui/src/Skeleton/index.ts
  packages/admin-ui/src/Table/Table.tsx
  packages/admin-ui/src/Table/components/Body.tsx
  packages/admin-ui/src/Table/components/Caption.tsx
  packages/admin-ui/src/Table/components/Cell.tsx
  packages/admin-ui/src/Table/components/Direction.tsx
  packages/admin-ui/src/Table/components/Footer.tsx
  packages/admin-ui/src/Table/components/Head.tsx
  packages/admin-ui/src/Table/components/Header.tsx
  packages/admin-ui/src/Table/components/Resizer.tsx
  packages/admin-ui/src/Table/components/Row.tsx
  packages/admin-ui/src/Table/components/index.ts
  packages/admin-ui/src/Table/index.ts
  packages/admin-ui/src/index.ts
  packages/ui/package.json
  packages/ui/src/DataTable/ColumnDirection.tsx
  packages/ui/src/DataTable/DataTable.tsx
  packages/ui/src/DataTable/README.md
  packages/ui/src/DataTable/styled.tsx
  packages/ui/src/List/DataList/Loader.tsx
  packages/ui/src/Skeleton/README.md
  packages/ui/src/Skeleton/Skeleton.tsx
  yarn.lock
Labels: new-admin-ui

#4492 fix(admin-ui): various UI fixes
  packages/admin-ui/src/AutoComplete/primitives/AutoCompletePrimitive.tsx
  packages/admin-ui/src/AutoComplete/primitives/presenters/AutoCompleteListOptionsPresenter.ts
  packages/admin-ui/src/AutoComplete/primitives/presenters/AutoCompletePresenter.test.ts
  packages/admin-ui/src/AutoComplete/primitives/presenters/AutoCompletePresenter.ts
  packages/admin-ui/src/AutoComplete/primitives/useAutoComplete.ts
  packages/admin-ui/src/Avatar/Avatar.stories.tsx
  packages/admin-ui/src/Avatar/Avatar.tsx
  packages/admin-ui/src/Dialog/Dialog.stories.tsx
  packages/admin-ui/src/Drawer/Drawer.stories.tsx
  packages/admin-ui/src/FormComponent/Label.tsx
  packages/admin-ui/src/Icon/Icon.stories.tsx
  packages/admin-ui/src/Icon/Icon.tsx
  packages/admin-ui/src/Input/InputPrimitive.tsx
  packages/admin-ui/src/Label/Label.tsx
  packages/admin-ui/src/MultiAutoComplete/primitives/MultiAutoCompletePrimitive.tsx
  packages/admin-ui/src/Popover/Popover.tsx
  packages/admin-ui/src/Select/SelectPrimitive.tsx
  packages/admin-ui/src/Tabs/Tabs.stories.tsx
  packages/admin-ui/src/Tabs/Tabs.tsx
  packages/admin-ui/src/Tabs/components/Content.tsx
  packages/admin-ui/src/Tabs/components/Context.tsx
  packages/admin-ui/src/Tabs/components/List.tsx
  packages/admin-ui/src/Tabs/components/Tab.tsx
  packages/admin-ui/src/Tabs/components/Trigger.tsx
  packages/admin-ui/src/Tabs/components/index.ts
  packages/admin-ui/src/Textarea/TextareaPrimitive.tsx
  packages/admin-ui/src/Tooltip/Tooltip.tsx
  packages/admin-ui/src/utils.ts
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/components/AutoComplete.tsx
  packages/app-headless-cms/src/admin/components/ContentEntries/Filters/RefFieldRenderer/domain/EntryRepository.ts
  packages/ui/src/AutoComplete/AutoComplete.tsx
  packages/ui/src/AutoComplete/utils.ts
  packages/ui/src/Chips/Chip.tsx
  packages/ui/src/Tabs/Tab.tsx
  packages/ui/src/Tabs/Tabs.tsx
Labels: new-admin-ui
